<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>권한 관리 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>
    <script type="text/javascript">
        function fnOpenModal(){
            layerShow('popModify')
        }
    </script>
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="contents">
            <h1 class="logo">
                <a href="../index.html">
                    <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                </a>
            </h1>
            <div class="user_info">
                <a href="../user/index.html" class="user">
                    <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                    <span>maummcc</span>
                </a>
                <a href="javascript:void(0);" class="btn_logout">
                    <span class="blind">로그아웃</span>
                </a>
            </div>
        </div>
    </header>

    <div id="container">
        <aside id="aside">
            <nav>
                <ul class="nav">
                    <li class="ico_chart">
                        <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                        <ul class="depth">
                            <li>
                                <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/statistic.html">기간별 통계</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_database">
                        <a href="javascript:void(0);">학습 관리</a>
                        <ul class="depth">
                            <li>
                                <a href="../learn/cardManage.html">BC카드 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/billManage.html">세금계산서 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/templateManage.html">학습 템플릿 관리</a>
                            </li>
                            <li>
                                <a href="../learn/learningDataManage.html">학습 데이터 관리</a>
                            </li>
                            <li>
                                <a href="../learn/modelManage.html">모델 관리</a>
                            </li>
                            <li>
                                <a href="../learn/deployManage.html">배포 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_dns">
                        <a href="javascript:void(0);">시스템 상태</a>
                        <ul class="depth">
                            <li>
                                <a href="../system/monitoring.html">모니터링</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_manage active">
                        <a href="javascript:void(0);">Admin</a>
                        <ul class="depth" style="display: block">
                            <li>
                                <a href="javascript:void(0);">조직 관리</a>
                                <ul>
                                    <li>
                                        <a href="../admin/department.html">부서 관리</a>
                                    </li>
                                    <li>
                                        <a href="../admin/user.html">사용자 관리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/menu.html">메뉴 관리</a>
                            </li>
                            <li class="active">
                                <a href="../admin/auth.html">권한 관리</a>
                            </li>
                            <li>
                                <a href="../admin/scheduler.html">학습 스케줄러 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="javascript:;" class="btn_toggle_aside">
                <span class="blind">메뉴 접기</span>
            </a>
        </aside>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">Admin</h2>
                    <h3 class="page_tit">권한 관리</h3>
                </div>
            </div>

            <div class="board_top">
                <div>
                    <div class="total_num"><b>4</b> 명의 사용자가 있습니다.</div>
                </div>
                <div class="mla">
                    <div class="filter_area">
                        <button type="button" class="btn btn_text btn_filter">
                            <i class="ico_filter"></i>
                            <span>검색</span>
                        </button>

                        <div class="filter">
                            <div class="inner">
                                <dl>
                                    <dt>시스템 사용여부</dt>
                                    <dd>
                                        <div class="df">
                                            <div class="radio txt">
                                                <input type="radio" name="schAuthType" id="radioAll" value="all" checked="checked">
                                                <label for="radioAll">모두</label>
                                            </div>
                                            <div class="radio txt">
                                                <input type="radio" name="schAuthType" id="schUser" value="user">
                                                <label for="schUser">사용자</label>
                                            </div>
                                            <div class="radio txt">
                                                <input type="radio" name="schAuthType" id="schAdmin" value="admin">
                                                <label for="schAdmin">관리자</label>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="searchKeyword">검색어</label>
                                    </dt>
                                    <dd>
                                        <div class="search_form">
                                            <label for="schCrtr" class="blind">검색어 타입</label>
                                            <select name="schCrtr" id="schCrtr">
                                                <option value="all" selected="selected">전체
                                                </option>
                                                <option value="memId">
                                                    사용자ID
                                                </option>
                                                <option value="memName">사용자명
                                                </option>
                                                <option value="deptName">부서명
                                                </option>
                                                <option value="memPhone">연락처
                                                </option>
                                            </select>
                                            <div class="search">
                                                <input type="search" id="searchKeyword" placeholder="검색어를 입력하세요.">
                                                <button type="button" class="btn_del" tabindex="-1">
                                                    <span class="blind">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <div class="btn_area">
                                    <button type="button" class="btn line_cool_grey30">
                                        <span>초기화</span>
                                    </button>
                                    <button type="button" class="btn fill">
                                        <span>검색</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="selected_filter"></div>

            <!--TODO : 데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <!--<div class="nodata">
				<p>검색 결과가 없습니다.</p>
			</div>-->
            <!--데이터가 없을 때 : e-->
            <table class="tbl_list">
                <caption>권한 관리 : No, 부서ID, 부서명, 부서명(영문), 연락처, 시스템 사용여부, 등록일, 권한관리로 구성</caption>
                <colgroup>
                    <col style="width: 3.5%;min-width: 44px;">
                    <col style="width: 7%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: 11%;">
                    <col style="width: 15%;min-width: 160px;">
                    <col style="width:auto;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No.</th>
                    <th scope="col">이름</th>
                    <th scope="col">사용자ID</th>
                    <th scope="col">부서명</th>
                    <th scope="col">연락처</th>
                    <th scope="col">등록일</th>
                    <th scope="col">권한관리</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>1</td>
                    <td>서비스 관리자</td>
                    <td>serviceadmin</td>
                    <td>서비스관리</td>
                    <td></td>
                    <td>2024-10-24 09:25:24</td><td>
                    <button type="button" class="badge" onclick="fnOpenModal(&quot;16&quot;,&quot;serviceadmin&quot;,&quot;USER&quot;); return false;">
                        <i class="ico_plus"></i>
                        <span>권한관리</span>
                    </button>
                </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>it관리자</td>
                    <td>itadmin</td>
                    <td>IT팀</td>
                    <td></td>
                    <td>2024-10-24 09:25:00</td><td>
                    <button type="button" class="badge" onclick="fnOpenModal(&quot;15&quot;,&quot;itadmin&quot;,&quot;USER&quot;); return false;">
                        <i class="ico_plus"></i>
                        <span>권한관리</span>
                    </button>
                </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>사용자</td>
                    <td>user</td>
                    <td></td>
                    <td></td>
                    <td>2023-01-11 14:01:38</td><td>
                    <button type="button" class="badge" onclick="fnOpenModal(&quot;2&quot;,&quot;user&quot;,&quot;USER&quot;); return false;">
                        <i class="ico_plus"></i>
                        <span>권한관리</span>
                    </button>
                </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>관리자</td>
                    <td>admin</td>
                    <td></td>
                    <td></td>
                    <td>2023-01-11 14:01:38</td><td>
                    <button type="button" class="badge" onclick="fnOpenModal(&quot;1&quot;,&quot;admin&quot;,&quot;ADMIN&quot;); return false;">
                        <i class="ico_plus"></i>
                        <span>권한관리</span>
                    </button>
                </td>
                </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button type="button" class="active">
                    1
                </button>
            </div>
        </div>
    </div>
</div>

<!--권한관리 팝업 : s-->
<div id="popModify" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">권한관리 수정</strong>
            <button type="button" class="btn_close" onclick="layerHide('popModify')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div>사용할 시스템(메뉴)를 선택하세요.</div>
            <div class="tree_area" style="height:400px;margin-top:16px;"></div>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>저장</span>
            </button>
        </div>
    </div>
</div>
<!--권한관리 수정 : e-->

<!--얼럿 : s-->
<div id="alertWarning" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_warning"></i>
            <strong class="pop_tit">삭제하시겠습니까?</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('alertWarning')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('alertWarning')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->

<!--얼럿 : s-->
<div id="alertComplete" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_complete"></i>
            <strong class="pop_tit">사용 가능한 아이디입니다.</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn fill" onclick="layerHide('alertComplete')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->
</body>
</html>