<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학습 스케줄러 관리 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>
    <style>
        .tbl_list > thead > tr > th {
            padding: 0 8px
        }

        .tbl_list > tbody > tr > td {
            padding: 0 8px
        }

        .tbl_list tbody td a {
            cursor: pointer;
            text-decoration: underline;
            color: #004c9d !important;
        }
    </style>
    <script type="text/javascript">
        $(function(){

            fn_setDatePicker('#stYmd');

            //학습 팝업 도움말
            $('.btn_help').each(function () {
                $(this).on('click', function () {
                    $(this).parent('.th_help_area').toggleClass('active').parents('.tr').siblings('.tr').find('.th_help_area').removeClass('active');
                });
            });
            $(document).on('click', function (e) {
                if (!$(e.target).parents('div').hasClass('th_help_area')) {
                    $('.th_help_area').removeClass('active');
                }
            });
        });
        function fn_schedulerDetail(obj) {
            layerShow('popRegister')
        }
    </script>
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="contents">
            <h1 class="logo">
                <a href="../index.html">
                    <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                </a>
            </h1>
            <div class="user_info">
                <a href="../user/index.html" class="user">
                    <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                    <span>maummcc</span>
                </a>
                <a href="javascript:void(0);" class="btn_logout">
                    <span class="blind">로그아웃</span>
                </a>
            </div>
        </div>
    </header>

    <div id="container">
        <aside id="aside">
            <nav>
                <ul class="nav">
                    <li class="ico_chart">
                        <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                        <ul class="depth">
                            <li>
                                <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/statistic.html">기간별 통계</a>
                            </li>
                        </ul>
                    </li>

                    <li class="ico_database">
                        <a href="javascript:void(0);">학습 관리</a>
                        <ul class="depth">
                            <li>
                                <a href="../learn/cardManage.html">BC카드 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/billManage.html">세금계산서 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/templateManage.html">학습 템플릿 관리</a>
                            </li>
                            <li>
                                <a href="../learn/learningDataManage.html">학습 데이터 관리</a>
                            </li>
                            <li>
                                <a href="../learn/modelManage.html">모델 관리</a>
                            </li>
                            <li>
                                <a href="../learn/deployManage.html">배포 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_dns">
                        <a href="javascript:void(0);">시스템 상태</a>
                        <ul class="depth">
                            <li>
                                <a href="../system/monitoring.html">모니터링</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_manage active">
                        <a href="javascript:void(0);">Admin</a>
                        <ul class="depth" style="display: block">
                            <li>
                                <a href="javascript:void(0);">조직 관리</a>
                                <ul>
                                    <li>
                                        <a href="../admin/department.html">부서 관리</a>
                                    </li>
                                    <li>
                                        <a href="../admin/user.html">사용자 관리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/menu.html">메뉴 관리</a>
                            </li>
                            <li>
                                <a href="../admin/auth.html">권한 관리</a>
                            </li>
                            <li class="active">
                                <a href="../admin/scheduler.html">학습 스케줄러 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="javascript:;" class="btn_toggle_aside">
                <span class="blind">메뉴 접기</span>
            </a>
        </aside>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">Admin</h2>
                    <h3 class="page_tit">학습 스케줄러 관리</h3>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('popRegister')">
                        <span>등록</span>
                    </button>
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('alertWarning')">
                        <span>삭제</span>
                    </button>
                </div>
            </div>

            <div class="board_top">
                <div>
                    <div class="total_num"><b>1</b> 개의 글이 있습니다.</div>
                </div>
                <div class="mla">
                    <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                    <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility">
                        <option value="10">10개</option>
                        <option value="20" selected>20개</option>
                        <option value="30">30개</option>
                        <option value="40">40개</option>
                        <option value="50">50개</option>
                    </select>
                    <label for="sorting" class="blind">정렬조건</label>
                    <select name="sorting" id="sorting" class="sel_board sel_sorting">
                        <option value="asc">과거순</option>
                        <option value="desc" selected>최신순</option>
                    </select>
                    <div class="filter_area">
                        <button type="button" class="btn btn_text btn_filter active"> <!--TODO : 선택된 조건이 있을 때는 클래스 active 추가, 필터 삭제되면 클래스 active 삭제-->
                            <i class="ico_filter"></i>
                            <span>검색</span>
                        </button>

                        <div class="filter">
                            <div class="inner">
                                <dl>
                                    <dt>
                                        <label for="searchLearningType">구분</label>
                                    </dt>
                                    <dd>
                                        <select name="searchLearningType" id="searchLearningType">
                                            <option value="" selected>전체</option>
                                            <option class="CARD" value="CARD">BC카드</option>
                                            <option class="BILL" value="BILL">세금계산서</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="target">대상</label>
                                    </dt>
                                    <dd>
                                        <select name="target" id="target">
                                            <option value="" selected>전체</option>
                                            <option value="">본부</option>
                                            <option value="">영업점</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="searchKeyword">검색어</label>
                                    </dt>
                                    <dd>
                                        <div class="search_form">
                                            <div class="search">
                                                <input type="search" id="searchKeyword" placeholder="이름, 사용템플릿, 등록자를 입력하세요.">
                                                <button type="button" class="btn_del" tabindex="-1">
                                                    <span class="blind">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <div class="btn_area">
                                    <button type="button" class="btn line_cool_grey30">
                                        <span>초기화</span>
                                    </button>
                                    <button type="button" class="btn fill">
                                        <span>검색</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="selected_filter"></div>

            <!--TODO : 데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <!--<div class="nodata">
				<p>검색 결과가 없습니다.</p>
			</div>-->
            <!--데이터가 없을 때 : e-->

            <table class="tbl_list">
                <caption>학습 스케줄러 관리 : No, 스케줄러명, 모델명, 등록자, 상태, 최근 동작 일시, 등록일시로 구성</caption>
                <colgroup>
                    <col style="width: 3.5%;min-width: 44px;">
                    <col style="width: 45px;">
                    <col style="width: 15%;">
                    <col style="width: 5%;">
                    <col style="width: 5%;">

                    <col style="width: 20%;">
                    <col style="width: 5%;">
                    <col style="width: 5%;">
                    <col style="width: 10%;">
                    <col style="width: 10%;">
                    <col style="width: auto;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="allChk" class="all_chk">
                            <label for="allChk">
                                <span class="blind">전체선택</span>
                            </label>
                        </div>
                    </th>
                    <th scope="col">No</th>
                    <th scope="col">이름</th>
                    <th scope="col">구분</th>
                    <th scope="col">대상</th>

                    <th scope="col">사용템플릿</th>
                    <th scope="col">등록자</th>
                    <th scope="col">실행상태</th>
                    <th scope="col">최근 동작 일시</th>
                    <th scope="col">등록 일시</th>
                    <th scope="col">배치 설명</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk_65" value="65">
                            <label for="chk_65">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>1</td>
                    <td>
                        <a onclick="fn_schedulerDetail(65)" value="65">(AN)스케줄러 테스트_0304</a>
                    </td>
                    <td>영업점</td>
                    <td>BC카드</td>
                    <td>0304_test</td>
                    <td>관리자</td>
                    <td>사용</td>
                    <td>2025-03-04 22:40:00</td>
                    <td>2025-03-04 12:24:13</td>
                    <td>매주 화요일 저녁10시 40분</td>
                </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button type="button" class="active">
                    1
                </button>
            </div>
        </div>
    </div>
</div>

<!--수정 팝업 : s-->
<div id="popModify" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">사용자 수정</strong>
            <button type="button" class="btn_close" onclick="layerHide('popModify')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <table class="tbl_write">
                <caption>사용자 수정 : 부서명/부서ID, 아이디, 비밀번호, 이름, 성별, 생년월일, 이메일, 휴대폰 번호, 직급, 부서, 주소, 사용여부로 구성</caption>
                <colgroup>
                    <col style="width:140px">
                    <col style="width:calc(50% - 140px)">
                    <col style="width:140px">
                    <col style="width:calc(50% - 140px)">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">
                        <label for="modDeptName">부서명</label>/<label for="modDeptCode">부서ID</label>
                        <span class="aster"></span>
                    </th>
                    <td colspan="3">
                        <div class="input">
                            <input type="text" id="modDeptName" readonly>
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                        <div class="df">
                            <div class="input flb223">
                                <input type="text" id="modDeptCode" readonly>
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                            <button type="button" class="btn line_cool_grey30" onclick="layerShow('popSearch')">
                                <span>조회</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        아이디
                        <span class="aster"></span>
                    </th>
                    <td>admin</td>
                    <th scope="row">비밀번호</th>
                    <td>
                        <button type="button" class="btn line_cool_grey30">
                            <span>비밀번호 초기화</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <th scope="row"></th>
                    <td></td>
                    <th scope="row">성별</th>
                    <td>
                        <div class="df">
                            <div class="radio txt">
                                <input type="radio" name="modMemGender" id="modMan" checked>
                                <label for="modMan">남</label>
                            </div>
                            <div class="radio txt">
                                <input type="radio" name="modMemGender" id="modWoman">
                                <label for="modWoman">여</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        이름
                        <span class="aster"></span>
                    </th>
                    <td>관리자</td>
                    <th scope="row">
                        <label for="modMemBirthday">생년월일</label>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="modMemBirthday" placeholder="생년월일을 입력하세요.">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="modMemEmail1">이메일</label>
                    </th>
                    <td>
                        <div class="email_form">
                            <div class="input">
                                <input type="text" id="modMemEmail1" placeholder="이메일 입력">
                            </div>
                            <div class="at">@</div>
                            <div class="input input_email">
                                <input type="text" id="modMemEmail2">
                            </div>
                            <select name="modMemEmail3" id="modMemEmail3">
                                <option value="1">직접입력</option>
                                <option value="naver.com">naver.com</option>
                                <option value="gmail.com">gmail.com</option>
                                <option value="hanmail.net">hanmail.net</option>
                                <option value="daum.net">daum.net</option>
                                <option value="nate.com">nate.com</option>
                                <option value="hotmail.com">hotmail.com</option>
                                <option value="cholllan.net">cholllan.net</option>
                                <option value="empal.com">empal.com</option>
                                <option value="hanmir.com">hanmir.com</option>
                                <option value="korea.com">korea.com</option>
                                <option value="msn.com">msn.com</option>
                                <option value="paran.com">paran.com</option>
                                <option value="sayclub.com">sayclub.com</option>
                                <option value="yahoo.co.kr">yahoo.co.kr</option>
                            </select>
                        </div>
                    </td>
                    <th scope="row">
                        <label for="modMemPhone">휴대폰 번호</label>
                    </th>
                    <td>
                        <div class="input">
                            <input type="tel" id="modMemPhone" placeholder="휴대폰 번호를 입력하세요.">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="modMemPosition">직급</label>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="modMemPosition" placeholder="직급을 입력하세요.">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                    <th scope="row">
                        <label for="modMemDepartment">부서</label>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="modMemDepartment" placeholder="부서를 입력하세요.">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">주소</th>
                    <td colspan="3">
                        <div class="address_form">
                            <div class="df">
                                <div class="input">
                                    <input type="number" id="modMemCodezip" placeholder="우편번호" value="04541" readonly>
                                </div>
                                <button type="button" class="btn line_cool_grey30">
                                    <span>우편번호 검색</span>
                                </button>
                            </div>
                            <div class="input">
                                <input type="text" id="modMemAddress1" placeholder="주소를 검색하세요." value="서울특별시 중구 을지로2가 50" readonly>
                            </div>
                            <div class="input">
                                <input type="text" id="modMemAddress2" placeholder="상세 주소를 입력하세요." value="1층">
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        사용여부
                        <span class="aster"></span>
                    </th>
                    <td colspan="3">
                        <div class="df">
                            <div class="radio txt">
                                <input type="radio" name="modMemStat" id="modMemStat" checked>
                                <label for="modMemStat">사용</label>
                            </div>
                            <div class="radio txt">
                                <input type="radio" name="modMemStat" id="modMemStatUnused">
                                <label for="modMemStatUnused">미사용</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>저장</span>
            </button>
        </div>
    </div>
</div>
<!--상세 수정 : e-->

<!--등록 팝업 : s-->
<div id="popRegister" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">학습 스케줄러 배치 설정</strong>
            <button type="button" class="btn_close" onclick="layerHide('popRegister')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <table class="tbl_write">
                <caption>학습 스케줄러 배치 설정</caption>
                <colgroup>
                    <col style="width:160px">
                    <col style="width:auto">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">
                        <label for="schedNm">이름</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <input type="text" id="schedNm" name="schedNm" class="w250" maxlength="500" placeholder="이름을 입력하세요.">
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="templateId">학습데이터 템플릿</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <select id="templateId">
                            <option value="" disabled="" selected="">선택</option>
                            <option value="129">0306_data</option>
                            <option value="128">0304_test</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="searchMm">예산집행년월</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <div class="df" style="align-items:center;">
                            <span>최근 </span>
                            <select id="searchMm">
                                <option value="" disabled="" selected="">선택</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                                <option value="32">32</option>
                                <option value="33">33</option>
                                <option value="34">34</option>
                                <option value="35">35</option>
                                <option value="36">36</option>
                                <option value="37">37</option>
                                <option value="38">38</option>
                                <option value="39">39</option>
                                <option value="40">40</option>
                                <option value="41">41</option>
                                <option value="42">42</option>
                                <option value="43">43</option>
                                <option value="44">44</option>
                                <option value="45">45</option>
                                <option value="46">46</option>
                                <option value="47">47</option>
                                <option value="48">48</option>
                            </select>
                            <span> 개월</span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label>모델 파라미터</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <div class="div_write">
                            <div class="tr">
                                <div class="th">
                                    <strong>
                                        <label for="epoch">Epoch</label>
                                    </strong>
                                    <div class="th_help_area">
                                        <button type="button" class="btn_help">
                                            <span class="blind">안내</span>
                                        </button>
                                        <div class="th_help">학습 데이터 셋을 학습하는 횟수 (1 ~ 100)</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="input">
                                        <input type="text" id="epoch" value="100" placeholder="Epoch를 입력하세요." onkeyup="fn_numberOnly(this, 100)" oninput="fn_numberOnly(this, 100)">
                                        <button type="button" class="btn_del" tabindex="-1">
                                            <span class="blind">삭제</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th">
                                    <strong>
                                        <label for="learningRate">Learning Rate</label>
                                    </strong>
                                    <div class="th_help_area">
                                        <button type="button" class="btn_help">
                                            <span class="blind">안내</span>
                                        </button>
                                        <div class="th_help">학습률, 최적 값을 찾기 위한 기울기의 이동 정도 (1 ~ 10)</div>
                                    </div>
                                </div>
                                <div class="td df w200">
                                    <div class="input">
                                        <input type="text" id="learningRate" value="3" onkeyup="fn_numberOnly(this, 10)" oninput="fn_numberOnly(this, 10)" placeholder="Learning Rate를 입력하세요.">
                                        <button type="button" class="btn_del" tabindex="-1">
                                            <span class="blind">삭제</span>
                                        </button>
                                    </div>
                                    <strong>e<sub>-5</sub></strong>
                                </div>
                            </div>
                            <div class="tr">
                                <div class="th">
                                    <strong>
                                        <label for="batchSize">Batch Size</label>
                                    </strong>
                                    <div class="th_help_area">
                                        <button type="button" class="btn_help">
                                            <span class="blind">안내</span>
                                        </button>
                                        <div class="th_help">학습 데이터셋 중 몇 개의 데이터를 묶어서 가중치 값을 갱신할 지 지정하는 단위 (1 ~ 16)</div>
                                    </div>
                                </div>
                                <div class="td">
                                    <div class="input">
                                        <input type="text" id="batchSize" value="16" placeholder="Batch Size를 입력하세요." onkeyup="fn_numberOnly(this, 16)" oninput="fn_numberOnly(this, 16)">
                                        <button type="button" class="btn_del" tabindex="-1">
                                            <span class="blind">삭제</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="termTy">주기</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <select id="termTy">
                            <option value="" disabled="" selected="">선택</option>
                            <option value="WEEKLY">1주 (매주)</option>
                            <option value="MONTHLY">4주 (매월)</option>
                            <option value="QUARTER">12주 (분기)</option>
                            <option value="HALF">24주 (반기)</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">적용 시작 일자<span class="aster"></span></th>
                    <td>
                        <div class="df">
                            <label for="stYmd" class="blind"></label>
                            <input type="text" id="stYmd" class="datepicker" readonly="" value="2025.03.07">
                            <select id="stHour">
                                <option value="00">00</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                            </select>
                            <select id="stMin">
                                <option value="00">00</option>
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                                <option value="40">40</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">사용여부<span class="aster"></span></th>
                    <td>
                        <div class="df">
                            <div class="radio txt">
                                <input type="radio" name="useAt" id="useAtY" value="Y" checked="">
                                <label for="useAtY">사용</label>
                            </div>
                            <div class="radio txt">
                                <input type="radio" name="useAt" id="useAtN" value="N">
                                <label for="useAtN">미사용</label>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="des">배치 설명</label>
                    </th>
                    <td>
                        <input type="text" id="des" name="des" class="w250" maxlength="500" placeholder="배치 설명을 입력하세요.">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popRegister')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>설정 저장</span>
            </button>
        </div>
    </div>
</div>
<!--등록 팝업 : e-->

<!--얼럿 : s-->
<div id="alertWarning" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_warning"></i>
            <strong class="pop_tit">삭제하시겠습니까?</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('alertWarning')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('alertWarning')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->

<!--얼럿 : s-->
<div id="alertComplete" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_complete"></i>
            <strong class="pop_tit">사용 가능한 아이디입니다.</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn fill" onclick="layerHide('alertComplete')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->
</body>
</html>