<!--추후 사용 가능성 있음-->
<div id="goodsPop" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">상품 검색</strong>
            <a href="javascript:;" class="btn_close" onclick="layerHide('goodsPop')">
                <span class="blind">팝업 닫기</span>
            </a>
        </div>
        <div class="pop_cont">
            <table class="tbl_list">
                <caption>상품 검색 : 라디오버튼, 이미지, 상품명, 가격, 배송비 포함 여부</caption>
                <colgroup>
                    <col style="width:80px">
                    <col style="width:200px">
                    <col style="width:auto">
                    <col style="width:120px">
                    <col style="width:160px">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">선택</th>
                    <th scope="col">이미지</th>
                    <th scope="col">상품명</th>
                    <th scope="col">가격</th>
                    <th scope="col">배송비 포함 여부</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="radio">
                            <input type="radio" name="mapping" id="Mapping1" checked>
                            <label for="Mapping1"></label>
                        </div>
                    </td>
                    <td>이미지</td>
                    <td>에코화환1</td>
                    <td>140,000</td>
                    <td>포함</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <input type="radio" name="mapping" id="Mapping1" checked>
                            <label for="Mapping1"></label>
                        </div>
                    </td>
                    <td>이미지</td>
                    <td>에코화환1</td>
                    <td>140,000</td>
                    <td>포함</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <input type="radio" name="mapping" id="Mapping1" checked>
                            <label for="Mapping1"></label>
                        </div>
                    </td>
                    <td>이미지</td>
                    <td>에코화환1</td>
                    <td>140,000</td>
                    <td>포함</td>
                </tr>
                <tr>
                    <td>
                        <div class="radio">
                            <input type="radio" name="mapping" id="Mapping1" checked>
                            <label for="Mapping1"></label>
                        </div>
                    </td>
                    <td>이미지</td>
                    <td>에코화환1</td>
                    <td>140,000</td>
                    <td>포함</td>
                </tr>
                <tr>
                    <td scope="row">
                        <div class="radio">
                            <input type="radio" name="mapping" id="Mapping1" checked>
                            <label for="Mapping1"></label>
                        </div>
                    </td>
                    <td>이미지</td>
                    <td>에코화환1</td>
                    <td>140,000</td>
                    <td>포함</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn btn_sm line_primary" onclick="layerShow('mappingClose')">취소</button>
            <button type="button" class="btn btn_sm fill_primary" onclick="layerShow('seveMember')">선택</button>
        </div>
    </div>
</div>