<script>
    function fn_openMemberPop(prefix, mberPrefix,callback) {
        let la = !prefix ? $('#la').val() : $('#rcvLa').val();
        let lo = !prefix ? $('#lo').val() : $('#rcvLo').val();
        if (!la || !lo) {
            showAlert('alert', '주소를 입력해주세요.', function () {
                fn_openAdresPop(prefix, callback);
            });
            return false;
        }

        if (mberPrefix){
            $('#mberLyrPrefix').val(mberPrefix);
        }
        
        let jsonData = {
            'srchLa': la,
            'srchLo': lo
        }

        $.ajax({
            type: 'post',
            url: '/api/v1/s/memberManagement/pop/mappingList',
            contentType: 'application/json;charset=utf-8',
            data: JSON.stringify(jsonData),
            dataType: 'json',
            success: function (data) {
                let $memberTbody = $('#memberTbody');
                $memberTbody.empty();
                let tr = '';
                if (data.length > 0) {
                    data.forEach(function (item){
                        let highlight = item.distance <= 3 ? 'highlight' : '';
                        tr += '<tr>' +
                            '   <td class="'+highlight+'">' +
                            '       <div class="radio txt">' +
                            '           <input type="radio" id="mberLyrMberPid_'+item.mberPid+'" name="mberLyrMberPid" value="'+(item.mberPid+'_'+item.mberCmpnyNm)+'"/>' +
                            '           <label for="mberLyrMberPid_'+item.mberPid+'"></label>' +
                            '       </div>' +
                            '   </td>' +
                            '   <td class="'+highlight+'">'+item.mberCmpnyNm+'</td>' +
                            '   <td class="tal '+highlight+'">'+item.adres+' '+item.dtlAdres+'</td>' +
                            '   <td class="'+highlight+'">'+item.distance+'</td>' +
                            '  </tr>';
                    })
                } else {
                    tr = '<tr>' +
                        '   <td colspan="4">등록된 회원사가 없습니다.</td>' +
                        ' </tr>'
                }

                $memberTbody.html(tr);
                layerShow('memberMappingPop');
            },
            error: function (error) {
                showAlert('alert', error.message);
            }
        });

    }
    
    function fn_selectMember(){
        let mberPid = $('[name=mberLyrMberPid]:checked').val().split('_')[0];
        let mberNm = $('[name=mberLyrMberPid]:checked').val().split('_')[1];

        let mberLyrPrefix = $('#mberLyrPrefix').val();
        
        let $prntPageMberPid = mberLyrPrefix ? $('#'+mberLyrPrefix+'MberPid') : $('#mberPid');
        let $prntPageMberNm = mberLyrPrefix ? $('#'+mberLyrPrefix+'MberNm') : $('#mberNm');

        $prntPageMberPid.val(mberPid);
        $prntPageMberNm.text(mberNm);

        layerHide('memberMappingPop');

    }
</script>
<div id="memberMappingPop" class="pop_layer">
    <input type="hidden" id="mberLyrPrefix"/>
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">회원사 맵핑</strong>
            <a href="javascript:;" class="btn_close" onclick="layerHide('memberMappingPop')">
                <span class="blind">팝업 닫기</span>
            </a>
        </div>
        <div class="pop_cont mt0">
            <p class="tip mt0">표시된 거리는 두 주소 간의 직선 거리입니다. 실제 주행 거리는 도로 상황, 교통 및 경로에 따라 다를 수 있습니다.</p>
            <table class="tbl_list">
                <caption>회원사 맵핑 : 라디오버튼, 회원사명, 주소, 거리</caption>
                <colgroup>
                    <col style="width:10%">
                    <col style="width:20%">
                    <col style="width:50%">
                    <col style="width:20%">
                </colgroup>
                <thead>
                    <tr>
                        <th scope="col">선택</th>
                        <th scope="col">회원사명</th>
                        <th scope="col">주소</th>
                        <th scope="col">거리(km)</th>
                    </tr>
                </thead>
                <tbody id="memberTbody">
                </tbody>
            </table>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn btn_sm line_primary" onclick="layerShow('mappingClose')">취소</button>
            <button type="button" class="btn btn_sm fill_primary" onclick="fn_selectMember()">적용</button>
        </div>
    </div>
</div>

<!--시스템 얼럿 : s-->
<div id="mappingClose" class="system_alert" tabindex="0">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_info"></i>
            <p>주문 건에 대한 회원사 맵핑이 진행되지않습니다.<br>그래도 완료 하시겠습니까?</p>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn fill_cool_grey10" onclick="layerHide('mappingClose')">취소</button>
            <button type="button" class="btn fill_primary" onclick="layerHide('memberMappingPop'); layerHide('mappingClose')">
                확인
            </button>
        </div>
    </div>
</div>
<!--시스템 얼럿 : e-->
