<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>부서 관리 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>
    <script type="text/javascript">
        $(function(){
        });
    </script>
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="contents">
            <h1 class="logo">
                <a href="../index.html">
                    <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                </a>
            </h1>
            <div class="user_info">
                <a href="../user/index.html" class="user">
                    <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                    <span>maumxdc</span>
                </a>
                <a href="javascript:void(0);" class="btn_logout">
                    <span class="blind">로그아웃</span>
                </a>
            </div>
        </div>
    </header>

    <div id="container">
        <aside id="aside">
            <nav>
                <ul class="nav">
                    <li class="ico_chart">
                        <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                        <ul class="depth">
                            <li>
                                <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/statistic.html">기간별 통계</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_database">
                        <a href="javascript:void(0);">학습 관리</a>
                        <ul class="depth">
                            <li>
                                <a href="../learn/dataManage.html">데이터 관리</a>
                            </li>
                            <li>
                                <a href="../learn/modelManage.html">모델 관리</a>
                            </li>
                            <li>
                                <a href="../learn/deployManage.html">배포 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_dns">
                        <a href="javascript:void(0);">시스템 상태</a>
                        <ul class="depth">
                            <li>
                                <a href="../system/monitoring.html">모니터링</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_manage active">
                        <a href="javascript:void(0);">Admin</a>
                        <ul class="depth" style="display:block">
                            <li class="active">
                                <a href="javascript:void(0);">조직 관리</a>
                                <ul style="display:block">
                                    <li class="active">
                                        <a href="../admin/department.html">부서 관리</a>
                                    </li>
                                    <li>
                                        <a href="../admin/user.html">사용자 관리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/auth.html">권한 관리</a>
                            </li>
                            <li>
                                <a href="../admin/menu.html">메뉴 관리</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">검증 설정</a>
                                <ul>
                                    <li>
                                        <a href="../admin/fakeCheck.html">검증 수준(Threshold) 설정</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/commonCode.html">공통코드 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="javascript:;" class="btn_toggle_aside">
                <span class="blind">메뉴 접기</span>
            </a>
        </aside>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">Admin</h2>
                    <h3 class="page_tit">조직 관리<span class="arr"></span>부서 관리</h3>
                </div>
            </div>

            <div class="area">
                <div class="box">
                    <div class="tit_area">
                        <h4 class="sub_tit">부서 목록</h4>
                        <div class="btn_area">
                            <button type="button" class="btn line_cool_grey30" onclick="layerShow('popAdd')">
                                <span>부서추가</span>
                            </button>
                            <button type="button" class="btn line_cool_grey30">
                                <span>삭제</span>
                            </button>
                        </div>
                    </div>
                    <div class="tree_area" style="height:402px"></div>
                </div>
                <div class="box">
                    <h4 class="sub_tit">부서 정보 상세</h4>
                    <table class="tbl_write">
                        <caption>부서 정보 상세 : 부서코드, 부서명, 부서명(영문), 부서경로, 사용여부, 등록일, 수정일로 구성</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col style="width:auto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <label for="detail_deptCode">부서코드</label>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="detail_deptCode" readonly>
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="detail_deptName">부서명</label>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="detail_deptName" readonly>
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="detail_deptEngName">부서명(영문)</label>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="detail_deptEngName" readonly>
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">부서경로</th>
                            <td>
                                <div class="location">
                                    <div>IT팀</div>
                                    <div>1팀</div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">사용여부</th>
                            <td>
                                <div class="df">
                                    <div class="radio txt">
                                        <input type="radio" name="detail_deptStat" id="deptStat1">
                                        <label for="deptStat1">사용</label>
                                    </div>
                                    <div class="radio txt">
                                        <input type="radio" name="detail_deptStat" id="deptStat2">
                                        <label for="deptStat2">미사용</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">등록일</th>
                            <td>2021년 11월 10일 14시 13분 32초</td>
                        </tr>
                        <tr>
                            <th scope="row">수정일</th>
                            <td>2021년 11월 10일 14시 13분 32초</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="btn_area">
                        <button type="button" class="btn fill">
                            <span>수정</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--추가 팝업 : s-->
<div id="popAdd" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">부서추가</strong>
            <button type="button" class="btn_close" onclick="layerHide('popAdd')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <table class="tbl_write">
                <caption>부서추가 : 상위 부서명/부서코드, 부서코드, 부서명, 부서명(영문), 사용여부로 구성</caption>
                <colgroup>
                    <col style="width:140px">
                    <col style="width:auto">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">
                        상위 <br>
                        <label for="addParDeptName">부서명</label>/<label for="addParDeptCode">부서코드</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="addParDeptName" readonly>
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                        <div class="df">
                            <div class="input">
                                <input type="text" id="addParDeptCode" readonly>
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                            <button type="button" class="btn line_cool_grey30" onclick="layerShow('popSearch')">
                                <span>조회</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="addDeptCode">부서코드</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="addDeptCode">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="addDeptName">부서명</label>
                        <span class="aster"></span>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="addDeptName">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="addDeptEngName">부서명(영문)</label>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="addDeptEngName">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        사용여부
                        <span class="aster"></span>
                    </th>
                    <td>
                        <div class="df">
                            <div class="radio txt">
                                <input type="radio" name="addDeptStatUse" id="addDeptStatUse1" checked>
                                <label for="addDeptStatUse1">사용</label>
                            </div>
                            <div class="radio txt">
                                <input type="radio" name="addDeptStatUse" id="addDeptStatUse2">
                                <label for="addDeptStatUse2">미사용</label>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popAdd')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>저장</span>
            </button>
        </div>
    </div>
</div>
<!--추가 팝업 : e-->

<!--상위 부서명/부서코드 검색 팝업 : s-->
<div id="popSearch" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">부서명/부서코드 검색</strong>
            <button type="button" class="btn_close" onclick="layerHide('popSearch')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div class="search_form">
                <label for="searchType" class="blind">검색어 타입</label>
                <select name="searchType" id="searchType">
                    <option value="" selected>전체</option>
                    <option value="">부서코드</option>
                    <option value="">부서명</option>
                    <option value="">영문명</option>
                </select>
                <div class="search">
                    <input type="search" id="searchKeyword" placeholder="검색어를 입력하세요.">
                    <button type="button" class="btn_del" tabindex="-1">
                        <span class="blind">삭제</span>
                    </button>
                    <button type="button" class="btn_search">
                        <span class="blind">검색</span>
                    </button>
                </div>
            </div>

            <div class="board_top">
                <div>
                    <div class="total_num"><b>346</b> 개의 글이 있습니다.</div>
                </div>
            </div>
            <table class="tbl_list02">
                <caption>부서명/부서코드 검색 : 부서코드, 부서명, 부서명(영문)으로 구성</caption>
                <colgroup>
                    <col style="width:44px">
                    <col style="width:calc((100% - 44px) / 3)">
                    <col style="width:calc((100% - 44px) / 3)">
                    <col style="width:calc((100% - 44px) / 3)">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="allChk" class="all_chk">
                            <label for="allChk">
                                <span class="blind">전체선택</span>
                            </label>
                        </div>
                    </th>
                    <th scope="col">부서코드</th>
                    <th scope="col">부서명</th>
                    <th scope="col">부서명(영문)</th>
                </tr>
                </thead>
                <tbody>
                <!--TODO : 데이터 없을 때-->
                <!--<tr>
                    <td colspan="4">
                        <div class="nodata">
                            <p>검색 결과가 없습니다.</p>
                        </div>
                    </td>
                </tr>-->
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk10">
                            <label for="chk10">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>D10000</td>
                    <td>IT팀</td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination">
                <button type="button" class="page_nav prev disabled">
                    <span class="blind">이전</span>
                </button>
                <button type="button">
                    1
                </button>
                <span>...</span>
                <button type="button" class="active">
                    3
                </button>
                <button type="button">
                    4
                </button>
                <button type="button">
                    5
                </button>
                <span>...</span>
                <button type="button">
                    347
                </button>
                <button type="button" class="page_nav next">
                    <span class="blind">다음</span>
                </button>
            </div>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popSearch')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>저장</span>
            </button>
        </div>
    </div>
</div>
<!--상위 부서명/부서코드 검색 팝업 : e-->

<!--얼럿 : s-->
<div id="alertWarning" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_warning"></i>
            <strong class="pop_tit">삭제하시겠습니까?</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('alertWarning')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('alertWarning')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->
</body>
</html>