<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="callSettersOnNulls" value="true"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>

    <typeAliases>
        <typeAlias type="kr.co.ibk_monitoring.domain.web.MemberInfo" alias="MemberInfo"/>
    	<typeAlias type="kr.co.ibk_monitoring.common.utils.CustomMap" alias="cMap"/>
    	
        <package name="kr.co.ibk_monitoring.model"/>
        <package name="kr.co.ibk_monitoring.domain.web"/>
        
    </typeAliases>
</configuration>
