<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>계정 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>
    <script type="text/javascript">
        $(function(){
        });
    </script>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="contents">
                <h1 class="logo">
                    <a href="../index.html">
                        <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                    </a>
                </h1>
                <div class="user_info">
                    <a href="../user/index.html" class="user">
                        <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                        <span>maummcc</span>
                    </a>
                    <a href="javascript:void(0);" class="btn_logout">
                        <span class="blind">로그아웃</span>
                    </a>
                </div>
            </div>
        </header>

        <div id="container">
            <aside id="aside">
                <nav>
                    <ul class="nav">
                        <li class="ico_chart">
                            <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                            <ul class="depth">
                                <li>
                                    <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                                </li>
                                <li>
                                    <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                                </li>
                                <li>
                                    <a href="../report/statistic.html">기간별 통계</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ico_database">
                            <a href="javascript:void(0);">학습 관리</a>
                            <ul class="depth">
                                <li>
                                    <a href="../learn/dataManage.html">데이터 관리</a>
                                </li>
                                <li>
                                    <a href="../learn/modelManage.html">모델 관리</a>
                                </li>
                                <li>
                                    <a href="../learn/deployManage.html">배포 관리</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ico_dns">
                            <a href="javascript:void(0);">시스템 상태</a>
                            <ul class="depth">
                                <li>
                                    <a href="../system/monitoring.html">모니터링</a>
                                </li>
                            </ul>
                        </li>
                        <li class="ico_manage">
                            <a href="javascript:void(0);">Admin</a>
                            <ul class="depth">
                                <li>
                                    <a href="javascript:void(0);">조직 관리</a>
                                    <ul>
                                        <li>
                                            <a href="../admin/department.html">부서 관리</a>
                                        </li>
                                        <li>
                                            <a href="../admin/user.html">사용자 관리</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../admin/auth.html">권한 관리</a>
                                </li>
                                <li>
                                    <a href="../admin/menu.html">메뉴 관리</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);">검증 설정</a>
                                    <ul>
                                        <li>
                                            <a href="../admin/fakeCheck.html">검증 수준(Threshold) 설정</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="../admin/commonCode.html">공통코드 관리</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <a href="javascript:;" class="btn_toggle_aside">
                    <span class="blind">메뉴 접기</span>
                </a>
            </aside>

            <div class="contents">
                <div class="page_top">
                    <div class="tit_area">
                        <div class="one_depth">-</div>
                        <h2 class="page_tit">계정</h2>
                    </div>
                </div>

                <table class="tbl_list">
                    <caption>계정 : 사용자 이름, 아이디, 사용자 그룹, 비밀번호 변경으로 구성</caption>
                    <colgroup>
                        <col style="width:8%;min-width:113px">
                        <col style="width:8%;min-width:125px">
                        <col style="width:8%;min-width:113px">
                        <col style="width:auto">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col" class="tal">사용자 이름</th>
                        <th scope="col">아이디</th>
                        <th scope="col">사용자 그룹</th>
                        <th scope="col">비밀번호 변경</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="tal">관리자</td>
                        <td>admin</td>
                        <td>system</td>
                        <td>
                            <button type="button" class="badge" onclick="layerShow('popPw')">
                                <span>비밀번호 변경</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--상세 팝업 : s-->
    <div id="popPw" class="pop_layer">
        <div class="dim"></div>
        <div class="popup">
            <div class="pop_head">
                <strong class="pop_tit">비밀번호 변경</strong>
                <button type="button" class="btn_close" onclick="layerHide('popPw')">
                    <span class="blind">닫기</span>
                </button>
            </div>
            <div class="pop_cont">
                <table class="tbl_write">
                    <caption>비밀번호 변경 : 기존 비밀번호, 새 비밀번호, 새 비밀번호 확인으로 구성</caption>
                    <colgroup>
                        <col style="width:140px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">
                            <label for="chkPwd">기존 비밀번호</label>
                        </th>
                        <td>
                            <div class="input">
                                <input type="password" id="chkPwd" placeholder="기존 비밀번호를 입력하세요.">
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="newPwd">새 비밀번호</label>
                        </th>
                        <td>
                            <div class="input">
                                <input type="password" id="newPwd" placeholder="새 비밀번호를 입력하세요.">
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <label for="newPwdConfirm">새 비밀번호 확인</label>
                        </th>
                        <td>
                            <div class="input">
                                <input type="password" id="newPwdConfirm" placeholder="새 비밀번호를 입력하세요.">
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="pop_foot">
                <button type="button" class="btn fill">
                    <span>비밀번호 변경</span>
                </button>
            </div>
        </div>
    </div>
    <!--상세 팝업 : e-->
</body>
</html>