<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <link rel="stylesheet" href="/ClientUI/css/error.css"/>
</head>
<body>
<div id="wrap" class="error_wrap">
    <div id="container" style="position:relative;min-height:calc(100vh);transition:paddinglinear .3s;padding-left:0px;">
        <div class="contents">
            <div class="error_area">
                <h2>권한이 없습니다.</h2>
                <p>
                    해당 페이지에 접근할 수 있는 권한이 없습니다.<br>
                    권한이 필요하시면 관리자에게 문의해 주세요.
                </p>
                <div class="btn_area">
                    <button class="btn line_cool_grey30" onclick="history.back()">
                        <span>이전으로</span>
                    </button>
                    <button class="btn fill" onclick="location.href='/'">
                        <span>홈으로</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>