<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <script type="text/javascript">
        $(function(){
        });
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:insert="~{soulGod/fragments/header}"></th:block>

    <div id="container">
        <th:block th:insert="~{soulGod/fragments/lnb}"></th:block>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">Admin</h2>
                    <h3 class="page_tit">공통코드 관리</h3>
                </div>
            </div>

            <div class="area">
                <div class="box">
                    <div class="tit_area">
                        <h4 class="sub_tit">공통코드 목록</h4>
                        <div class="btn_area">
                            <button type="button" class="btn line_cool_grey30">
                                <span>전체 펼치기</span>
                            </button>
                            <button type="button" class="btn line_cool_grey30">
                                <span>전체 접기</span>
                            </button>
                            <button type="button" class="btn line_cool_grey30">
                                <span>새로고침</span>
                            </button>
                        </div>
                    </div>
                    <div class="tree_area" style="height:563px"></div>
                </div>
                <div class="box">
                    <h4 class="sub_tit">코드 상세</h4>
                    <table class="tbl_write">
                        <caption>코드 상세 : 코드명, 코드번호, 사용여부, 노출순번으로 구성</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col style="width:auto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <label for="codeNm">코드명</label>
                                <span class="aster"></span>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="codeNm">
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="codeId">코드번호</label>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="codeId" readonly>
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">사용여부</th>
                            <td>
                                <div class="df">
                                    <div class="radio txt">
                                        <input type="radio" name="useAt" id="useAtY">
                                        <label for="useAtY">사용</label>
                                    </div>
                                    <div class="radio txt">
                                        <input type="radio" name="useAt" id="useAtN">
                                        <label for="useAtN">미사용</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="codeSno">노출순번</label>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="codeSno">
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="btn_area">
                        <button type="button" class="btn fill">
                            <span>저장</span>
                        </button>
                    </div>
                    <h4 class="sub_tit">코드 추가</h4>
                    <table class="tbl_write">
                        <caption>코드 추가 : 코드명, 코드번호, 사용여부, 노출순번으로 구성</caption>
                        <colgroup>
                            <col style="width:140px">
                            <col style="width:auto">
                        </colgroup>
                        <tbody>
                        <tr>
                            <th scope="row">
                                <label for="regCodeNm">코드명</label>
                                <span class="aster"></span>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="regCodeNm">
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="regCodeId">코드번호</label>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="regCodeId" readonly>
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">사용여부</th>
                            <td>
                                <div class="df">
                                    <div class="radio txt">
                                        <input type="radio" name="regUseAt" id="regUseAtY">
                                        <label for="regUseAtY">사용</label>
                                    </div>
                                    <div class="radio txt">
                                        <input type="radio" name="regUseAt" id="regUseAtN">
                                        <label for="regUseAtN">미사용</label>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">
                                <label for="regCodeSno">노출순번</label>
                            </th>
                            <td>
                                <div class="input">
                                    <input type="text" id="regCodeSno">
                                    <button type="button" class="btn_del" tabindex="-1">
                                        <span class="blind">삭제</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="btn_area">
                        <button type="button" class="btn line_cool_grey30">
                            <span>동일레벨 추가</span>
                        </button>
                        <button type="button" class="btn line_cool_grey30">
                            <span>하위레벨 추가</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--얼럿 : s-->
<div id="alertComplete" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_complete"></i>
            <strong class="pop_tit">공통코드가 저장되었습니다.</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn fill" onclick="layerHide('alertComplete')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->
</body>
</html>