<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/index.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/percent.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/Animated.js"></script>
    <script type="text/javascript">
        am5.ready(function() {
            var root = am5.Root.new("chartdiv");

            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            var chart = root.container.children.push(am5percent.PieChart.new(root, {
                layout: root.verticalLayout,
                innerRadius: am5.percent(50)
            }));

            var series = chart.series.push(am5percent.PieSeries.new(root, {
                valueField: "value",
                alignLabels: false
            }));

            series.labels.template.setAll({
                textType: "circular",
                centerX: 0,
                centerY: 0
            });

            series.data.setAll([
                { value: 9 },
                { value: 1 },
            ]);

            var legend = chart.children.push(am5.Legend.new(root, {
                centerX: am5.percent(50),
                x: am5.percent(50),
                marginTop: 15,
                marginBottom: 15,
            }));

            legend.data.setAll(series.dataItems);

            series.appear(1000, 100);

        });
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:insert="~{soulGod/fragments/header}"></th:block>

    <div id="container">
        <th:block th:insert="~{soulGod/fragments/lnb}"></th:block>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">시스템 상태</h2>
                    <h3 class="page_tit">모니터링</h3>
                </div>
            </div>

            <div class="box">
                <p>시스템 상태</p>
                <b class="fc_primary">정상</b>
                <!--<b class="fc_error">비정상</b>-->
            </div>

            <div class="graph_area">
                <div class="graph">
                    <div id="chartdiv" style="height:366px"></div>
                </div>
                <div class="graph" style="height:430px;"></div>
                <div class="graph" style="height:430px;"></div>
                <div class="graph" style="height:430px;"></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>