<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <link rel="stylesheet" href="/ClientUI/plugins/jquery-ui/jquery-ui.min.css">
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/index.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/xy.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/Animated.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/monthpicker/jquery.mtz.monthpicker.js"></script>
    <style>
        .tbl_list {
            overflow: hidden
        }

        .tbl_list > thead > tr > th {
            padding: 0 8px
        }

        .tbl_list > tbody > tr > td {
            padding: 0 8px
        }
    </style>
    <script type="text/javascript">
        $(function () {
            $('.nodata').hide();
            $('.contentsArea').hide();

            fn_setDatePicker('#stDt', {
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#edDt').val() ? $('#edDt').val() : false
                    })
                }
            });
            fn_setDatePicker('#edDt', {
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#stDt').val() ? $('#stDt').val() : false
                    })
                }
            });
        });

        $(window).on('load', function () {
            fn_search();
        });

        function movePage(url, pageNo) {
            layerShow('loading');
            $('#currentPageNo').val(pageNo);
            $('#form1').attr({action: '/soulGod/learn/billManageView', method: 'post'}).unbind('submit').submit();
        }

        function fn_search(pageNo) {

            let searchStartDate = $('#searchStartDate').val();
            let searchEndDate = $('#searchEndDate').val();
            pageNo && $('#currentPageNo').val(pageNo);
            let recordsPerPage = $('#recordsPerPage').val();
            fn_searchConditionSet();

            $('#loading').addClass('active');

            let jsonData = {
                'searchJson': $('#searchJson').val(),
                'searchTypeJson': $('#searchTypeJson').val(),
                'searchTarget': $('[name=searchTarget]:checked').val(),
                'searchStartDate': searchStartDate,
                'searchEndDate': searchEndDate,
                'currentPageNo': $('#currentPageNo').val(),
                'recordsPerPage': recordsPerPage
            }

            $.ajax({
                url: "/soulGod/learn/billManageView/list",
                type: "post",
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    $('.selected_filter').html('');
                    let contents = [];
                    if (data.list.length > 0) {
                        $.each(data.list, function (idx, item) {
                            contents.push(`
                                <tr>
                                    <td>${idx + 1}</td>

                                    <td>${!item.hdqrBobDcd ? '-' : (item.hdqrBobDcd === '1' ? '본부' : (item.hdqrBobDcd === '2' ? '영업점' : '통합'))}</td>
                                    <td>${item.bdgtPrfrYm}</td>
                                    <td>${item.brcd}</td>
                                    <td>${item.txblDcd}</td>
                                    <td>${item.splrBsnnNo}</td>

                                    <td>${item.splrFrm}</td>
                                    <td>${item.splrBzstNm}</td>
                                    <td>${item.splrItmsNm}</td>
                                    <td>${item.issAmt}</td>
                                    <td>${item.txblLsarNm}</td>

                                    <td style="background-color:#f9f9ff">${item.bdmnItexMngmNo != null ? item.bdmnItexMngmNo : '-'}</td>
                                    <td style="background-color:#f9f9ff">${item.bdgtBsnsFrcsCon != null ? item.bdgtBsnsFrcsCon : '-'}</td>
                                    <td style="background-color:#f9f9ff">${item.bdgtPrfrRsnFrcsCon != null ? item.bdgtPrfrRsnFrcsCon : '-'}</td>
                                    <td style="background-color:#f9f9ff">${item.bdgtExnsPamtMcd != null ? item.bdgtExnsPamtMcd : '-'}</td>
                                    <td style="background-color:#f9f9ff">${item.acimCon != null ? item.acimCon : '-'}</td>
                                </tr>
                            `);
                        })
                        $('.nodata').hide();
                        $('.contentsArea').show();
                    } else {
                        $('.nodata').show();
                        $('.contentsArea').hide();
                    }

                    fn_settingChip($('#searchJson').val(), {isRadio: true, isBillSearch: true});
                    $('.selected_filter .btn_del').remove(); // 조회 페이지 > 칩 제거 불가능

                    $('tbody').html(contents);
                    $('.totalCnt').text(data.list.length);

                    // pagination
                    let paginationHtml = '';
                    const pageInfo = data.pageInfo;
                    $('#recordsPerPage').val(pageInfo.recordsPerPage).niceSelect('update');
                    $('#totalNum').text(fn_setCommas(pageInfo.totalRecordCount));

                    if (pageInfo.hasPreviousPage) {
                        paginationHtml += `
                            <button type="button" class="page_nav prev" onclick="fn_search(${pageInfo.firstPage - 1})">
                                <span class="blind">이전</span>
                            </button>
                            <button type="button" onclick="fn_search(1)">1</button>
                            <span>...</span>
                        `;
                    }

                    for (let i = pageInfo.firstPage; i <= pageInfo.lastPage; i++) {
                        if (i === pageInfo.currentPage) {
                            paginationHtml += `
                                <button type="button" class="active" onclick="fn_search(${i})">${i}</button>
                            `;
                        } else {
                            paginationHtml += `
                                <button type="button" onclick="fn_search(${i})">${i}</button>
                            `;
                        }
                    }

                    if (pageInfo.hasNextPage) {
                        paginationHtml += `
                            <span>...</span>
                            <button type="button" onclick="fn_search(${pageInfo.totalPageCount})">${pageInfo.totalPageCount}</button>
                            <button type="button" class="page_nav next" onclick="fn_search(${pageInfo.lastPage + 1})">
                                <span class="blind">다음</span>
                            </button>
                        `;
                    }

                    $('.pagination').html(paginationHtml);
                    $('#loading').removeClass('active');
                },
                error: function (error) {
                    let msg = '실패하였습니다.';
                    if (error.status === 401 || error.status === 403) {
                        msg = '접근권한이 없습니다.';
                    }
                    showAlert('warning', msg, () => {
                        location.reload();
                    });
                }
            });
        }

    </script>
</head>
<body>
<div id="wrap">
    <div id="container" style="padding-left:0">
        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">세금계산서 학습 데이터 조회</h3>
                </div>
            </div>

            <form id="form1" th:object="${params}">
                <input type="hidden" id="currentPageNo" name="currentPageNo" th:value="${params.currentPageNo}"/>
                <input type="hidden" th:field="${params.searchJson}">
                <input type="hidden" th:field="${params.searchTypeJson}">
                <div class="board_top">
                    <div>
                        <div class="total_num">
                            <p>
                                <b id="totalNum"></b>건의 학습데이터가 있습니다.
                            </p>
                        </div>
                    </div>
                    <div class="mla">
                        <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                        <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility"
                                onchange="fn_search()">
                            <option value="10">10개</option>
                            <option value="20" selected>20개</option>
                            <option value="30">30개</option>
                            <option value="40">40개</option>
                            <option value="50">50개</option>
                        </select>
                        <div class="filter_area" style="display: none">
                            <div class="filter">
                                <input type="text" id="searchStartDate" name="searchStartDate"
                                       th:value="*{searchStartDate}"
                                       class="datepicker" readonly>
                                <input type="text" id="searchEndDate" name="searchEndDate"
                                       th:value="*{searchEndDate}"
                                       class="datepicker" readonly>
                                <input type="radio" name="searchTarget" id="searchTarget_B"
                                       value="1"
                                       th:checked="${params.searchTarget == '1'}">
                                <input type="radio" name="searchTarget" id="searchTarget_Y"
                                       value="2"
                                       th:checked="${params.searchTarget == '2'}">
                                <!-- <input type="radio" name="searchTarget" id="searchTarget_A"
                                        value="3"
                                        th:checked="${params.searchTarget == '3'}">-->
                                <option th:each="item :${T(kr.co.ibk.domain.enums.SearchType).values()}"
                                        th:class="${item}" th:text="${item.name}"></option>
                                <option th:each="item :${T(kr.co.ibk.domain.enums.SearchBillType).values()}"
                                        th:class="${item}" th:text="${item.name}"></option>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected_filter"></div>
            <div class="nodata">
                <p>검색 결과가 없습니다.</p>
            </div>
            <div class="tbl_wrap contentsArea">
                <table class="tbl_list">
                    <caption>데이터 관리 : No, 대상, 예산집행년월, 부점코드, 세금계산서구분코드, 공급자사업자번호, 공급자상호명, 공급자업태명, 공급자종목명, 발행금액, 세금계산서품목명,
                        예산관리비목관리번호, 사업세부사업, 예산집행사유코드, 예산경비지급방법코드, 계좌정보내용로구성
                    </caption>
                    <colgroup>
                        <col style="width: 2.5%">
                        <col style="width: 4%;">
                        <col style="width: 5%;">
                        <col style="width: 4.5%;">
                        <col style="width: 5%">

                        <col style="width: 5%;">
                        <col style="width: 8%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 3.5%;">
                        <col style="width: 6.5%;">

                        <col style="width: 6.5%;">
                        <col style="width: 7%;">
                        <col style="width: 5.5%;">
                        <col style="width: 3.5%;">
                        <col style="width: 7%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">대상</th>
                        <th scope="col">예산집행년월</th>
                        <th scope="col">부점코드</th>
                        <th scope="col">세금계산서구분코드</th>
                        <th scope="col">공급자사업자번호</th>

                        <th scope="col">공급자상호명</th>
                        <th scope="col">공급자업태명</th>
                        <th scope="col">공급자종목명</th>
                        <th scope="col">발행금액</th>
                        <th scope="col">세금계산서품목명</th>

                        <th scope="col">예산관리비목관리번호</th>
                        <th scope="col">사업세부사업</th>
                        <th scope="col">예산집행사유코드</th>
                        <th scope="col">예산경비지급방법코드</th>
                        <th scope="col">계좌정보내용</th>
                    </tr>
                    </thead>
                    <tbody id="contents">
                    </tbody>
                </table>
            </div>
            <div class="pagination" id="pagination"></div>
        </div>
    </div>
</div>
<!--로딩중 : s-->
<div id="loading" class="loading_layer active"> <!--노출 원할 시 클래스 active 추가-->
    <div class="loading">
        <p>학습 데이터를 불러오고 있습니다</p>
        <p>잠시만 기다려 주세요.</p>
        <div class="loading_circle_rotate">
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
            <div class="circle"></div>
        </div>
    </div>
</div>
<!--로딩중 : e-->
</body>
</html>