<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/index.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/xy.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/Animated.js"></script>
    <style>
        .tbl_list{overflow:hidden}
        .tbl_list > thead > tr > th{padding:0 8px}
        .tbl_list > tbody > tr > td{padding:0 8px}
        @media screen and (max-width: 1851px) {
            .tbl_wrap{width:100%; overflow-x: auto;white-space: nowrap}
            .tbl_list{width:auto}
        }

        #popLearnData .check_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 8px
        }

        #popLearnData .check_wrap .checkbox {
            width: calc((100% - 16px) / 3)
        }

        .txt_guide{margin-top:8px}
    </style>
    <script type="text/javascript">
        $(function () {
            fn_setDatePicker('#stDt', {
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#edDt').val() ? $('#edDt').val() : false
                    })
                }
            });
            fn_setDatePicker('#edDt', {
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#stDt').val() ? $('#stDt').val() : false
                    })
                }
            });

            //학습 팝업 도움말
            $('.btn_help').each(function () {
                $(this).on('click', function () {
                    $(this).parent('.th_help_area').toggleClass('active').parents('.tr').siblings('.tr').find('.th_help_area').removeClass('active');
                });
            });
            $(document).on('click', function (e) {
                if (!$(e.target).parents('div').hasClass('th_help_area')) {
                    $('.th_help_area').removeClass('active');
                }
            });
        });

        am5.ready(function () {
            var root = am5.Root.new("chartdiv");

            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX",
                pinchZoomX: true,
                paddingLeft: 0
            }));

            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                behavior: "none"
            }));
            cursor.lineY.set("visible", false);

            var date = new Date();
            date.setHours(0, 0, 0, 0);
            var value = 100;

            function generateData() {
                value = Math.round((Math.random() * 10 - 5) + value);
                am5.time.add(date, "day", 1);
                return {
                    date: date.getTime(),
                    value: value
                };
            }

            function generateDatas(count) {
                var data = [];
                for (var i = 0; i < count; ++i) {
                    data.push(generateData());
                }
                return data;
            }

            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
                maxDeviation: 0.2,
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {
                    minorGridEnabled: true
                }),
                tooltip: am5.Tooltip.new(root, {})
            }));

            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                renderer: am5xy.AxisRendererY.new(root, {
                    pan: "zoom"
                })
            }));

            var series = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value",
                valueXField: "date",
                tooltip: am5.Tooltip.new(root, {
                    labelText: "{valueY}"
                })
            }));

            chart.set("scrollbarX", am5.Scrollbar.new(root, {
                orientation: "horizontal"
            }));

            var data = generateDatas(1200);
            series.data.setAll(data);

            series.appear(1000);
            chart.appear(1000, 100);

        });

        /**
         * 학습데이터 popup 초기화
         */
        function fn_learningDataOpen() {
            $('#learnName').val('');
             $('.checkedY').prop('checked', true);
             $('.checkedN').prop('checked', false);

            layerShow('popLearnData');
        }

        const inPrefix = 'input_';
        const outPrefix = 'output_';

        /**
         * 학습데이터 유효성 검사
         */
        function fn_learnDataSaveChk() {
            let hdqrBobDcd = $('#hdqrBobDcd').val();
            let learnName = $('#learnName').val();
            let inputColumns = $(':checkbox[id^="' + inPrefix + '"]:checked');

            if (!$.trim(hdqrBobDcd)) {
                return false;
            }

            if (!$.trim(learnName)) {
                showAlert('warning', '학습데이터 명 입력은 필수입니다.');
                return false;
            }

            if (inputColumns.length < 1) {
                showAlert('warning', '학습데이터는 최소 1개 이상 선택해야합니다.');
                return false;
            }

            return true;
        }

        /**
         * 학습데이터 저장
         */
        function fn_learnDataSave() {
            if (!fn_learnDataSaveChk()) {
                return false;
            }


            let inputColumns = $(':checkbox[id^="' + inPrefix + '"]:checked');
            let outputColumns = $(':checkbox[id^="' + outPrefix + '"]');

            let inputArr = [];
            $.each(inputColumns, function (idx, item) {
                inputArr.push($(item).val());
            })

            let outputArr = [];
            $.each(outputColumns, function (idx, item) {
                outputArr.push($(item).val());
            })

            let jsonData = {
                "hdqrBobDcd": $('#hdqrBobDcd').val(),
                "learnName": $('#learnName').val(),
                "inputArr": inputArr,
                "outputArr": outputArr
            }

            $.ajax({
                url: "/soulGod/learnData/save",
                type: "post",
                async: false,
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if ("SUCCESS" === data.status) {
                        showAlert('complete', '저장되었습니다.', () => {
                            location.reload();
                        })
                    } else {
                        showAlert('warning', '실패하였습니다.', () => {
                            location.reload();
                        })
                    }
                },
                error: function () {
                    showAlert('warning', '실패하였습니다.', () => {
                        location.reload();
                    })
                }
            });
        }

        function movePage(url, pageNo) {
            $('#currentPageNo').val(pageNo);
            $('#form1').attr({action: '/soulGod/learn/dataManage', method: 'post'}).unbind('submit').submit();
        }

        function fn_search() {
            let frm = $('#form1');
            frm.prop('action', '?');
            frm.submit();
        }

    </script>
</head>
<body>
<div id="wrap">
    <th:block th:insert="~{soulGod/fragments/header}"></th:block>

    <div id="container">
        <th:block th:insert="~{soulGod/fragments/lnb}"></th:block>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">데이터 관리</h3>
                </div>
                <div class="btn_area">
                    <!--<button type="button" class="btn line_cool_grey30">
                        <span>템플릿 다운로드</span>
                    </button>
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('popRegister')">
                        <span>등록</span>
                    </button>
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('alertWarning')">
                        <span>삭제</span>
                    </button>
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('popLearn')">
                        <span>학습</span>
                    </button>-->
                    <button type="button" class="btn line_cool_grey30" onclick="fn_learningDataOpen()">
                        <span>등록</span>
                    </button>
                </div>
            </div>

            <form id="form1">
                <input type="hidden" id="currentPageNo" name="currentPageNo" th:value="${params.currentPageNo}"/>
                <div class="board_top">
                    <div>
                        <div class="total_num"><b th:text="${pagingInfo != null && pagingInfo.totalRecordCount != null ? pagingInfo.totalRecordCount : 0}"></b> 개의 글이 있습니다.</div>
                    </div>
                    <div class="mla">
                        <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                        <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility"
                                onchange="fn_search()">
                            <option value="10" th:selected="${pagingInfo.criteria.recordsPerPage == 10}" selected>10개
                            </option>
                            <option value="20" th:selected="${pagingInfo.criteria.recordsPerPage == 20}">20개</option>
                            <option value="30" th:selected="${pagingInfo.criteria.recordsPerPage == 30}">30개</option>
                            <option value="40" th:selected="${pagingInfo.criteria.recordsPerPage == 40}">40개</option>
                            <option value="50" th:selected="${pagingInfo.criteria.recordsPerPage == 50}">50개</option>
                        </select>
                        <label for="sortingTarget" class="blind">정렬조건</label>
                        <select name="sortingTarget" id="sortingTarget" class="sel_board sel_sorting" onchange="fn_search()">
                            <option value="1" th:selected="${params.sortingTarget == '1'}">부점코드</option>
                            <option value="2" th:selected="${params.sortingTarget == '2'}">카드번호</option>
                            <option value="3" th:selected="${params.sortingTarget == '3'}">가맹점명</option>
                            <option value="4" th:selected="${params.sortingTarget == '4'}">예산관리비목관리번호</option>
                            <option value="5" th:selected="${params.sortingTarget == '5'}">예산집행사유코드</option>
                            <option value="6" th:selected="${params.sortingTarget == '6'}">사업세부사업</option>
                        </select>
                        <label for="sorting" class="blind">정렬조건</label>
                        <select name="sorting" id="sorting" class="sel_board sel_sorting" onchange="fn_search()">
                            <option value="asc" th:selected="${params.sorting == 'asc'}">오름차순</option>
                            <option value="desc" th:selected="${params.sorting == 'desc'}">내림차순</option>
                        </select>
                        <div class="filter_area">
                            <button type="button" class="btn btn_text btn_filter active">
                                <!--TODO : 선택된 조건이 있을 때는 클래스 active 추가, 필터 삭제되면 클래스 active 삭제-->
                                <i class="ico_filter"></i>
                                <span>필터</span>
                            </button>

                            <div class="filter">
                                <div class="inner">
                                    <dl>
                                        <dt>
                                            <label for="searchTarget">대상</label>
                                        </dt>
                                        <dd>
                                            <select name="searchTarget" id="searchTarget">
                                                <option value="" selected>전체</option>
                                                <option value="1" th:selected="${params.searchTarget == '1'}">본부
                                                </option>
                                                <option value="2" th:selected="${params.searchTarget == '2'}">영업점
                                                </option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <div class="btn_area">
                                        <button type="button" class="btn fill" onclick="fn_search()">
                                            <span>검색</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="selected_filter">
            </div>

            <!--TODO : 데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <div class="nodata" th:if="${list.isEmpty() and list.size() == 0}">
                <p>검색 결과가 없습니다.</p>
            </div>
            <!--데이터가 없을 때 : e-->

            <div class="tbl_wrap">
                <table class="tbl_list" th:unless="${list.isEmpty() and list.size() == 0}">
                    <caption>데이터 관리 : No, 학습 데이터 명, 등록자, 상태, 학습 가능 유무, 등록일시로 구성</caption>
                    <colgroup>
                        <col style="width: 2.5%">
                        <col style="width: 4%;">
                        <col style="width: 4.5%;">
                        <col style="width: 11%">
                        <col style="width: 3%;">

                        <col style="width: 4.5%;">
                        <col style="width: 6%;">
                        <col style="width: 4.5%;">
                        <col style="width: 3.5%;">
                        <col style="width: 6.5%;">

                        <col style="width: 6.5%;">
                        <col style="width: auto">
                        <col style="width: auto">
                        <col style="width: 7%">

                        <col style="width: 6.5%;">
                        <col style="width: 7%;">
                        <col style="width: 5.5%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">대상</th>
                        <th scope="col">부점코드</th>
                        <th scope="col">카드번호</th>
                        <th scope="col">승인시간</th>

                        <th scope="col">매출금액</th>
                        <th scope="col">가맹점명</th>
                        <th scope="col">업종명</th>
                        <th scope="col">영업일여부</th>
                        <th scope="col">가맹점상세주소</th>

                        <th scope="col">부점주소</th>
                        <th scope="col">가맹점사업자등록번호</th>
                        <th scope="col">매출가맹점번호</th>
                        <th scope="col">가맹점업종코드</th>

                        <th scope="col" style="background-color:#f9f9ff">예산관리비목관리번호</th>
                        <th scope="col" style="background-color:#f9f9ff">예산집행사유코드</th> <!--예산관리비목관리번호_예산집행사유코드-->
                        <th scope="col" style="background-color:#f9f9ff">사업세부사업</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, idx:${list}">
                        <td th:text="${(pagingInfo.totalRecordCount - ((params.currentPageNo - 1) * params.recordsPerPage + idx.index))}"></td>
                        <td th:text="${item.hdqrBobDcd.isEmpty() ? '-' : (item.hdqrBobDcd == '1' ? '본부' : '영업점')}"></td>
                        <td th:text="${item.brcd}"></td>
                        <td th:text="${item.cdn}"></td>
                        <td th:text="${item.bdgtTstmUseHms}"></td>

                        <td th:text="${item.amslAmt}"></td>
                        <td th:text="${item.afstNm}"></td>
                        <td th:text="${item.tpbsNm}"></td>
                        <td th:text="${item.bzdyYn}"></td>
                        <td th:text="${item.afstDtlAdr}"></td>

                        <td th:text="${item.brncAdr}"></td>
                        <!--output data : s-->
                        <td th:text="${item.afstBzn}"></td>
                        <td th:text="${item.amslAfstNo}"></td>
                        <td th:text="${item.afstTpbcd}"></td>
                        <!--output data : e-->

                        <td th:text="${item.bdmnItexMngmNo}" style="background-color:#f9f9ff"></td>
                        <td th:text="${item.bdgtPrfrRsnFrcsCon}" style="background-color:#f9f9ff"></td>
                        <td th:text="${item.bdgtBsnsFrcsCon}" style="background-color:#f9f9ff"></td>
                    </tr>
                    </tbody>
                </table>
                <th:block th:insert="~{soulGod/fragments/paging}"></th:block>
            </div>
        </div>
    </div>
</div>

<!--등록 팝업 : s-->
<div id="popRegister" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">등록</strong>
            <button type="button" class="btn_close" onclick="layerHide('popRegister')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div class="file_form lg">
                <input type="file" id="attechedFile01" class="input_file" accept=".xls,.xlsx">
                <div class="file_tip">
                    <p>
                        파일을 선택하거나, Drag &amp; Drop 하세요.
                    </p>
                </div>
                <label for="attechedFile01" class="btn_file">
                    <span class="blind">파일 선택</span>
                </label>
                <div class="drop_zone">
                    <div class="area"></div>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popRegister')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>저장</span>
            </button>
        </div>
    </div>
</div>
<!--등록 팝업 : e-->

<!--학습 팝업 : s-->
<div id="popLearn" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">파라미터 설정</strong>
            <button type="button" class="btn_close" onclick="layerHide('popLearn')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div class="div_write">
                <div class="tr">
                    <div class="th">
                        <strong>
                            <label for="epoch">Epoch</label>
                        </strong>
                        <div class="th_help_area">
                            <button type="button" class="btn_help">
                                <span class="blind">안내</span>
                            </button>
                            <div class="th_help">학습 데이셋을 학습하는 회수</div>
                        </div>
                    </div>
                    <div class="td">
                        <div class="input">
                            <input type="text" id="epoch" placeholder="Epoch를 입력하세요." value="20(default)">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">
                        <strong>
                            <label for="learningRate">Learning Rate</label>
                        </strong>
                        <div class="th_help_area">
                            <button type="button" class="btn_help">
                                <span class="blind">안내</span>
                            </button>
                            <div class="th_help">학습률, 최적 값을 찾기 위한 기울기의 이동 정도</div>
                        </div>
                    </div>
                    <div class="td">
                        <div class="input">
                            <input type="text" id="learningRate" placeholder="Learning Rate를 입력하세요."
                                   value="0.02(default)">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">
                        <strong>
                            <label for="batchSize">Batch Size</label>
                        </strong>
                        <div class="th_help_area">
                            <button type="button" class="btn_help">
                                <span class="blind">안내</span>
                            </button>
                            <div class="th_help">학습 데이터셋 중, 몇 개의 데이터를 묶어서 가중치 값을 갱신할 지 지정하는 단위</div>
                        </div>
                    </div>
                    <div class="td">
                        <div class="input">
                            <input type="text" id="batchSize" placeholder="Batch Size를 입력하세요." value="128(default)">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">
                        <strong>정답셋</strong>
                    </div>
                    <div class="td">
                        <div class="file_form">
                            <input type="file" id="attechedFile02" class="input_file" accept=".xls,.xlsx">
                            <div class="file_tip">
                                <p>
                                    파일을 선택하거나, Drag &amp; Drop 하세요.
                                </p>
                            </div>
                            <label for="attechedFile02" class="btn_file">
                                <span class="blind">파일 선택</span>
                            </label>
                            <div class="drop_zone">
                                <div class="area"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popLearn')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>학습실행</span>
            </button>
        </div>
    </div>
</div>
<!--학습 팝업 : e-->

<!--학습중 팝업 : s-->
<div id="popLearnDetail" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">학습중</strong>
            <button type="button" class="btn_close" onclick="layerHide('popLearnDetail')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div id="chartdiv" style="height: 430px;"></div>
        </div>
    </div>
</div>
<!--학습중 팝업 : e-->

<!--얼럿 : s-->
<div id="alertWarning" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_warning"></i>
            <strong class="pop_tit">삭제하시겠습니까?</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('alertWarning')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('alertWarning')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->

<!--학습데이터 팝업 : s-->
<div id="popLearnData" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">학습데이터</strong>
            <button type="button" class="btn_close" onclick="layerHide('popLearnData')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <table class="tbl_write">
                <caption>학습데이터 : 학습데이터 명, 학습 선택으로 구성</caption>
                <colgroup>
                    <col style="width:160px">
                    <col style="width:auto">
                </colgroup>
                <tbody>
                <tr>
                    <th scope="row">
                        <label for="hdqrBobDcd">학습 대상</label>
                    </th>
                    <td>
                        <select id="hdqrBobDcd">
                            <option value="1" selected>본부</option>
                            <option value="2">영업점</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <label for="learnName">학습데이터 명</label>
                    </th>
                    <td>
                        <div class="input">
                            <input type="text" id="learnName" placeholder="학습데이터 명을 입력하세요.">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>학습데이터 체크</span>
                    </th>
                    <td>
                        <div class="check_wrap">
                            <th:block th:each="item :${T(kr.co.ibk.domain.enums.InputColumnType).values()}">
                                <div class="checkbox">
                                    <input type="checkbox" th:id="${'input_' + item.camelColumn}" th:value="${item}"
                                           th:disabled="${T(kr.co.ibk.domain.enums.InputColumnType).BRCD == item ? true : false}"
                                           th:checked="${item.isChecked}"
                                    th:class="${'checked' + (item.isChecked ? 'Y' : 'N')}">
                                    <label th:for="${'input_' + item.camelColumn}" th:text="${item.name}"></label>
                                </div>
                            </th:block>
                        </div>
                        <div class="txt_guide fc_primary">※ 학습 데이터에 포함할 항목을 선택하세요. 체크된 항목만 학습데이터에 포함되어 학습됩니다.</div> <!--todo : 퍼블-->
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>학습데이터 (output)</span>
                    </th>
                    <td>
                        <div class="check_wrap">
                            <th:block th:each="item :${T(kr.co.ibk.domain.enums.OutputColumnType).values()}">
                                <div class="checkbox">
                                    <input type="checkbox" th:id="${'output_' + item.camelColumn}" th:value="${item}"
                                           checked disabled>
                                    <label th:for="${'output_' + item.camelColumn}" th:text="${item.name}"></label>
                                </div>
                            </th:block>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popLearnData')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="fn_learnDataSave()">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--학습데이터 팝업 : e-->
</body>
</html>