<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <script type="text/javascript">
        $(function () {
            fn_setDatePicker('#searchStartDate', {
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#searchEndDate').val() ? $('#searchEndDate').val() : false
                    })
                }
            });
            fn_setDatePicker('#searchEndDate', {
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#searchStartDate').val() ? $('#searchStartDate').val() : false
                    })
                }
            });
        });

        function fn_reset() {
            $('#searchStartDate').val('');
            $('#searchEndDate').val('');
            $('#searchTarget').val('').niceSelect('update');
            $('#searchResultStatusType').val('').niceSelect('update');
            $('#searchLearningType').val('').niceSelect('update');
            $('#searchKeyword').val('');
            $('#searchJson').val('');
            $('#searchTypeJson').val('');

            fn_search();
        }

        function movePage(url, pageNo) {
            $('#currentPageNo').val(pageNo);
            $('#deployHisForm').attr({action: '/soulGod/learn/deployHis', method: 'post'}).unbind('submit').submit();
        }

        function fn_search() {
            let frm = $('#deployHisForm');
            frm.prop('action', '?');
            frm.submit();
        }
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:insert="~{soulGod/fragments/header}"></th:block>

    <div id="container">
        <th:block th:insert="~{soulGod/fragments/lnb}"></th:block>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">배포 이력 관리</h3>
                </div>
            </div>

            <form role="form" id="deployHisForm" method="post" enctype="multipart/form-data" class="form-horizontal">
                <input type="hidden" id="currentPageNo" name="currentPageNo" th:value="${params.currentPageNo}"/>
                <div class="board_top">
                    <div>
                        <div class="total_num"><b th:text="${params.paginationInfo.totalRecordCount}">0</b> 개의 글이 있습니다.
                        </div>
                    </div>
                    <div class="mla">
                        <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                        <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility"
                                onchange="fn_search()">
                            <option value="10" th:selected="${pagingInfo.criteria.recordsPerPage == 10}" selected>10개
                            </option>
                            <option value="20" th:selected="${pagingInfo.criteria.recordsPerPage == 20}">20개</option>
                            <option value="30" th:selected="${pagingInfo.criteria.recordsPerPage == 30}">30개</option>
                            <option value="40" th:selected="${pagingInfo.criteria.recordsPerPage == 40}">40개</option>
                            <option value="50" th:selected="${pagingInfo.criteria.recordsPerPage == 50}">50개</option>
                        </select>
                        <label for="sorting" class="blind">정렬조건</label>
                        <select name="sorting" id="sorting" class="sel_board sel_sorting" onchange="fn_search()">
                            <option value="asc" th:selected="${params.sorting == 'asc'}">과거순</option>
                            <option value="desc" th:selected="${params.sorting == 'desc'}">최신순</option>
                            \
                        </select>
                        <div class="filter_area">
                            <button type="button" class="btn btn_text btn_filter">
                                <i class="ico_filter"></i>
                                <span>검색</span>
                            </button>

                            <div class="filter">
                                <div class="inner">
                                    <dl>
                                        <dt>조회기간</dt>
                                        <dd>
                                            <div class="term_form">
                                                <label for="searchStartDate" class="blind">조회 시작 날짜</label>
                                                <input type="text" id="searchStartDate" name="searchStartDate"
                                                       class="datepicker" th:value="${params.searchStartDate}"
                                                       readonly>
                                                <div class="swung"></div>
                                                <label for="searchEndDate" class="blind">조회 종료 날짜</label>
                                                <input type="text" id="searchEndDate" name="searchEndDate"
                                                       class="datepicker" th:value="${params.searchEndDate}"
                                                       readonly>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label for="searchLearningType">구분</label>
                                        </dt>
                                        <dd>
                                            <select name="searchLearningType" id="searchLearningType">
                                                <option value="" selected>전체</option>
                                                <option th:each="item :${T(kr.co.ibk.domain.enums.LearningType).values()}"
                                                        th:class="${item}" th:text="${item.name}" th:value="${item}"
                                                        th:selected="${item.name() eq params.searchLearningType}"></option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label for="searchTarget">대상</label>
                                        </dt>
                                        <dd>
                                            <select name="searchTarget" id="searchTarget">
                                                <option value="" selected>전체</option>
                                                <option value="1" th:selected="${params.searchTarget == '1'}">본부
                                                </option>
                                                <option value="2" th:selected="${params.searchTarget == '2'}">영업점
                                                </option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label for="searchResultStatusType">배포 상태</label>
                                        </dt>
                                        <dd>
                                            <select name="searchResultStatusType" id="searchResultStatusType">
                                                <option value="" selected>전체</option>
                                                <option th:each="item : ${T(kr.co.ibk.domain.enums.DeployResultStatusType).values()}"
                                                        th:text="${item.getName()}"
                                                        th:value="${item.name()}"
                                                        th:selected="${item.name() eq params.searchResultStatusType}">
                                                </option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label>검색어</label>
                                        </dt>
                                        <dd>
                                            <div class="search_form">
                                                <div class="search">
                                                    <input type="search" th:field="${params.searchKeyword}"
                                                           name="searchKeyword" id="searchKeyword"
                                                           placeholder="모델명 혹은 배포자 명을 입력하세요.">
                                                    <button type="button" class="btn_del" tabindex="-1">
                                                        <span class="blind">삭제</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <div class="btn_area">
                                        <button type="button" class="btn line_cool_grey30" onclick="fn_reset()">
                                            <span>초기화</span>
                                        </button>
                                        <button type="button" class="btn fill" onclick="fn_search()">
                                            <span>검색</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="selected_filter"></div>

            <!--데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <div class="nodata" th:if="${list.isEmpty() and list.size() == 0}">
                <p>검색 결과가 없습니다.</p>
            </div>
            <!--데이터가 없을 때 : e-->
            <table class="tbl_list" th:unless="${list.isEmpty() and list.size() == 0}">
                <caption>배포 관리 : No, 학습 모델 ID, 학습 모델 명, 등록자, 상태, 배포 여부, 배포일시, 등록일시로 구성</caption>
                <colgroup>
                    <col style="width: 3.5%;min-width: 44px;">
                    <col style="width: 10%;min-width: 60px;">
                    <col style="width: 22%;">
                    <col style="width: 11%;">
                    <col style="width: 11%;">
                    <col style="width:auto">
                    <col style="width: 11%;">
                    <col style="width: 22%;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">학습 모델 ID</th>
                    <th scope="col">학습 모델 명</th>
                    <th scope="col">구분</th>
                    <th scope="col">대상</th>
                    <th scope="col">배포자</th>
                    <th scope="col">상태</th>
                    <th scope="col">배포일시</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="item,idx: ${list}">
                    <td th:text="${(params.paginationInfo.totalRecordCount - ((params.currentPageNo - 1) * params.recordsPerPage + idx.index))}"></td>
                    <td th:text="${item.modelId}"></td>
                    <td th:text="${item.learnName}"></td>
                    <td th:text="${item.learningType != null ? item.learningType?.getName() : '-'}"></td>
                    <td th:text="${item.hdqrBobDcd.isEmpty() ? '-' : (item.hdqrBobDcd == '1' ? '본부' : '영업점')}"></td>
                    <td th:text="${item.execName}"></td>
                    <td>
                        <!-- SUCCESS: 성공, FAIL: 실패 -->
                        <div th:if="${not #strings.isEmpty(item.result)}"
                             th:classappend="${item.result eq T(kr.co.ibk.domain.enums.DeployResultStatusType).SUCCESS.name() } ? 'badge fill_blue_green' : 'badge fill_error10'"
                             th:text="${T(kr.co.ibk.domain.enums.DeployResultStatusType).valueOf(item.result).getName()}">
                        </div>
                    </td>
                    <td th:text="${item.execDt != null ? #temporals.format(item.execDt, 'yyyy-MM-dd HH:mm:ss') : '-'}">
                        2022.07.30
                    </td>
                </tr>
                </tbody>
            </table>

            <th:block th:insert="~{soulGod/fragments/paging}"></th:block>
        </div>
    </div>
</div>
</body>
</html>