<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <link rel="stylesheet" href="/ClientUI/plugins/jquery-ui/jquery-ui.min.css">
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/index.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/xy.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/Animated.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/monthpicker/jquery.mtz.monthpicker.js"></script>
    <style>
        .tbl_list {
            overflow: hidden
        }

        .tbl_list > thead > tr > th {
            padding: 0 8px
        }

        .tbl_list > tbody > tr > td {
            padding: 0 8px
        }

        @media screen and (max-width: 1851px) {
            .tbl_wrap {
                width: 100%;
                overflow-x: auto;
                white-space: nowrap
            }

            .tbl_list {
                width: auto
            }
        }

        #popLearnData .check_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 8px
        }

        #popLearnData .check_wrap .checkbox {
            width: calc((100% - 16px) / 3)
        }

        .txt_guide {
            margin-top: 8px
        }

        .mtz-monthpicker-year {
            background: #fff url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%236d7175" d="M17 9.17a1 1 0 0 0-1.41 0L12 12.71L8.46 9.17a1 1 0 0 0-1.41 0a1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42Z"%2F%3E%3C%2Fsvg%3E') no-repeat calc(100% - 11px) 50% / 20px auto
        }
    </style>
    <script type="text/javascript">
        $(function () {

        })

        function movePage(url, pageNo) {
            $('#currentPageNo').val(pageNo);
            $('#form1').attr({action: '/soulGod/learn/templateManage', method: 'post'}).unbind('submit').submit();
        }

        function fn_search() {
            let frm = $('#form1');
            frm.prop('action', '?');
            frm.submit();
        }

        function fn_reset() {
            $('#searchTarget_B').prop('checked', true);
            $('#searchKeyword').val('');
        }
    </script>
</head>
<body>
<div id="wrap">
    <th:block th:insert="~{soulGod/fragments/header}"></th:block>

    <div id="container">
        <th:block th:insert="~{soulGod/fragments/lnb}"></th:block>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">학습 템플릿 관리</h3>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn line_cool_grey30" onclick="fn_learningDataOpen()">
                        <span>등록</span>
                    </button>
                </div>
            </div>

            <form id="form1" th:object="${params}">
                <input type="hidden" id="currentPageNo" name="currentPageNo" th:value="${params.currentPageNo}"/>
                <div class="board_top">
                    <div>
                        <div class="total_num"><b
                                th:text="${pagingInfo != null && pagingInfo.totalRecordCount != null ? #numbers.formatInteger(pagingInfo.totalRecordCount , '0', 'COMMA') : 0}"></b>
                            건의 학습 템플릿이 있습니다.
                        </div>
                    </div>
                    <div class="mla">
                        <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                        <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility"
                                onchange="fn_search()">
                            <option value="10" th:selected="${pagingInfo.criteria.recordsPerPage == 10}" selected>10개
                            </option>
                            <option value="20" th:selected="${pagingInfo.criteria.recordsPerPage == 20}">20개</option>
                            <option value="30" th:selected="${pagingInfo.criteria.recordsPerPage == 30}">30개</option>
                            <option value="40" th:selected="${pagingInfo.criteria.recordsPerPage == 40}">40개</option>
                            <option value="50" th:selected="${pagingInfo.criteria.recordsPerPage == 50}">50개</option>
                        </select>
                        <div class="filter_area">
                            <button type="button" class="btn btn_text btn_filter active">
                                <i class="ico_filter"></i>
                                <span>검색</span>
                            </button>

                            <div class="filter">
                                <div class="inner">
                                    <dl>
                                        <dt>대상</dt>
                                        <dd>
                                            <div class="df">
                                                <div class="radio txt">
                                                    <input type="radio" name="searchTarget" id="searchTarget_B"
                                                           value="1"
                                                           th:checked="${params.searchTarget == '1'}">
                                                    <label for="searchTarget_B">본부</label>
                                                </div>
                                                <div class="radio txt">
                                                    <input type="radio" name="searchTarget" id="searchTarget_Y"
                                                           value="2"
                                                           th:checked="${params.searchTarget == '2'}">
                                                    <label for="searchTarget_Y">영업점</label>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label>검색어</label>
                                        </dt>
                                        <dd>
                                            <div class="search_form">
                                                <div class="search">
                                                    <input type="search" id="searchKeyword" name="searchKeyword"
                                                           placeholder="템플릿 명 또는 등록자 명을 입력하세요."
                                                           th:value="${params.searchKeyword}">
                                                    <button type="button" class="btn_del" tabindex="-1">
                                                        <span class="blind">삭제</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <div class="btn_area">
                                        <button type="button" class="btn line_cool_grey30" onclick="fn_reset()">
                                            <span>초기화</span>
                                        </button>
                                        <button type="button" class="btn fill" onclick="fn_search()">
                                            <span>검색 조건 추가</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected_filter"></div>
            <!--데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <div class="nodata" th:if="${list.isEmpty() and list.size() == 0}">
                <p>검색 결과가 없습니다.</p>
            </div>
            <!--데이터가 없을 때 : e-->

            <div class="tbl_wrap">
                <table class="tbl_list" th:unless="${list.isEmpty() and list.size() == 0}">
                    <caption>학습 템플릿 관리 : No, 대상, 템플릿 명, 등록자, 등록일시</caption>
                    <colgroup>
                        <col style="width: 10%">
                        <col style="width: 12%">
                        <col style="width: 22%;">
                        <col style="width: 22%;">
                        <col style="width: 22%;">
                        <col style="width: 22%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="checkbox">
                                <input type="checkbox" name="chk" id="allChk" class="all_chk">
                                <label for="allChk">
                                    <span class="blind">전체선택</span>
                                </label>
                            </div>
                        </th>
                        <th scope="col">No</th>
                        <th scope="col">대상</th>
                        <th scope="col">템플릿 명</th>
                        <th scope="col">등록자</th>
                        <th scope="col">등록일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, idx:${list}">
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="chk" th:id="${'chk' + item.id}">
                                <label th:for="${'chk' + item.id}">
                                    <span class="blind">선택</span>
                                </label>
                            </div>
                        </td>
                        <td th:text="${(pagingInfo.totalRecordCount - ((params.currentPageNo - 1) * params.recordsPerPage + idx.index))}"></td>
                        <td th:text="${item.hdqrBobDcd.isEmpty() ? '-' : (item.hdqrBobDcd == '1' ? '본부' : '영업점')}"></td>
                        <td>
                            <a href="javascript:void(0);" class="link" th:text="${item.templateName}">admin</a>
                        </td>
                        <td th:text="${item.regName}"></td>
                        <td th:text="${#temporals.format(item.regDt, 'yyyy-MM-dd hh:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
                <th:block th:insert="~{soulGod/fragments/paging}"></th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>