<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{soulGod/fragments/head}"></th:block>
    <link rel="stylesheet" href="/ClientUI/plugins/jquery-ui/jquery-ui.min.css">
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/index.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/xy.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/amcharts5/Animated.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/monthpicker/jquery.mtz.monthpicker.js"></script>
    <style>
        .tbl_list {
            overflow: hidden
        }

        .tbl_list > thead > tr > th {
            padding: 0 8px
        }

        .tbl_list > tbody > tr > td {
            padding: 0 8px
        }

        .tbl_list tbody td .link {
            text-decoration: underline;
            color: #004c9d !important;
        }

        @media screen and (max-width: 1851px) {
            .tbl_wrap {
                width: 100%;
                overflow-x: auto;
                white-space: nowrap
            }

            .tbl_list {
                width: auto
            }
        }

        #popLearnData .check_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 8px
        }

        #popLearnData .check_wrap .checkbox {
            width: calc((100% - 16px) / 3)
        }

        .txt_guide {
            margin-top: 8px
        }

        .mtz-monthpicker-year {
            background: #fff url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%236d7175" d="M17 9.17a1 1 0 0 0-1.41 0L12 12.71L8.46 9.17a1 1 0 0 0-1.41 0a1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42Z"%2F%3E%3C%2Fsvg%3E') no-repeat calc(100% - 11px) 50% / 20px auto
        }

        #templateDetail .check_wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 4px;
        }

        #templateDetail .check_wrap .checkbox {
            width: calc((100% - 8px) / 3);
        }

        #templateDetail .tbl_tit {
            display: block;
            font-weight: 700;
            font-size: 20px;
            margin-top: 18px;
            margin-bottom: 17px;
        }
    </style>
    <script type="text/javascript">
        $(function () {
        })

        function movePage(url, pageNo) {
            $('#currentPageNo').val(pageNo);
            $('#form1').attr({action: '/soulGod/learn/templateManage', method: 'post'}).unbind('submit').submit();
        }

        function fn_search() {
            let frm = $('#form1');
            frm.prop('action', '?');
            frm.submit();
        }

        function fn_reset() {
            $('#searchTarget').val('').niceSelect('update');
            $('#searchLearningType').val('').niceSelect('update');
            $('#searchKeyword').val('');
            fn_search();
        }

        function fn_templateDelete() {
            let checked = $("[id^='chk_']:checked");
            if (checked.length < 1) {
                showAlert('warning', '1개 이상의 템플릿을 선택해주세요.');
                return false;
            }

            showConfirm('message', checked.length + '건의 템플릿이 선택되었습니다. <br> 삭제하시겠습니까?', () => {
                let idArr = [];
                $.each(checked, function () {
                    idArr.push($(this).val());
                });

                let jsonData = {
                    "idArr": idArr,
                }

                $.ajax({
                    url: "/soulGod/template/delete",
                    type: "post",
                    async: false,
                    data: JSON.stringify(jsonData),
                    contentType: 'application/json;charset=utf-8',
                    success: function (data) {
                        if ("SUCCESS" === data.status) {
                            showAlert('complete', '삭제되었습니다.', () => {
                                location.reload();
                            })
                        } else {
                            showAlert('warning', '실패하였습니다.', () => {
                                location.reload();
                            })
                        }
                    },
                    error: function () {
                        showAlert('warning', '실패하였습니다.', () => {
                            location.reload();
                        })
                    }
                });
            });

        }

        const inPrefix = 'input_';
        const outPrefix = 'output_';

        function fn_templateDetailOpen(el) {
            $('#dataName').val(''); // 입력값 초기화

            let id = $(el).data('id');
            let learningTy = $(el).data('learning-ty');
            let learningTyNm = $(el).data('learning-ty-nm');
            let templateName = $(el).data('nm');
            let isCard = $(el).data('is-card');
            let selectCon = isCard ? '.cardCon' : '.billCon';

            $('#learningType').val(learningTy);
            $('#isCard').val(isCard);
            $('#templateId').val(id);
            $('#learningTyNm').text(learningTyNm);
            $('#templateName').text(templateName);
            $('#searchStartDate').val('');
            $('#searchEndDate').val('');

            $(':checkbox[id^="' + inPrefix + '"]').prop('checked', false);
            $(':checkbox[id^="' + outPrefix + '"]').prop('checked', false);
            $(selectCon + ' :checkbox[id^="' + outPrefix + '"]').prop('checked', true);

            $('.cardCon').toggle(isCard);
            $('.billCon').toggle(!isCard);

            let jsonData = {
                "id": id
            }

            $.ajax({
                url: "/soulGod/template/detail",
                type: "post",
                async: false,
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if (data) {
                        let item = data.data;

                        if (item.inputList) {
                            $.each(item.inputList, function (idx, item) {
                                $(selectCon + ' :checkbox[id^="' + inPrefix + '"]').each(function () {
                                    if ($(this).val() === item.colName) {
                                        $(this).prop('checked', true);
                                    }
                                })
                            })
                        }
                        $('#hdqrBobDcd').val(item.hdqrBobDcd);
                        $('#searchJson').val(item.selectCon);
                        $('#searchTypeJson').val('');

                        fn_settingChip(item.selectCon); //템플릿의 선택조건
                        $('.chipArea').html($('.selected_filter').html());
                        $('.chipArea .chip button').remove();

                        // default 날짜 설정
                        let today = new Date();
                        let year = today.getFullYear();
                        let month = String(today.getMonth() + 1).padStart(2, '0');
                        $('#searchStartDate').val(`${year - 2}-${month}`);
                        $('#searchEndDate').val(`${year}-${month}`);
                        fn_setMonthPicker();

                        layerShow('templateDetail');
                    } else {
                        showAlert('warning', '학습 데이터가 존재하지 않습니다.');
                    }
                },
                error: function () {
                    console.log("error");
                }
            });
        }

        /**
         * 학습데이터 유효성 검사
         */
        let learnDataNmCount = 0;

        function fn_learnDataSaveChk() {
            let dataName = $('#dataName').val();
            let searchStartDate = $('#searchStartDate').val();
            let searchEndDate = $('#searchEndDate').val();

            if (!$.trim(dataName)) {
                showAlert('warning', '학습데이터 명 입력은 필수입니다.');
                return false;
            }

            fn_learnDataNmCount();
            if (learnDataNmCount > 0) {
                showAlert('warning', '이미 존재하는 학습데이터 명 입니다.');
                return false;
            }

            if (!searchStartDate || !searchEndDate) {
                showAlert('warning', '예산집행기간 선택은 필수입니다.');
                return false;
            }

            if (searchStartDate > searchEndDate) {
                showAlert('warning', '시작 월이 종료 월보다 이후일 수 없습니다. <br> 입력하신 월을 다시 확인해주세요.');
                return false;
            }

            return true;
        }

        /**
         * 학습데이터 저장
         */
        function fn_learnDataSave() {
            if (!fn_learnDataSaveChk()) {
                return false;
            }
            fn_searchConditionSet();

            let inputColumns = $(':checkbox[id^="' + inPrefix + '"]:checked');
            let outputColumns = $(':checkbox[id^="' + outPrefix + '"]:checked');

            let inputArr = [];
            $.each(inputColumns, function (idx, item) {
                let name = $(item).data('name');
                let sno = $(item).data('sno');
                inputArr.push({name: name, sno: sno});
            });

            let outputArr = [];
            $.each(outputColumns, function (idx, item) {
                let name = $(item).data('name');
                let sno = $(item).data('sno');
                outputArr.push({name: name, sno: sno});
            });

            let jsonData = {
                "templateId": $('#templateId').val(),
                "hdqrBobDcd": $('#hdqrBobDcd').val(),
                "dataName": $.trim($('#dataName').val()),
                "inputArr": inputArr,
                "outputArr": outputArr,
                "selectCon": $('#searchJson').val(),
                "learningType": $('#learningType').val(),
                "startDt": $('#searchStartDate').val(),
                "endDt": $('#searchEndDate').val(),
            } //todo 학습데이터 선택조건 set 필요

            $.ajax({
                url: "/soulGod/learnData/save",
                type: "post",
                async: false,
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    if ("SUCCESS" === data.status) {
                        showAlert('complete', '저장되었습니다.', () => {
                            location.reload();
                        })
                    } else {
                        showAlert('warning', '실패하였습니다.', () => {
                            location.reload();
                        })
                    }
                },
                error: function () {
                    showAlert('warning', '실패하였습니다.', () => {
                        location.reload();
                    })
                }
            });
        }

        function fn_learnDataNmCount() {
            let jsonData = {
                "dataName": $.trim($('#dataName').val())
            }

            $.ajax({
                url: "/soulGod/learnData/nmCount",
                type: "post",
                async: false,
                data: JSON.stringify(jsonData),
                contentType: 'application/json;charset=utf-8',
                success: function (data) {
                    learnDataNmCount = data;
                },
                error: function () {
                    showAlert('warning', '실패하였습니다.', () => {
                        location.reload();
                    })
                }
            });
        }

        function fn_learnDataList() {
            let searchStartDate = $('#searchStartDate').val();
            let searchEndDate = $('#searchEndDate').val();

            if (!searchStartDate || !searchEndDate) {
                showAlert('warning', '예산집행기간 선택 후 조회 가능합니다.');
                return false;
            }
            if (searchStartDate > searchEndDate) {
                showAlert('warning', '시작 월이 종료 월보다 이후일 수 없습니다. <br> 입력하신 월을 다시 확인해주세요.');
                return false;
            }
            fn_searchConditionSet();

            let form = document.getElementById('templateForm');
            let formData = new FormData(form);

            // 쿼리 문자열 생성
            let queryString = Object.entries(Object.fromEntries(formData.entries()))
                .filter(([_, value]) => value) // 빈 값 제외
                .map(([key, value]) => `${encodeURIComponent(key)}=${encodeURIComponent(value)}`)
                .join('&');

            queryString += '&searchTarget=' + $('#hdqrBobDcd').val();

            let url;
            if ($('#isCard').val() === 'true') {
                url = '/soulGod/learn/cardManageView' + (queryString ? '?' + queryString : '');
            } else {
                url = '/soulGod/learn/billManageView' + (queryString ? '?' + queryString : '');
            }

            // 새 창 열기
            window.open(url, '_blank', 'width=1000,height=800,top=200,left=1000'); // 새 창 열기
        }

    </script>
</head>
<body>
<div id="wrap">
    <th:block th:insert="~{soulGod/fragments/header}"></th:block>

    <div id="container">
        <th:block th:insert="~{soulGod/fragments/lnb}"></th:block>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">학습 템플릿 관리</h3>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn line_cool_grey30" onclick="fn_templateDelete()">
                        <span>삭제</span>
                    </button>
                </div>
            </div>

            <form id="form1" th:object="${params}">
                <input type="hidden" id="currentPageNo" name="currentPageNo" th:value="${params.currentPageNo}"/>
                <div class="board_top">
                    <div>
                        <div class="total_num"><b
                                th:text="${pagingInfo != null && pagingInfo.totalRecordCount != null ? #numbers.formatInteger(pagingInfo.totalRecordCount , '0', 'COMMA') : 0}"></b>
                            건의 학습 템플릿이 있습니다.
                        </div>
                    </div>
                    <div class="mla">
                        <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                        <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility"
                                onchange="fn_search()">
                            <option value="10" th:selected="${pagingInfo.criteria.recordsPerPage == 10}" selected>10개
                            </option>
                            <option value="20" th:selected="${pagingInfo.criteria.recordsPerPage == 20}">20개</option>
                            <option value="30" th:selected="${pagingInfo.criteria.recordsPerPage == 30}">30개</option>
                            <option value="40" th:selected="${pagingInfo.criteria.recordsPerPage == 40}">40개</option>
                            <option value="50" th:selected="${pagingInfo.criteria.recordsPerPage == 50}">50개</option>
                        </select>
                        <label for="sorting" class="blind">정렬조건</label>
                        <select name="sorting" id="sorting" class="sel_board sel_sorting" onchange="fn_search()">
                            <option value="asc" th:selected="${params.sorting == 'asc'}">과거순</option>
                            <option value="desc" th:selected="${params.sorting == 'desc'}">최신순</option>
                            \
                        </select>
                        <div class="filter_area">
                            <button type="button" class="btn btn_text btn_filter active">
                                <i class="ico_filter"></i>
                                <span>검색</span>
                            </button>

                            <div class="filter">
                                <div class="inner">
                                    <dl>
                                        <dt>
                                            <label for="searchLearningType">구분</label>
                                        </dt>
                                        <dd>
                                            <select name="searchLearningType" id="searchLearningType">
                                                <option value="" selected>전체</option>
                                                <option th:each="item :${T(kr.co.ibk.domain.enums.LearningType).values()}"
                                                        th:class="${item}" th:text="${item.name}" th:value="${item}"
                                                        th:selected="${item.name() eq params.searchLearningType}"></option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label for="searchTarget">대상</label>
                                        </dt>
                                        <dd>
                                            <select name="searchTarget" id="searchTarget">
                                                <option value="" selected>전체</option>
                                                <option value="1" th:selected="${params.searchTarget == '1'}">본부
                                                </option>
                                                <option value="2" th:selected="${params.searchTarget == '2'}">영업점
                                                </option>
                                            </select>
                                        </dd>
                                    </dl>
                                    <dl>
                                        <dt>
                                            <label>검색어</label>
                                        </dt>
                                        <dd>
                                            <div class="search_form">
                                                <div class="search">
                                                    <input type="search" id="searchKeyword" name="searchKeyword"
                                                           placeholder="템플릿 명 또는 등록자 명을 입력하세요."
                                                           th:value="${params.searchKeyword}">
                                                    <button type="button" class="btn_del" tabindex="-1">
                                                        <span class="blind">삭제</span>
                                                    </button>
                                                </div>
                                            </div>
                                        </dd>
                                    </dl>
                                    <div class="btn_area">
                                        <button type="button" class="btn line_cool_grey30" onclick="fn_reset()">
                                            <span>초기화</span>
                                        </button>
                                        <button type="button" class="btn fill" onclick="fn_search()">
                                            <span>검색</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="selected_filter" style="display: none"></div>
            <!--데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <div class="nodata" th:if="${list.isEmpty() and list.size() == 0}">
                <p>검색 결과가 없습니다.</p>
            </div>
            <!--데이터가 없을 때 : e-->

            <div class="tbl_wrap">
                <table class="tbl_list" th:unless="${list.isEmpty() and list.size() == 0}">
                    <caption>학습 템플릿 관리 : No, 대상, 템플릿 명, 등록자, 등록일시</caption>
                    <colgroup>
                        <col style="width: 3.5%;min-width: 44px;">
                        <col style="width: 8%">
                        <col style="width: 8%">
                        <col style="width: 9%;">
                        <col style="width: 30%;">
                        <col style="width: 20%;">
                        <col style="width: 20%">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">
                            <div class="checkbox">
                                <input type="checkbox" name="chk" id="allChk" class="all_chk">
                                <label for="allChk">
                                    <span class="blind">전체선택</span>
                                </label>
                            </div>
                        </th>
                        <th scope="col">No</th>
                        <th scope="col">구분</th>
                        <th scope="col">대상</th>
                        <th scope="col">템플릿 명</th>
                        <th scope="col">등록자</th>
                        <th scope="col">등록일시</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item, idx:${list}">
                        <td>
                            <div class="checkbox">
                                <input type="checkbox" name="chk" th:id="${'chk_' + item.id}" th:value="${item.id}"
                                       th:disabled="${item.schedulerCnt > 0}">
                                <label th:for="${'chk_' + item.id}">
                                    <span class="blind">선택</span>
                                </label>
                            </div>
                        </td>
                        <td th:text="${(pagingInfo.totalRecordCount - ((params.currentPageNo - 1) * params.recordsPerPage + idx.index))}"></td>
                        <td th:text="${item.learningType == null ? '-' : item.learningType.getName()}"></td>
                        <td th:text="${item.hdqrBobDcd.isEmpty() ? '-' : (item.hdqrBobDcd == '1' ? '본부' : '영업점')}"></td>
                        <td>
                            <a href="javascript:" th:class="${'link templateName' + item.id}"
                               th:text="${item.templateName}"
                               th:data-id="${item.id}"
                               th:data-nm="${item.templateName}"
                               th:data-learning-ty="${item.learningType}"
                               th:data-learning-ty-nm="${item.learningType.getName()}"
                               th:data-is-card="${item.learningType eq T(kr.co.ibk.domain.enums.LearningType).CARD}"
                               onclick="fn_templateDetailOpen(this)">admin</a>
                        </td>
                        <td th:text="${item.regName}"></td>
                        <td th:text="${#temporals.format(item.regDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                    </tbody>
                </table>
                <th:block th:insert="~{soulGod/fragments/paging}"></th:block>
            </div>
        </div>
    </div>
</div>

<div id="templateDetail" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">템플릿 상세정보</strong>
            <button type="button" class="btn_close" onclick="layerHide('templateDetail')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <form id="templateForm">
                <input type="hidden" id="templateId">
                <input type="hidden" id="hdqrBobDcd">
                <input type="hidden" id="isCard">
                <input type="hidden" id="learningType">
                <input type="hidden" th:field="${params.searchJson}">
                <input type="hidden" th:field="${params.searchTypeJson}">
                <table class="tbl_write">
                    <caption>템플릿 상세정보 : 구분, 템플릿 명, 학습데이터, 선택 조건, 학습데이터 명, 예산집행기간으로 구성</caption>
                    <colgroup>
                        <col style="width:160px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">구분</th>
                        <td id="learningTyNm"></td>
                    </tr>
                    <tr>
                        <th scope="row">템플릿 명</th>
                        <td id="templateName"></td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>학습데이터 체크</span>
                        </th>
                        <td>
                            <div class="check_wrap cardCon">
                                <th:block th:each="item :${T(kr.co.ibk.domain.enums.InputColumnCardType).values()}">
                                    <div class="checkbox">
                                        <input type="checkbox" th:id="${'input_' + item.camelColumn}"
                                               th:value="${item}"
                                               th:data-name="${item}"
                                               th:data-sno="${item.sno}"
                                               disabled>
                                        <label th:for="${'input_' + item.camelColumn}" th:text="${item.name}"></label>
                                    </div>
                                </th:block>
                            </div>
                            <div class="check_wrap billCon">
                                <th:block th:each="item :${T(kr.co.ibk.domain.enums.InputColumnBillType).values()}">
                                    <div class="checkbox">
                                        <input type="checkbox" th:id="${'input_' + item.camelColumn}"
                                               th:value="${item}"
                                               th:data-name="${item}"
                                               th:data-sno="${item.sno}"
                                               disabled>
                                        <label th:for="${'input_' + item.camelColumn}" th:text="${item.name}"></label>
                                    </div>
                                </th:block>
                            </div>
                            <div class="txt_guide fc_primary">※ 학습 데이터에 포함할 항목을 선택하세요. 체크된 항목만 학습데이터에 포함되어 학습됩니다.</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>학습데이터 (output)</span>
                        </th>
                        <td>
                            <div class="check_wrap cardCon">
                                <th:block th:each="item :${T(kr.co.ibk.domain.enums.OutputColumnCardType).values()}">
                                    <div class="checkbox">
                                        <input type="checkbox" th:id="${'output_' + item.camelColumn}"
                                               th:value="${item}"
                                               th:data-name="${item}"
                                               th:data-sno="${item.sno}"
                                               checked disabled>
                                        <label th:for="${'output_' + item.camelColumn}" th:text="${item.name}"></label>
                                    </div>
                                </th:block>
                            </div>
                            <div class="check_wrap billCon">
                                <th:block th:each="item :${T(kr.co.ibk.domain.enums.OutputColumnBillType).values()}">
                                    <div class="checkbox">
                                        <input type="checkbox" th:id="${'output_' + item.camelColumn}"
                                               th:value="${item}"
                                               th:data-name="${item}"
                                               th:data-sno="${item.sno}"
                                               checked disabled>
                                        <label th:for="${'output_' + item.camelColumn}" th:text="${item.name}"></label>
                                    </div>
                                </th:block>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>선택 조건</span>
                        </th>
                        <td class="chipArea"></td>
                    </tr>
                    </tbody>
                </table>
                <strong class="tbl_tit">학습데이터 등록</strong>
                <table class="tbl_write">
                    <caption>학습데이터 : 학습데이터 명, 예산집행기간으로 구성</caption>
                    <colgroup>
                        <col style="width:160px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">
                            <span class="aster"></span>
                            <label for="dataName">학습데이터 명</label>
                        </th>
                        <td>
                            <div class="input">
                                <input type="text" id="dataName" placeholder="학습데이터 명을 입력하세요.">
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span class="aster"></span>
                            <label>예산집행기간</label>
                        </th>
                        <td>
                            <div class="term_form">
                                <label for="searchStartDate" class="blind">조회 시작 날짜</label>
                                <input type="text" id="searchStartDate" name="searchStartDate"
                                       class="datepicker" readonly>
                            </div>
                            ~
                            <div class="term_form">
                                <label for="searchEndDate" class="blind">조회 종료 날짜</label>
                                <input type="text" id="searchEndDate" name="searchEndDate"
                                       class="datepicker" readonly>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('templateDetail')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="fn_learnDataSave()">
                <span>등록</span>
            </button>
            <button type="button" class="btn line_cool_grey30" onclick="fn_learnDataList()">
                <span>조회</span>
            </button>
        </div>
    </div>
</div>

<div style="display: none">
    <select>
        <option th:each="item :${T(kr.co.ibk.domain.enums.SearchType).values()}"
                th:class="${item}" th:text="${item.name}"></option>
        <option th:each="item :${T(kr.co.ibk.domain.enums.SearchBillType).values()}"
                th:class="${item}" th:text="${item.name}"></option>
    </select>
</div>

</body>
</html>
