<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>세금계산서 학습 데이터 등록 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>
    <link rel="stylesheet" href="../../../static/ClientUI/plugins/jquery-ui/jquery-ui.min.css">
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/monthpicker/jquery.mtz.monthpicker.js"></script>
    <style>
        .tbl_list {
            overflow: hidden
        }

        .tbl_list > thead > tr > th {
            padding: 0 8px
        }

        .tbl_list > tbody > tr > td {
            padding: 0 8px
        }

        #popLearnData .check_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 8px
        }

        #popLearnData .check_wrap .checkbox {
            width: calc((100% - 16px) / 3)
        }

        .txt_guide {
            margin-top: 8px;
        }

        .mtz-monthpicker-year {
            background: #fff url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%236d7175" d="M17 9.17a1 1 0 0 0-1.41 0L12 12.71L8.46 9.17a1 1 0 0 0-1.41 0a1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42Z"%2F%3E%3C%2Fsvg%3E') no-repeat calc(100% - 11px) 50% / 20px auto
        }
    </style>
    <script type="text/javascript">
        $(function(){
            //학습 팝업 도움말
            $('.btn_help').each(function(){
                $(this).on('click', function(){
                    $(this).parent('.th_help_area').toggleClass('active').parents('.tr').siblings('.tr').find('.th_help_area').removeClass('active');
                });
            });
            $(document).on('click', function (e) {
                if(!$(e.target).parents('div').hasClass('th_help_area')){
                    $('.th_help_area').removeClass('active');
                }
            });

            fn_setMonthPicker();
        });
    </script>
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="contents">
            <h1 class="logo">
                <a href="../index.html">
                    <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                </a>
            </h1>
            <div class="user_info">
                <a href="../user/index.html" class="user">
                    <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                    <span>maummcc</span>
                </a>
                <a href="javascript:void(0);" class="btn_logout">
                    <span class="blind">로그아웃</span>
                </a>
            </div>
        </div>
    </header>

    <div id="container">
        <aside id="aside">
            <nav>
                <ul class="nav">
                    <li class="ico_chart">
                        <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                        <ul class="depth">
                            <li>
                                <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/statistic.html">기간별 통계</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_database active">
                        <a href="javascript:void(0);">학습 관리</a>
                        <ul class="depth" style="display:block">
                            <li>
                                <a href="../learn/cardManage.html">BC카드 학습 데이터 등록</a>
                            </li>
                            <li class="active">
                                <a href="../learn/billManage.html">세금계산서 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/templateManage.html">학습 템플릿 관리</a>
                            </li>
                            <li>
                                <a href="../learn/learningDataManage.html">학습 데이터 관리</a>
                            </li>
                            <li>
                                <a href="../learn/modelManage.html">모델 관리</a>
                            </li>
                            <li>
                                <a href="../learn/deployManage.html">배포 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_dns">
                        <a href="javascript:void(0);">시스템 상태</a>
                        <ul class="depth">
                            <li>
                                <a href="../system/monitoring.html">모니터링</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_manage">
                        <a href="javascript:void(0);">Admin</a>
                        <ul class="depth">
                            <li>
                                <a href="javascript:void(0);">조직 관리</a>
                                <ul>
                                    <li>
                                        <a href="../admin/department.html">부서 관리</a>
                                    </li>
                                    <li>
                                        <a href="../admin/user.html">사용자 관리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/menu.html">메뉴 관리</a>
                            </li>
                            <li>
                                <a href="../admin/auth.html">권한 관리</a>
                            </li>
                            <li>
                                <a href="../admin/scheduler.html">학습 스케줄러 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="javascript:;" class="btn_toggle_aside">
                <span class="blind">메뉴 접기</span>
            </a>
        </aside>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">세금계산서 학습 데이터 등록</h3>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('popLearnData')">
                        <span>등록</span>
                    </button>
                </div>
            </div>

            <div class="board_top">
                <div>
                    <div class="total_num">
                        <p><b>248,540</b> 건의 학습데이터가 있습니다.</p>
                        <div>※ 20개의 샘플데이터만 보여집니다</div>
                    </div>
                </div>
                <div class="mla">
                    <div class="filter_area">
                        <button type="button" class="btn btn_text btn_filter">
                            <i class="ico_filter"></i>
                            <span>검색</span>
                        </button>

                        <div class="filter">
                            <div class="inner">
                                <dl>
                                    <dt>예산집행기간</dt>
                                    <dd>
                                        <div class="term_form">
                                            <label for="searchStartDate" class="blind">조회 시작 날짜</label>
                                            <input type="text" id="searchStartDate" name="searchStartDate"
                                                   class="datepicker" value="2023-03" readonly>
                                        </div>
                                        ~
                                        <div class="term_form">
                                            <label for="searchEndDate" class="blind">조회 종료 날짜</label>
                                            <input type="text" id="searchEndDate" name="searchEndDate"
                                                   class="datepicker" value="2025-03" readonly>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>대상</dt>
                                    <dd>
                                        <div class="df">
                                            <div class="radio txt">
                                                <input type="radio" name="searchTarget" id="searchTarget_B"
                                                       value="1" checked>
                                                <label for="searchTarget_B">본부</label>
                                            </div>
                                            <div class="radio txt">
                                                <input type="radio" name="searchTarget" id="searchTarget_Y"
                                                       value="2">
                                                <label for="searchTarget_Y">영업점</label>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt><label for="searchType">검색 대상</label></dt>
                                    <dd>
                                        <select name="searchType" id="searchType">
                                            <option value="" selected="">선택</option>
                                            <option class="BRCD">부점코드</option>
                                            <option class="CDN">카드번호</option>
                                            <option class="BDGT_TSTM_USE_HMS">승인시간</option>
                                            <option class="AMSL_AMT">매출금액</option>
                                            <option class="AFST_NM">가맹점명</option>
                                            <option class="TPBS_NM">업종명</option>
                                            <option class="BZDY_YN">영업일여부</option>
                                            <option class="AFST_DTL_ADR">가맹점상세주소</option>
                                            <option class="BRNC_ADR">부점주소</option>
                                            <option class="AFST_BZN">가맹점사업자등록번호</option>
                                            <option class="AMSL_AFST_NO">매출가맹점번호</option>
                                            <option class="AFST_TPBCD">가맹점업종코드</option>
                                            <option class="BDMN_ITEX_MNGM_NO">예산관리비목관리번호</option>
                                            <option class="BDGT_PRFR_RSN_FRCS_CON">예산집행사유코드</option>
                                            <option class="BDGT_BSNS_FRCS_CON">사업세부사업</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label>검색어</label>
                                    </dt>
                                    <dd>
                                        <div class="search_form">
                                            <div class="search">
                                                <input type="search" id="searchKeyword" name="searchKeyword"
                                                       placeholder="검색어를 입력하세요." disabled>
                                                <button type="button" class="btn_del" tabindex="-1">
                                                    <span class="blind">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <p class="tip">
                                    OR (||): 여러 조건 중 하나라도 만족 <br>
                                    AND (&amp;&amp;): 모든 조건 만족 <br>
                                    NOT (!): 조건의 참/거짓을 반대로 해석 <br>
                                    (사용 예시: 00 &amp;&amp; 11 || !22)
                                </p>
                                <div class="btn_area">
                                    <button type="button" class="btn line_cool_grey30">
                                        <span>초기화</span>
                                    </button>
                                    <button type="button" class="btn fill">
                                        <span>검색 조건 추가</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="selected_filter">
                <div class="chip">
                    <div>예산집행년월 : 2023-03 ~ 2025-03</div>
                    <button type="button" class="btn_del">
                        <span class="blind">삭제</span>
                    </button>
                </div>

                <div class="chip">
                    <div>대상 : 본부</div>
                    <button type="button" class="btn_del">
                        <span class="blind">삭제</span>
                    </button>
                </div>
            </div>

            <!--TODO : 데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <!--<div class="nodata">
				<p>검색 결과가 없습니다.</p>
			</div>-->
            <!--데이터가 없을 때 : e-->

            <div class="tbl_wrap contentsArea" style="">
                <table class="tbl_list">
                    <caption>데이터 관리 : No, 대상, 예산집행년월, 부점코드, 세금계산서구분코드, 공급자사업자번호, 공급자상호명, 공급자업태명, 공급자종목명, 발행금액, 세금계산서품목명, 예산관리비목관리번호, 사업세부사업, 예산집행사유코드로 구성</caption>
                    <colgroup>
                        <col style="width: 2.5%">
                        <col style="width: 4%;">
                        <col style="width: 5%;">
                        <col style="width: 4.5%;">
                        <col style="width: 5%">

                        <col style="width: 5%;">
                        <col style="width: 8%;">
                        <col style="width: 6%;">
                        <col style="width: 6%;">
                        <col style="width: 3.5%;">
                        <col style="width: 6.5%;">

                        <col style="width: 6.5%;">
                        <col style="width: 7%;">
                        <col style="width: 5.5%;">
                    </colgroup>
                    <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">대상</th>
                        <th scope="col">예산집행년월</th>
                        <th scope="col">부점코드</th>
                        <th scope="col">세금계산서구분코드</th>
                        <th scope="col">공급자사업자번호</th>

                        <th scope="col">공급자상호명</th>
                        <th scope="col">공급자업태명</th>
                        <th scope="col">공급자종목명</th>
                        <th scope="col">발행금액</th>
                        <th scope="col">세금계산서품목명</th>

                        <th scope="col">예산관리비목관리번호</th>
                        <th scope="col">사업세부사업</th>
                        <th scope="col">예산집행사유코드</th>
                    </tr>
                    </thead>
                    <tbody id="contents">
                    <tr>
                        <td>1</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>2180108158</td>

                        <td>화승기획</td>
                        <td>제조,도.소매</td>
                        <td>휘장,판촉물외</td>
                        <td>14</td>
                        <td> 협약서 받침대</td>

                        <td style="background-color:#f9f9ff">211099</td>
                        <td style="background-color:#f9f9ff">4270-6</td>
                        <td style="background-color:#f9f9ff">211099-023
                        </td>
                    </tr>

                    <tr>
                        <td>2</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1068634189</td>

                        <td>주식회사 시큐어원</td>
                        <td>서비스 외</td>
                        <td>소프트웨어자문 외</td>
                        <td>1430</td>
                        <td> 국민건강보험공단 정밀보안진단</td>

                        <td style="background-color:#f9f9ff">229007</td>
                        <td style="background-color:#f9f9ff">14534-213</td>
                        <td style="background-color:#f9f9ff">229007-
                        </td>
                    </tr>

                    <tr>
                        <td>3</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>K</td>
                        <td>6329800648</td>

                        <td>야호플라워</td>
                        <td>도소매</td>
                        <td>꽃</td>
                        <td>12</td>
                        <td> 크로톤 관엽식물</td>

                        <td style="background-color:#f9f9ff">223099</td>
                        <td style="background-color:#f9f9ff">20032-3</td>
                        <td style="background-color:#f9f9ff">223099-031
                        </td>
                    </tr>

                    <tr>
                        <td>4</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>K</td>
                        <td>6329800648</td>

                        <td>야호플라워</td>
                        <td></td>
                        <td></td>
                        <td>9</td>
                        <td> 축화화환</td>

                        <td style="background-color:#f9f9ff">223099</td>
                        <td style="background-color:#f9f9ff">20032-3</td>
                        <td style="background-color:#f9f9ff">223099-031
                        </td>
                    </tr>

                    <tr>
                        <td>5</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>6681601295</td>

                        <td>에이스(단지내)부동산중개사사무소</td>
                        <td>부동산업</td>
                        <td>부동산 중개</td>
                        <td>45</td>
                        <td> 중개보수</td>

                        <td style="background-color:#f9f9ff">203004</td>
                        <td style="background-color:#f9f9ff">537-35</td>
                        <td style="background-color:#f9f9ff">203004-
                        </td>
                    </tr>

                    <tr>
                        <td>6</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>3028702088</td>

                        <td>수인회계법인(SUIN Accounting Co</td>
                        <td>전문, 과학 및 기술서비스업</td>
                        <td>공인회계사</td>
                        <td>990</td>
                        <td> KEA재무시스템 기반의 2024회계연도 반기 가결산 지원</td>

                        <td style="background-color:#f9f9ff">229007</td>
                        <td style="background-color:#f9f9ff">14534-363</td>
                        <td style="background-color:#f9f9ff">229007-
                        </td>
                    </tr>

                    <tr>
                        <td>7</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td></td>
                        <td></td>
                        <td>1250</td>
                        <td> 2024.3분기 국민건강보험공단 예금주 조회(실명) 수수료</td>

                        <td style="background-color:#f9f9ff">229099</td>
                        <td style="background-color:#f9f9ff">14534-214</td>
                        <td style="background-color:#f9f9ff">229099-
                        </td>
                    </tr>

                    <tr>
                        <td>8</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>2148679906</td>

                        <td>법무법인 한서</td>
                        <td>서비스</td>
                        <td>변호사</td>
                        <td>35</td>
                        <td> 전세권설정</td>

                        <td style="background-color:#f9f9ff">203004</td>
                        <td style="background-color:#f9f9ff">537-35</td>
                        <td style="background-color:#f9f9ff">203004-
                        </td>
                    </tr>

                    <tr>
                        <td>9</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1358213700</td>

                        <td>재단법인 수원에프씨</td>
                        <td>서비스</td>
                        <td>스포츠마케팅</td>
                        <td>30000</td>
                        <td> 광고료(스포츠활용-보드)</td>

                        <td style="background-color:#f9f9ff">223003</td>
                        <td style="background-color:#f9f9ff">3745-255</td>
                        <td style="background-color:#f9f9ff">223003-
                        </td>
                    </tr>

                    <tr>
                        <td>10</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1048211163</td>

                        <td>한국언론진흥재단</td>
                        <td>비영리</td>
                        <td>언론공익사업</td>
                        <td>3000</td>
                        <td> 수수료(재단법인 수원에프씨):프로축구단 후원 광고 계약)</td>

                        <td style="background-color:#f9f9ff">223003</td>
                        <td style="background-color:#f9f9ff">3745-255</td>
                        <td style="background-color:#f9f9ff">223003-
                        </td>
                    </tr>

                    <tr>
                        <td>11</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td>서비스</td>
                        <td>시스템개발</td>
                        <td>1200</td>
                        <td> 펌뱅킹서비스 이용수수료(국민체육진흥공단 년간_11월~10월)</td>

                        <td style="background-color:#f9f9ff">229001</td>
                        <td style="background-color:#f9f9ff">96-149</td>
                        <td style="background-color:#f9f9ff">229001-
                        </td>
                    </tr>

                    <tr>
                        <td>12</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td>정보통신업</td>
                        <td>그 외 기타 정보 서비스업</td>
                        <td>594</td>
                        <td> 펌뱅킹 이용수수료(문화방송/연간_후납/2023.12~2024.11)</td>

                        <td style="background-color:#f9f9ff">229001</td>
                        <td style="background-color:#f9f9ff">96-150</td>
                        <td style="background-color:#f9f9ff">229001-
                        </td>
                    </tr>

                    <tr>
                        <td>13</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td>서비스</td>
                        <td>시스템개발</td>
                        <td>1056</td>
                        <td> 금융정보 중계 수수료(연세대학교 산학협력단)</td>

                        <td style="background-color:#f9f9ff">229001</td>
                        <td style="background-color:#f9f9ff">96-151</td>
                        <td style="background-color:#f9f9ff">229001-
                        </td>
                    </tr>

                    <tr>
                        <td>14</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>2148635102</td>

                        <td>웹케시(주)</td>
                        <td>서비스</td>
                        <td>시스템개발</td>
                        <td>1181</td>
                        <td> TMS 2023.12월~2024.11월 사용분</td>

                        <td style="background-color:#f9f9ff">229003</td>
                        <td style="background-color:#f9f9ff">14533-31</td>
                        <td style="background-color:#f9f9ff">229003-
                        </td>
                    </tr>

                    <tr>
                        <td>15</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td>서비스</td>
                        <td>시스템개발</td>
                        <td>660</td>
                        <td> 펌뱅킹서비스 이용수수료(한국에너지공단/연간후납_12월~11월)</td>

                        <td style="background-color:#f9f9ff">229003</td>
                        <td style="background-color:#f9f9ff">14533-30</td>
                        <td style="background-color:#f9f9ff">229003-
                        </td>
                    </tr>

                    <tr>
                        <td>16</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>2148635102</td>

                        <td>웹케시(주)</td>
                        <td></td>
                        <td></td>
                        <td>27</td>
                        <td> 한국부동산원 통합자금관리시스템 매입세금계산서 정보중계</td>

                        <td style="background-color:#f9f9ff">229003</td>
                        <td style="background-color:#f9f9ff">14533-44</td>
                        <td style="background-color:#f9f9ff">229003-
                        </td>
                    </tr>

                    <tr>
                        <td>17</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td>서비스</td>
                        <td>시스템개발</td>
                        <td>78</td>
                        <td> 2024.11월 펌뱅킹_실시간(한국부동산원)</td>

                        <td style="background-color:#f9f9ff">229003</td>
                        <td style="background-color:#f9f9ff">14533-44</td>
                        <td style="background-color:#f9f9ff">229003-
                        </td>
                    </tr>

                    <tr>
                        <td>18</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td>정보통신업</td>
                        <td>그 외 기타 정보 서비스업</td>
                        <td>33</td>
                        <td> 2024.11월 한국부동산원(IHB) 가상계좌,현금영수증 지원</td>

                        <td style="background-color:#f9f9ff">229003</td>
                        <td style="background-color:#f9f9ff">14533-44</td>
                        <td style="background-color:#f9f9ff">229003-
                        </td>
                    </tr>

                    <tr>
                        <td>19</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>1078685702</td>

                        <td>(주)쿠콘</td>
                        <td>서비스</td>
                        <td>시스템개발</td>
                        <td>27</td>
                        <td> 통합자금관리시스템(한국부동산원) 법인카드 EDI 연동(24. 11)</td>

                        <td style="background-color:#f9f9ff">229003</td>
                        <td style="background-color:#f9f9ff">14533-44</td>
                        <td style="background-color:#f9f9ff">229003-
                        </td>
                    </tr>

                    <tr>
                        <td>20</td>

                        <td>본부</td>
                        <td>202412</td>
                        <td>0543</td>
                        <td>S</td>
                        <td>7526700593</td>

                        <td>마젠타 컴퍼니</td>
                        <td>서비스업</td>
                        <td>이벤트대행,전시및행사대행</td>
                        <td>23</td>
                        <td> 음료</td>

                        <td style="background-color:#f9f9ff">211099</td>
                        <td style="background-color:#f9f9ff">4270-6</td>
                        <td style="background-color:#f9f9ff">211099-022
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="pagination">
                <button type="button" class="active">
                    1
                </button>
                <button type="button">
                    2
                </button>
                <button type="button">
                    3
                </button>
                <button type="button">
                    4
                </button>
                <button type="button">
                    5
                </button>
                <button type="button">
                    6
                </button>
                <button type="button">
                    7
                </button>
                <button type="button">
                    8
                </button>
                <button type="button">
                    9
                </button>
                <button type="button">
                    10
                </button>
                <span>...</span>
                <button type="button">
                    347
                </button>
                <button type="button" class="page_nav next">
                    <span class="blind">다음</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--등록 팝업 : s-->
<div id="popLearnData" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">학습데이터</strong>
            <button type="button" class="btn_close" onclick="layerHide('popLearnData')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <table class="tbl_write">
                <caption>학습데이터 : 학습데이터 명, 학습 선택으로 구성</caption>
                <colgroup>
                    <col style="width:160px">
                    <col style="width:auto">
                    <col style="width:160px">
                    <col style="width:auto">
                </colgroup>
                <tbody>
                <!--<tr>
                    <th scope="row">
                        <label for="hdqrBobDcd">학습 대상</label>
                    </th>
                    <td colspan="3">
                        <select id="hdqrBobDcd">
                            <option value="1" selected>본부</option>
                            <option value="2">영업점</option>
                        </select>
                    </td>
                </tr>-->
                <tr>
                    <th scope="row">
                        <label for="dataName">학습데이터 명</label>
                    </th>
                    <td colspan="3">
                        <div class="input">
                            <input type="text" id="dataName" placeholder="학습데이터 명을 입력하세요.">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>학습데이터 체크</span>
                    </th>
                    <td colspan="3">
                        <div class="check_wrap">

                            <div class="checkbox">
                                <input type="checkbox" id="input_brcd" value="BRCD" data-name="BRCD" data-sno="1" class="checkedY" checked="checked" disabled="disabled">
                                <label for="input_brcd">부점코드</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="input_txblDcd" value="TXBL_DCD" data-name="TXBL_DCD" data-sno="2" class="checkedY" checked="checked">
                                <label for="input_txblDcd">세금계산서구분코드</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="input_splrBsnnNo" value="SPRL_BSNN_NO" data-name="SPRL_BSNN_NO" data-sno="3" class="checkedY" checked="checked">
                                <label for="input_splrBsnnNo">공급자사업자번호</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="input_splrFrm" value="SPLR_FRM" data-name="SPLR_FRM" data-sno="4" class="checkedY" checked="checked">
                                <label for="input_splrFrm">공급자상호명</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="input_splrBzstNm" value="SPLR_BZST_NM" data-name="SPLR_BZST_NM" data-sno="5" class="checkedY" checked="checked">
                                <label for="input_splrBzstNm">공급자업태명</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="input_splrItmsNm" value="SPLR_ITMS_NM" data-name="SPLR_ITMS_NM" data-sno="6" class="checkedY" checked="checked">
                                <label for="input_splrItmsNm">공급자종목명</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="input_issAmt" value="ISS_AMT" data-name="ISS_AMT" data-sno="7" class="checkedY" checked="checked">
                                <label for="input_issAmt">발행금액</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="input_txblLsarNm" value="TXBL_LSAR_NM" data-name="TXBL_LSAR_NM" data-sno="8" class="checkedY" checked="checked">
                                <label for="input_txblLsarNm">세금계산서품목명</label>
                            </div>

                        </div>
                        <div class="txt_guide fc_primary">※ 학습 데이터에 포함할 항목을 선택하세요. 체크된 항목만 학습데이터에 포함되어 학습됩니다.</div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>학습데이터 (output)</span>
                    </th>
                    <td colspan="3">
                        <div class="check_wrap">

                            <div class="checkbox">
                                <input type="checkbox" id="output_bdgtItexFrcsCon" value="BDGT_ITEX_FRCS_CON" data-name="BDGT_ITEX_FRCS_CON" data-sno="1" checked="" disabled="">
                                <label for="output_bdgtItexFrcsCon">예산관리비목번호</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="output_bdgtPrfrRsnFrcsCon" value="BDGT_PRFR_RSN_FRCS_CON" data-name="BDGT_PRFR_RSN_FRCS_CON" data-sno="2" checked="" disabled="">
                                <label for="output_bdgtPrfrRsnFrcsCon">예산집행사유코드</label>
                            </div>

                            <div class="checkbox">
                                <input type="checkbox" id="output_bdgtBsnsFrcsCon" value="BDGT_BSNS_FRCS_CON" data-name="BDGT_BSNS_FRCS_CON" data-sno="3" checked="" disabled="">
                                <label for="output_bdgtBsnsFrcsCon">사업세부사업</label>
                            </div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>선택 조건</span>
                    </th>
                    <td colspan="3" class="chipArea">
                        <div class="chip">
                            <div>예산집행년월 : 2023-03 ~ 2025-03</div>

                        </div>

                        <div class="chip">
                            <div>대상 : 본부</div>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">
                        <span>템플릿 생성 유무</span>
                    </th>
                    <td>
                        <div class="df">
                            <div class="radio txt">
                                <input type="radio" name="templateAt" id="templateAtY" value="Y">
                                <label for="templateAtY">사용</label>
                            </div>
                            <div class="radio txt">
                                <input type="radio" name="templateAt" id="templateAtN" value="N">
                                <label for="templateAtN">미사용</label>
                            </div>
                        </div>
                    </td>
                    <th scope="row">
                        <span>템플릿 명</span>
                    </th>
                    <td>
                        <input type="text" id="templateName" name="templateName" placeholder="템플릿 명을 입력하세요.">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="txt_guide fc_primary">※ 템플릿은 예산집행년월 정보를 저장하지 않습니다. 템플릿을 사용해 학습데이터를 생성할 때 설정해주세요.</div>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popLearnData')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('popLearnData')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--등록 팝업 : e-->

<!--얼럿 : s-->
<div id="alertWarning" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_warning"></i>
            <strong class="pop_tit">삭제하시겠습니까?</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('alertWarning')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('alertWarning')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->
</body>
</html>