<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>학습 템플릿 관리 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>
    <link rel="stylesheet" href="../../../static/ClientUI/plugins/jquery-ui/jquery-ui.min.css">
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/monthpicker/jquery.mtz.monthpicker.js"></script>
    <style>
        .tbl_list {
            overflow: hidden
        }

        .tbl_list > thead > tr > th {
            padding: 0 8px
        }

        .tbl_list > tbody > tr > td {
            padding: 0 8px
        }

        .tbl_list tbody td .link {
            text-decoration: underline;
            color: #004c9d !important;
        }

        #popLearnData .check_wrap {
            display: flex;
            flex-wrap: wrap;
            gap: 8px
        }

        #popLearnData .check_wrap .checkbox {
            width: calc((100% - 16px) / 3)
        }

        .txt_guide {
            margin-top: 8px
        }

        .mtz-monthpicker-year {
            background: #fff url('data:image/svg+xml,%3Csvg xmlns="http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"%3E%3Cpath fill="%236d7175" d="M17 9.17a1 1 0 0 0-1.41 0L12 12.71L8.46 9.17a1 1 0 0 0-1.41 0a1 1 0 0 0 0 1.42l4.24 4.24a1 1 0 0 0 1.42 0L17 10.59a1 1 0 0 0 0-1.42Z"%2F%3E%3C%2Fsvg%3E') no-repeat calc(100% - 11px) 50% / 20px auto
        }

        #templateDetail .check_wrap {
            display: flex;
            flex-wrap: wrap;
            align-items: flex-start;
            gap: 4px;
        }

        #templateDetail .check_wrap .checkbox {
            width: calc((100% - 8px) / 3);
        }

        #templateDetail .tbl_tit {
            display: block;
            font-weight: 700;
            font-size: 20px;
            margin-top: 18px;
            margin-bottom: 17px;
        }
    </style>
    <script type="text/javascript">
        $(function(){
            //학습 팝업 도움말
            $('.btn_help').each(function(){
                $(this).on('click', function(){
                    $(this).parent('.th_help_area').toggleClass('active').parents('.tr').siblings('.tr').find('.th_help_area').removeClass('active');
                });
            });
            $(document).on('click', function (e) {
                if(!$(e.target).parents('div').hasClass('th_help_area')){
                    $('.th_help_area').removeClass('active');
                }
            });
        });
        function fn_templateDetailOpen(obj) {
            fn_setMonthPicker();
            layerShow('templateDetail');
        }
    </script>
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="contents">
            <h1 class="logo">
                <a href="../index.html">
                    <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                </a>
            </h1>
            <div class="user_info">
                <a href="../user/index.html" class="user">
                    <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                    <span>maummcc</span>
                </a>
                <a href="javascript:void(0);" class="btn_logout">
                    <span class="blind">로그아웃</span>
                </a>
            </div>
        </div>
    </header>

    <div id="container">
        <aside id="aside">
            <nav>
                <ul class="nav">
                    <li class="ico_chart">
                        <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                        <ul class="depth">
                            <li>
                                <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/statistic.html">기간별 통계</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_database active">
                        <a href="javascript:void(0);">학습 관리</a>
                        <ul class="depth" style="display:block">
                            <li>
                                <a href="../learn/cardManage.html">BC카드 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/billManage.html">세금계산서 학습 데이터 등록</a>
                            </li>
                            <li class="active">
                                <a href="../learn/templateManage.html">학습 템플릿 관리</a>
                            </li>
                            <li>
                                <a href="../learn/learningDataManage.html">학습 데이터 관리</a>
                            </li>
                            <li>
                                <a href="../learn/modelManage.html">모델 관리</a>
                            </li>
                            <li>
                                <a href="../learn/deployManage.html">배포 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_dns">
                        <a href="javascript:void(0);">시스템 상태</a>
                        <ul class="depth">
                            <li>
                                <a href="../system/monitoring.html">모니터링</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_manage">
                        <a href="javascript:void(0);">Admin</a>
                        <ul class="depth">
                            <li>
                                <a href="javascript:void(0);">조직 관리</a>
                                <ul>
                                    <li>
                                        <a href="../admin/department.html">부서 관리</a>
                                    </li>
                                    <li>
                                        <a href="../admin/user.html">사용자 관리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/menu.html">메뉴 관리</a>
                            </li>
                            <li>
                                <a href="../admin/auth.html">권한 관리</a>
                            </li>
                            <li>
                                <a href="../admin/scheduler.html">학습 스케줄러 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="javascript:;" class="btn_toggle_aside">
                <span class="blind">메뉴 접기</span>
            </a>
        </aside>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">학습 템플릿 관리</h3>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('alertWarning')">
                        <span>삭제</span>
                    </button>
                </div>
            </div>

            <div class="board_top">
                <div>
                    <div class="total_num"><b>2</b> 건의 학습 템플릿이 있습니다.</div>
                </div>
                <div class="mla">
                    <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                    <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility">
                        <option value="10">10개</option>
                        <option value="20" selected>20개</option>
                        <option value="30">30개</option>
                        <option value="40">40개</option>
                        <option value="50">50개</option>
                    </select>
                    <label for="sorting" class="blind">정렬조건</label>
                    <select name="sorting" id="sorting" class="sel_board sel_sorting">
                        <option value="asc">과거순</option>
                        <option value="desc" selected>최신순</option>
                    </select>
                    <div class="filter_area">
                        <button type="button" class="btn btn_text btn_filter active"> <!--TODO : 선택된 조건이 있을 때는 클래스 active 추가, 필터 삭제되면 클래스 active 삭제-->
                            <i class="ico_filter"></i>
                            <span>검색</span>
                        </button>

                        <div class="filter">
                            <div class="inner">
                                <dl>
                                    <dt>
                                        <label for="searchLearningType">구분</label>
                                    </dt>
                                    <dd>
                                        <select name="searchLearningType" id="searchLearningType">
                                            <option value="" selected>전체</option>
                                            <option class="CARD" value="CARD">BC카드</option>
                                            <option class="BILL" value="BILL">세금계산서</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="target">대상</label>
                                    </dt>
                                    <dd>
                                        <select name="target" id="target">
                                            <option value="" selected>전체</option>
                                            <option value="">본부</option>
                                            <option value="">영업점</option>
                                        </select>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="searchKeyword">검색어</label>
                                    </dt>
                                    <dd>
                                        <div class="search_form">
                                            <div class="search">
                                                <input type="search" id="searchKeyword" placeholder="검색어를 입력하세요.">
                                                <button type="button" class="btn_del" tabindex="-1">
                                                    <span class="blind">삭제</span>
                                                </button>
                                            </div>
                                        </div>
                                    </dd>
                                </dl>
                                <div class="btn_area">
                                    <button type="button" class="btn line_cool_grey30">
                                        <span>초기화</span>
                                    </button>
                                    <button type="button" class="btn fill">
                                        <span>검색</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="selected_filter">
            </div>

            <!--TODO : 데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <!--<div class="nodata">
				<p>검색 결과가 없습니다.</p>
			</div>-->
            <!--데이터가 없을 때 : e-->

            <table class="tbl_list">
                <caption>학습 템플릿 관리 : No, 대상, 템플릿 명, 등록자, 등록일시</caption>
                <colgroup>
                    <col style="width: 3.5%;min-width: 44px;">
                    <col style="width: 8%">
                    <col style="width: 8%">
                    <col style="width: 9%;">
                    <col style="width: 30%;">
                    <col style="width: 20%;">
                    <col style="width: 20%">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="allChk" class="all_chk">
                            <label for="allChk">
                                <span class="blind">전체선택</span>
                            </label>
                        </div>
                    </th>
                    <th scope="col">No</th>
                    <th scope="col">구분</th>
                    <th scope="col">대상</th>
                    <th scope="col">템플릿 명</th>
                    <th scope="col">등록자</th>
                    <th scope="col">등록일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk_129" value="129">
                            <label for="chk_129">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>2</td>
                    <td>BC카드</td>
                    <td>본부</td>
                    <td>
                        <a href="javascript:" class="link templateName129" data-id="129" data-nm="0306_data" data-learning-ty="CARD" data-learning-ty-nm="BC카드" data-is-card="true" onclick="fn_templateDetailOpen(this)">0306_data</a>
                    </td>
                    <td>관리자</td>
                    <td>2025-03-06 12:21:47</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk_128" value="128" disabled="disabled">
                            <label for="chk_128">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>1</td>
                    <td>BC카드</td>
                    <td>영업점</td>
                    <td>
                        <a href="javascript:" class="link templateName128" data-id="128" data-nm="0304_test" data-learning-ty="CARD" data-learning-ty-nm="BC카드" data-is-card="true" onclick="fn_templateDetailOpen(this)">0304_test</a>
                    </td>
                    <td>관리자</td>
                    <td>2025-03-04 11:22:59</td>
                </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button type="button" class="active">
                    1
                </button>
            </div>
        </div>
    </div>
</div>

<div id="templateDetail" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">템플릿 상세정보</strong>
            <button type="button" class="btn_close" onclick="layerHide('templateDetail')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <form id="templateForm">
                <table class="tbl_write">
                    <caption>템플릿 상세정보 : 구분, 템플릿 명, 학습데이터, 선택 조건, 학습데이터 명, 예산집행기간으로 구성</caption>
                    <colgroup>
                        <col style="width:160px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">구분</th>
                        <td id="learningTyNm">BC카드</td>
                    </tr>
                    <tr>
                        <th scope="row">템플릿 명</th>
                        <td id="templateName">0306_data</td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>학습데이터 체크</span>
                        </th>
                        <td>
                            <div class="check_wrap cardCon">

                                <div class="checkbox">
                                    <input type="checkbox" id="input_brcd" value="BRCD" data-name="BRCD" data-sno="1" disabled="">
                                    <label for="input_brcd">부점코드</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_cdn" value="CDN" data-name="CDN" data-sno="2" disabled="">
                                    <label for="input_cdn">카드번호</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_bdgtTstmUseHms" value="BDGT_TSTM_USE_HMS" data-name="BDGT_TSTM_USE_HMS" data-sno="3" disabled="">
                                    <label for="input_bdgtTstmUseHms">승인시간</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_amslAmt" value="AMSL_AMT" data-name="AMSL_AMT" data-sno="4" disabled="">
                                    <label for="input_amslAmt">매출금액</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_afstNm" value="AFST_NM" data-name="AFST_NM" data-sno="5" disabled="">
                                    <label for="input_afstNm">가맹점명</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_tpbsNm" value="TPBS_NM" data-name="TPBS_NM" data-sno="6" disabled="">
                                    <label for="input_tpbsNm">업종명</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_bzdyYn" value="BZDY_YN" data-name="BZDY_YN" data-sno="7" disabled="">
                                    <label for="input_bzdyYn">영업일여부</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_afstDtlAdr" value="AFST_DTL_ADR" data-name="AFST_DTL_ADR" data-sno="8" disabled="">
                                    <label for="input_afstDtlAdr">가맹점상세주소</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_brncAdr" value="BRNC_ADR" data-name="BRNC_ADR" data-sno="9" disabled="">
                                    <label for="input_brncAdr">부점주소</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_afstBzn" value="AFST_BZN" data-name="AFST_BZN" data-sno="10" disabled="">
                                    <label for="input_afstBzn">가맹점사업자등록번호</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_amslAfstNo" value="AMSL_AFST_NO" data-name="AMSL_AFST_NO" data-sno="11" disabled="">
                                    <label for="input_amslAfstNo">매출가맹점번호</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_afstTpbcd" value="AFST_TPBCD" data-name="AFST_TPBCD" data-sno="12" disabled="">
                                    <label for="input_afstTpbcd">가맹점업종코드</label>
                                </div>

                            </div>
                            <div class="check_wrap billCon" style="display: none;">

                                <div class="checkbox">
                                    <input type="checkbox" id="input_brcd" value="BRCD" data-name="BRCD" data-sno="1" disabled="">
                                    <label for="input_brcd">부점코드</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_txblDcd" value="TXBL_DCD" data-name="TXBL_DCD" data-sno="2" disabled="">
                                    <label for="input_txblDcd">세금계산서구분코드</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_splrBsnnNo" value="SPRL_BSNN_NO" data-name="SPRL_BSNN_NO" data-sno="3" disabled="">
                                    <label for="input_splrBsnnNo">공급자사업자번호</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_splrFrm" value="SPLR_FRM" data-name="SPLR_FRM" data-sno="4" disabled="">
                                    <label for="input_splrFrm">공급자상호명</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_splrBzstNm" value="SPLR_BZST_NM" data-name="SPLR_BZST_NM" data-sno="5" disabled="">
                                    <label for="input_splrBzstNm">공급자업태명</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_splrItmsNm" value="SPLR_ITMS_NM" data-name="SPLR_ITMS_NM" data-sno="6" disabled="">
                                    <label for="input_splrItmsNm">공급자종목명</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_issAmt" value="ISS_AMT" data-name="ISS_AMT" data-sno="7" disabled="">
                                    <label for="input_issAmt">발행금액</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="input_txblLsarNm" value="TXBL_LSAR_NM" data-name="TXBL_LSAR_NM" data-sno="8" disabled="">
                                    <label for="input_txblLsarNm">세금계산서품목명</label>
                                </div>

                            </div>
                            <div class="txt_guide fc_primary">※ 학습 데이터에 포함할 항목을 선택하세요. 체크된 항목만 학습데이터에 포함되어 학습됩니다.</div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>학습데이터 (output)</span>
                        </th>
                        <td>
                            <div class="check_wrap cardCon">

                                <div class="checkbox">
                                    <input type="checkbox" id="output_bdmnItexMngmNo" value="BDMN_ITEX_MNGM_NO" data-name="BDMN_ITEX_MNGM_NO" data-sno="1" checked="" disabled="">
                                    <label for="output_bdmnItexMngmNo">예산관리비목관리번호</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="output_bdgtPrfrRsnFrcsCon" value="BDGT_PRFR_RSN_FRCS_CON" data-name="BDGT_PRFR_RSN_FRCS_CON" data-sno="2" checked="" disabled="">
                                    <label for="output_bdgtPrfrRsnFrcsCon">예산집행사유코드</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="output_bdgtBsnsFrcsCon" value="BDGT_BSNS_FRCS_CON" data-name="BDGT_BSNS_FRCS_CON" data-sno="3" checked="" disabled="">
                                    <label for="output_bdgtBsnsFrcsCon">사업세부사업</label>
                                </div>

                            </div>
                            <div class="check_wrap billCon" style="display: none;">

                                <div class="checkbox">
                                    <input type="checkbox" id="output_bdgtItexFrcsCon" value="BDGT_ITEX_FRCS_CON" data-name="BDGT_ITEX_FRCS_CON" data-sno="1" checked="" disabled="">
                                    <label for="output_bdgtItexFrcsCon">예산관리비목번호</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="output_bdgtPrfrRsnFrcsCon" value="BDGT_PRFR_RSN_FRCS_CON" data-name="BDGT_PRFR_RSN_FRCS_CON" data-sno="2" checked="" disabled="">
                                    <label for="output_bdgtPrfrRsnFrcsCon">예산집행사유코드</label>
                                </div>

                                <div class="checkbox">
                                    <input type="checkbox" id="output_bdgtBsnsFrcsCon" value="BDGT_BSNS_FRCS_CON" data-name="BDGT_BSNS_FRCS_CON" data-sno="3" checked="" disabled="">
                                    <label for="output_bdgtBsnsFrcsCon">사업세부사업</label>
                                </div>

                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span>선택 조건</span>
                        </th>
                        <td class="chipArea">
                            <div class="chip">
                                <div>대상 : 본부</div>

                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <strong class="tbl_tit">학습데이터 등록</strong>
                <table class="tbl_write">
                    <caption>학습데이터 : 학습데이터 명, 예산집행기간으로 구성</caption>
                    <colgroup>
                        <col style="width:160px">
                        <col style="width:auto">
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">
                            <span class="aster"></span>
                            <label for="dataName">학습데이터 명</label>
                        </th>
                        <td>
                            <div class="input">
                                <input type="text" id="dataName" placeholder="학습데이터 명을 입력하세요.">
                                <button type="button" class="btn_del" tabindex="-1">
                                    <span class="blind">삭제</span>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th scope="row">
                            <span class="aster"></span>
                            <label>예산집행기간</label>
                        </th>
                        <td>
                            <div class="term_form">
                                <label for="searchStartDate" class="blind">조회 시작 날짜</label>
                                <input type="text" id="searchStartDate" name="searchStartDate" class="datepicker" value="2023-03" readonly>
                            </div>
                            ~
                            <div class="term_form">
                                <label for="searchEndDate" class="blind">조회 종료 날짜</label>
                                <input type="text" id="searchEndDate" name="searchEndDate" class="datepicker" value="2025-03" readonly>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('templateDetail')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('templateDetail')">
                <span>등록</span>
            </button>
            <button type="button" class="btn line_cool_grey30">
                <span>조회</span>
            </button>
        </div>
    </div>
</div>

<!--얼럿 : s-->
<div id="alertWarning" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_warning"></i>
            <strong class="pop_tit">삭제하시겠습니까?</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('alertWarning')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('alertWarning')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->
</body>
</html>