<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="cache-control" content="no-cache"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>로그인 | IBK</title>
    <link rel="shortcut icon" type="image/x-icon" href="/ClientUI/images/icon/favicon.ico"/>

    <link rel="stylesheet" href="/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="/ClientUI/css/style.css"/>
    <link rel="stylesheet" href="/ClientUI/css/login.css"/>

    <script type="text/javascript" src="/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="/ClientUI/plugins/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="/ClientUI/js/common.js"></script>
</head>
<body class="login_body">

</body>
</html>