@charset "UTF-8";

.error_area {
	width: max-content;
	margin: 160px auto;
	padding-left: 120px;
	color: #6d7175;
	font-size: 16px;
	background: url(../images/contents/bg_error.png) no-repeat 0 0;
}
.error_area h2 {
	margin-bottom: 16px;
	color: #000;
	font-size: 32px;
}
.error_area .btn_area {
	justify-content: flex-start;
	padding-top: 40px;
}
.error_area .btn_area .btn {
	min-width: 120px;
	height: 52px;
	font-size: 16px;
}