<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindslab.web.mapper.maria.MariaLearnHistoryMapper">
   
    <select id="getLearnHistoryTotalCount" parameterType="com.mindslab.web.vo.LearnHistoryVO" resultType="int">
        SELECT 
            COUNT(1)
        FROM 
	       ( SELECT 
	            <include refid="learnHistory_columns"><property name="alias" value="lh."/></include>
	        FROM 
	        	LEARNING_HISTORY AS lh
	        WHERE 
	        	1=1 ) lh
        WHERE 
        	1=1
        	<include refid="searchLearnHistory" />
    </select>

    <select id="getLearnHistoryList" parameterType="com.mindslab.web.vo.LearnHistoryVO" resultType="com.mindslab.web.vo.LearnHistoryVO">
        SELECT 
			*
        FROM 
	       ( SELECT 
	            <include refid="learnHistory_columns"><property name="alias" value="lh."/></include>
	        FROM 
	        	LEARNING_HISTORY AS lh
	        WHERE 
	        	1=1 ) lh
        WHERE 
        	1=1
        	<include refid="searchLearnHistory" />
        <if test="deployDtOrd != null and (deployDtOrd == 'asc' or deployDtOrd == 'desc')">
        ORDER BY 
        	ID ${deployDtOrd}
       	</if>
    	    <include refid="com.mindslab.web.mapper.maria.MariaCommonMapper.paging" />
    </select>
    
    
    <update id="addLearnHistory" parameterType="com.mindslab.web.vo.LearnHistoryVO">
		INSERT INTO LEARNING_HISTORY
	    	(LEARNING_ID, LEARN_NAME, THRESHOLD, REG_ID, REG_DT, MOD_ID, MOD_DT,
	    	 USE_STATUS, DEPLOY_STATUS, DEPLOY_DT, ROLLBACK_DT, RESULT_CODE, RESULT_MSG)
	    VALUES
	    	(#{learningId}, #{learnName}, #{threshold}, #{regId}, current_timestamp(), #{modId}, current_timestamp(),
	     	#{useStatus}, #{deployStatus}, current_timestamp(), current_timestamp(), #{resultCode}, #{resultMsg})
    </update>
    
    <update id="stopLearnHistory" parameterType="com.mindslab.web.vo.LearnHistoryVO">
		UPDATE LEARNING_HISTORY
	    SET MOD_ID = #{modId}
	    	, MOD_DT = current_timestamp()
	    	, USE_STATUS = '0'
	    WHERE USE_STATUS = '1'
    </update>
   
    
    <sql id="learnHistory_columns">
		${alias}ID
		, ${alias}LEARNING_ID
		, ${alias}LEARNING_MODEL_ID
		, ${alias}LEARN_NAME
		, ${alias}THRESHOLD
		, ${alias}REG_ID
		, ${alias}REG_DT
		, ${alias}MOD_ID
		, ${alias}MOD_DT
		, ${alias}USE_STATUS
		, ${alias}DEPLOY_STATUS
		, ${alias}DEPLOY_DT
		, ${alias}ROLLBACK_DT
		, ${alias}RESULT_CODE
		, ${alias}RESULT_MSG
    </sql>
    
	<!-- MariaDB LEARNING_HISTORY 테이블 검색 -->
	<sql id="searchLearnHistory">
		<!-- 대상 검색 키워드가 있을 때 -->
		<if test="searchKeyword != null and searchKeyword != '' and searchKeyword != 'undefined' ">
			<choose>
				<!-- 대상 검색 유형이 있을 때 -->
				<when test="searchType != null and searchType != ''">
					<choose>
						<when test="'all'.equals(searchType)">
						AND
						(
							LEARN_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
							OR REG_ID LIKE CONCAT('%', #{searchKeyword}, '%')
						)
						</when>
						<when test="'learn'.equals(searchType)">
							AND LEARN_NAME LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
						<when test="'em'.equals(searchType)">
							AND REG_ID LIKE CONCAT('%', #{searchKeyword}, '%')
						</when>
					</choose>
				</when>
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
						AND
							1 = 1
				</otherwise>
			</choose>
		</if>
		
		<!-- 사용여부 -->
		<if test="searchUse != null and searchUse != '' and searchUse != 'undefined'">
			<choose>
				<when test="'all'.equals(searchUse)">
				AND
				(
					1=1
				)
				</when>
				<when test="'use'.equals(searchUse)">
					AND USE_STATUS = '1'
				</when>
				<when test="'stop'.equals(searchUse)">
					AND USE_STATUS = '0'
				</when>
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
				</otherwise>
			</choose>
		</if>
		
		<!-- 배포여부 -->
		<if test="searchDeploy != null and searchDeploy != '' and searchDeploy != 'undefined'">
			<choose>
				<when test="'all'.equals(searchDeploy)">
				AND
				(
					1=1
				)
				</when>
				<when test="'success'.equals(searchDeploy)">
					AND DEPLOY_STATUS = '1'
				</when>
				<when test="'fail'.equals(searchDeploy)">
					AND DEPLOY_STATUS = '0'
				</when>
				<!-- 검색 유형이 없을 때 -->
				<otherwise>
				</otherwise>
			</choose>
		</if>
		
		<!-- 날짜 검색 유형이 있을 때 -->
		<if test="searchStartDate != null and searchStartDate != ''">
			<![CDATA[ 
				AND DATE_FORMAT( DEPLOY_DT, '%Y-%m-%d') >= #{searchStartDate}
			 ]]>
		</if>
		<if test="searchEndDate != null and searchEndDate != ''">
			<![CDATA[ 
				AND DATE_FORMAT( DEPLOY_DT, '%Y-%m-%d') <= #{searchEndDate}
			 ]]>
		</if>
	</sql>
</mapper>


	

