<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta http-equiv="cache-control" content="no-cache"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<title>Error | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
	<meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템"/>
	<meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템"/>
	<meta property="og:image" content="../../static/ClientUI/user/images/common/meta_logo.png"/>
	<link rel="shortcut icon" type="image/x-icon" href="../../static/ClientUI/images/icon/favicon.ico"/>

	<link rel="stylesheet" href="../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>
	<link rel="stylesheet" href="../../static/ClientUI/css/jqtree.css"/>

	<link rel="stylesheet" href="../../static/ClientUI/css/common.css"/>
	<link rel="stylesheet" href="../../static/ClientUI/css/style.css"/>

	<script type="text/javascript" src="../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/plugins/jquery.table2excel.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/js/tree.jquery.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/js/file.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/js/style.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/js/common.js"></script>
	<link rel="stylesheet" href="../../static/ClientUI/css/error.css"/>
</head>
<body>
<div id="wrap" class="error_wrap">
	<div id="container" style="position:relative;min-height:calc(100vh);transition:paddinglinear .3s;padding-left:0;">

		<div class="contents">
			<div class="error_area">
				<h2>페이지를 찾을 수 없습니다.</h2>
				<p>
					삭제되었거나 존재하지 않는 페이지일 수 있으니, <br>
					URL을 확인하거나 다시 시도해 주세요.
				</p>
				<div class="btn_area">
					<button class="btn line_cool_grey30" onclick="history.back()">
						<span>이전으로</span>
					</button>
					<button class="btn fill" onclick="location.href='/'">
						<span>홈으로</span>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>