<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>대시보드 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
	<meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
	<meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
	<meta property="og:image" content="../../static/ClientUI/user/images/common/meta_logo.png" />
	<link rel="shortcut icon" type="image/x-icon" href="../../static/ClientUI/images/icon/favicon.ico" />

	<link rel="stylesheet" href="../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

	<link rel="stylesheet" href="../../static/ClientUI/css/common.css"/>
	<link rel="stylesheet" href="../../static/ClientUI/css/style.css"/>

	<script type="text/javascript" src="../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

	<script type="text/javascript" src="../../static/ClientUI/js/file.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/js/style.js"></script>
	<script type="text/javascript" src="../../static/ClientUI/js/common.js"></script>
	<script type="text/javascript">
		$(function(){
		});
	</script>
</head>
<body>
<div id="wrap">
	<header id="header">
		<div class="contents">
			<h1 class="logo">
				<a href="../index.html">
					<img src="../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
				</a>
			</h1>
			<div class="user_info">
				<a href="user/index.html" class="user">
					<span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
					<span>maummcc</span>
				</a>
				<a href="javascript:void(0);" class="btn_logout">
					<span class="blind">로그아웃</span>
				</a>
			</div>
		</div>
	</header>

	<div id="container">
		<aside id="aside">
			<nav>
				<ul class="nav">
					<li class="ico_chart">
						<a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
						<ul class="depth">
							<li>
								<a href="report/card.html">BC카드 지급결의 내역 조회</a>
							</li>
							<li>
								<a href="report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
							</li>
							<li>
								<a href="report/statistic.html">기간별 통계</a>
							</li>
						</ul>
					</li>
					<li class="ico_database">
						<a href="javascript:void(0);">학습 관리</a>
						<ul class="depth">
							<li>
								<a href="learn/cardManage.html">BC카드 학습 데이터 등록</a>
							</li>
							<li>
								<a href="learn/billManage.html">세금계산서 학습 데이터 등록</a>
							</li>
							<li>
								<a href="learn/templateManage.html">학습 템플릿 관리</a>
							</li>
							<li>
								<a href="learn/learningDataManage.html">학습 데이터 관리</a>
							</li>
							<li>
								<a href="learn/modelManage.html">모델 관리</a>
							</li>
							<li>
								<a href="learn/deployManage.html">배포 관리</a>
							</li>
						</ul>
					</li>
					<li class="ico_dns">
						<a href="javascript:void(0);">시스템 상태</a>
						<ul class="depth">
							<li>
								<a href="system/monitoring.html">모니터링</a>
							</li>
						</ul>
					</li>
					<li class="ico_manage">
						<a href="javascript:void(0);">Admin</a>
						<ul class="depth">
							<li>
								<a href="javascript:void(0);">조직 관리</a>
								<ul>
									<li>
										<a href="admin/department.html">부서 관리</a>
									</li>
									<li>
										<a href="admin/user.html">사용자 관리</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="admin/menu.html">메뉴 관리</a>
							</li>
							<li>
								<a href="admin/auth.html">권한 관리</a>
							</li>
							<li>
								<a href="admin/scheduler.html">학습 스케줄러 관리</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<a href="javascript:;" class="btn_toggle_aside">
				<span class="blind">메뉴 접기</span>
			</a>
		</aside>

		<div class="contents">
		</div>
	</div>
</div>

<!--로딩중 : s-->
<div class="loading_layer"> <!--노출 원할 시 클래스 active 추가-->
	<div class="loading">
		<p>Loading</p>
		<div class="loading_circle_rotate">
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
			<div class="circle"></div>
		</div>
	</div>
</div>
<!--로딩중 : e-->

<!--snackbar : s-->
<div class="system_msg_area">
	<div id="snackbarCaution" class="snackbar caution"> <!--노출 원할 시 클래스 active 추가-->
		<strong class="tit">정보를 확인해 주세요.</strong>
		<button type="button" class="btn_close">
			<span class="blind">닫기</span>
		</button>
	</div>
	<div id="snackbarError" class="snackbar error">
		<strong class="tit">등록하지 못하였습니다.</strong>
		<button type="button" class="btn_close">
			<span class="blind">닫기</span>
		</button>
	</div>
	<div id="snackbarSuccess" class="snackbar">
		<strong class="tit">완료되었습니다.</strong>
		<button type="button" class="btn_close">
			<span class="blind">닫기</span>
		</button>
	</div>
</div>
<!--snackbar : e-->

<!--toast : s-->
<div class="system_msg_area">
	<div id="toast" class="toast"> <!--노출 원할 시 클래스 active 추가-->
		<strong class="tit">변경사항이 저장되었습니다.</strong>
	</div>
</div>
<!--toast : e-->
</body>
</html>