<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>데이터 관리 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/amcharts5/index.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/amcharts5/xy.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/amcharts5/Animated.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>
    <script type="text/javascript">
        $(function(){
            fn_setDatePicker('#stDt', {
                onShow: function (ct) {
                    this.setOptions({
                        maxDate: $('#edDt').val() ? $('#edDt').val() : false
                    })
                }
            });
            fn_setDatePicker('#edDt', {
                onShow: function (ct) {
                    this.setOptions({
                        minDate: $('#stDt').val() ? $('#stDt').val() : false
                    })
                }
            });
            
            //학습 팝업 도움말
            $('.btn_help').each(function(){
                $(this).on('click', function(){
                    $(this).parent('.th_help_area').toggleClass('active').parents('.tr').siblings('.tr').find('.th_help_area').removeClass('active');
                });
            });
            $(document).on('click', function (e) {
                if(!$(e.target).parents('div').hasClass('th_help_area')){
                    $('.th_help_area').removeClass('active');
                }
            });
        });

        am5.ready(function() {
            var root = am5.Root.new("chartdiv");

            root.setThemes([
                am5themes_Animated.new(root)
            ]);

            var chart = root.container.children.push(am5xy.XYChart.new(root, {
                panX: true,
                panY: true,
                wheelX: "panX",
                wheelY: "zoomX",
                pinchZoomX:true,
                paddingLeft: 0
            }));

            var cursor = chart.set("cursor", am5xy.XYCursor.new(root, {
                behavior: "none"
            }));
            cursor.lineY.set("visible", false);

            var date = new Date();
            date.setHours(0, 0, 0, 0);
            var value = 100;

            function generateData() {
                value = Math.round((Math.random() * 10 - 5) + value);
                am5.time.add(date, "day", 1);
                return {
                    date: date.getTime(),
                    value: value
                };
            }

            function generateDatas(count) {
                var data = [];
                for (var i = 0; i < count; ++i) {
                    data.push(generateData());
                }
                return data;
            }

            var xAxis = chart.xAxes.push(am5xy.DateAxis.new(root, {
                maxDeviation: 0.2,
                baseInterval: {
                    timeUnit: "day",
                    count: 1
                },
                renderer: am5xy.AxisRendererX.new(root, {
                    minorGridEnabled:true
                }),
                tooltip: am5.Tooltip.new(root, {})
            }));

            var yAxis = chart.yAxes.push(am5xy.ValueAxis.new(root, {
                renderer: am5xy.AxisRendererY.new(root, {
                    pan:"zoom"
                })
            }));

            var series = chart.series.push(am5xy.LineSeries.new(root, {
                name: "Series",
                xAxis: xAxis,
                yAxis: yAxis,
                valueYField: "value",
                valueXField: "date",
                tooltip: am5.Tooltip.new(root, {
                    labelText: "{valueY}"
                })
            }));

            chart.set("scrollbarX", am5.Scrollbar.new(root, {
                orientation: "horizontal"
            }));

            var data = generateDatas(1200);
            series.data.setAll(data);

            series.appear(1000);
            chart.appear(1000, 100);

        });
    </script>
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="contents">
            <h1 class="logo">
                <a href="../index.html">
                    <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                </a>
            </h1>
            <div class="user_info">
                <a href="../user/index.html" class="user">
                    <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                    <span>maummcc</span>
                </a>
                <a href="javascript:void(0);" class="btn_logout">
                    <span class="blind">로그아웃</span>
                </a>
            </div>
        </div>
    </header>

    <div id="container">
        <aside id="aside">
            <nav>
                <ul class="nav">
                    <li class="ico_chart">
                        <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                        <ul class="depth">
                            <li>
                                <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/statistic.html">기간별 통계</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_database active">
                        <a href="javascript:void(0);">학습 관리</a>
                        <ul class="depth" style="display:block">
                            <li class="active">
                                <a href="../learn/dataManage.html">데이터 관리</a>
                            </li>
                            <li>
                                <a href="../learn/modelManage.html">모델 관리</a>
                            </li>
                            <li>
                                <a href="../learn/deployManage.html">배포 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_dns">
                        <a href="javascript:void(0);">시스템 상태</a>
                        <ul class="depth">
                            <li>
                                <a href="../system/monitoring.html">모니터링</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_manage">
                        <a href="javascript:void(0);">Admin</a>
                        <ul class="depth">
                            <li>
                                <a href="javascript:void(0);">조직 관리</a>
                                <ul>
                                    <li>
                                        <a href="../admin/department.html">부서 관리</a>
                                    </li>
                                    <li>
                                        <a href="../admin/user.html">사용자 관리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/auth.html">권한 관리</a>
                            </li>
                            <li>
                                <a href="../admin/menu.html">메뉴 관리</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">검증 설정</a>
                                <ul>
                                    <li>
                                        <a href="../admin/fakeCheck.html">검증 수준(Threshold) 설정</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/commonCode.html">공통코드 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="javascript:;" class="btn_toggle_aside">
                <span class="blind">메뉴 접기</span>
            </a>
        </aside>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">학습 관리</h2>
                    <h3 class="page_tit">데이터 관리</h3>
                </div>
                <div class="btn_area">
                    <button type="button" class="btn line_cool_grey30">
                        <span>템플릿 다운로드</span>
                    </button>
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('popRegister')">
                        <span>등록</span>
                    </button>
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('alertWarning')">
                        <span>삭제</span>
                    </button>
                    <button type="button" class="btn line_cool_grey30" onclick="layerShow('popLearn')">
                        <span>학습</span>
                    </button>
                </div>
            </div>

            <div class="board_top">
                <div>
                    <div class="total_num"><b>346</b> 개의 글이 있습니다.</div>
                </div>
                <div class="mla">
                    <label for="recordsPerPage" class="blind">게시글 페이지 수</label>
                    <select name="recordsPerPage" id="recordsPerPage" class="sel_board sel_visibility">
                        <option value="10" selected>10개</option>
                        <option value="20">20개</option>
                        <option value="30">30개</option>
                        <option value="40">40개</option>
                        <option value="50">50개</option>
                    </select>
                    <label for="sorting" class="blind">정렬조건</label>
                    <select name="sorting" id="sorting" class="sel_board sel_sorting">
                        <option value="asc">오름차순</option>
                        <option value="desc" selected>내림차순</option>
                    </select>
                    <div class="filter_area">
                        <button type="button" class="btn btn_text btn_filter">
                            <i class="ico_filter"></i>
                            <span>필터</span>
                        </button>

                        <div class="filter">
                            <div class="inner">
                                <dl>
                                    <dt>조회기간</dt>
                                    <dd>
                                        <div class="term_form">
                                            <label for="stDt" class="blind">조회 시작 날짜</label>
                                            <input type="text" id="stDt" class="datepicker" value="2024.08.01" readonly>
                                            <div class="swung"></div>
                                            <label for="edDt" class="blind">조회 종료 날짜</label>
                                            <input type="text" id="edDt" class="datepicker" value="2024.08.31" readonly>
                                        </div>
                                    </dd>
                                </dl>
                                <dl>
                                    <dt>
                                        <label for="condition">조회조건</label>
                                    </dt>
                                    <dd>
                                        <select name="condition" id="condition">
                                            <option value="" selected>전체</option>
                                            <option value="">제목</option>
                                            <option value="">상태</option>
                                            <option value="">학습 가능</option>
                                            <option value="">학습 불가</option>
                                        </select>
                                    </dd>
                                </dl>
                                <div class="btn_area">
                                    <button type="button" class="btn line_cool_grey30">
                                        <span>초기화</span>
                                    </button>
                                    <button type="button" class="btn fill">
                                        <span>검색</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="selected_filter">
            </div>

            <!--TODO : 데이터가 없을 때 (아래 table 태그 자체가 노출되면 안됨) : s-->
            <!--<div class="nodata">
				<p>검색 결과가 없습니다.</p>
			</div>-->
            <!--데이터가 없을 때 : e-->

            <table class="tbl_list">
                <caption>데이터 관리 : No, 학습 데이터 명, 등록자, 상태, 학습 가능 유무, 등록일시로 구성</caption>
                <colgroup>
                    <col style="width: 3.5%;min-width: 44px;">
                    <col style="width: 3.5%;min-width: 44px;">
                    <col style="width: 19%;">
                    <col style="width: 11%;">
                    <col style="width: 11%;">
                    <col style="width: 11%;">
                    <col style="width: auto;">
                </colgroup>
                <thead>
                <tr>
                    <th scope="col">
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="allChk" class="all_chk">
                            <label for="allChk">
                                <span class="blind">전체선택</span>
                            </label>
                        </div>
                    </th>
                    <th scope="col">No</th>
                    <th scope="col">학습 데이터 명</th>
                    <th scope="col">등록자</th>
                    <th scope="col">상태</th>
                    <th scope="col">학습 가능 유무</th>
                    <th scope="col">등록일시</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk10">
                            <label for="chk10">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>10</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_blue_green">등록완료</div>
                    </td>
                    <td>가능</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk9">
                            <label for="chk9">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>9</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_progress10">등록중</div>
                    </td>
                    <td>가능</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk8">
                            <label for="chk8">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>8</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_error10">오류</div>
                    </td>
                    <td>불가</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk7">
                            <label for="chk7">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>7</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_bg20">완료</div>
                    </td>
                    <td>-</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk6">
                            <label for="chk6">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>6</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <button type="button" class="badge fill_caution10" onclick="layerShow('popLearnDetail')">
                            학습중
                        </button>
                    </td>
                    <td>가능</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk5">
                            <label for="chk5">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>5</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_progress10">등록중</div>
                    </td>
                    <td>가능</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk4">
                            <label for="chk4">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>4</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_error10">오류</div>
                    </td>
                    <td>불가</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk3">
                            <label for="chk3">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>3</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_blue_green">등록완료</div>
                    </td>
                    <td>가능</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk2">
                            <label for="chk2">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>2</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_progress10">등록중</div>
                    </td>
                    <td>가능</td>
                    <td>2022.06.30</td>
                </tr>
                <tr>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" name="chk" id="chk1">
                            <label for="chk1">
                                <span class="blind">선택</span>
                            </label>
                        </div>
                    </td>
                    <td>1</td>
                    <td>카드지급결의 통합모델_A</td>
                    <td>홍길녀</td>
                    <td>
                        <div class="badge fill_error10">오류</div>
                    </td>
                    <td>불가</td>
                    <td>2022.06.30</td>
                </tr>
                </tbody>
            </table>

            <div class="pagination">
                <button type="button" class="page_nav prev disabled">
                    <span class="blind">이전</span>
                </button>
                <button type="button">
                    1
                </button>
                <span>...</span>
                <button type="button" class="active">
                    3
                </button>
                <button type="button">
                    4
                </button>
                <button type="button">
                    5
                </button>
                <span>...</span>
                <button type="button">
                    347
                </button>
                <button type="button" class="page_nav next">
                    <span class="blind">다음</span>
                </button>
            </div>
        </div>
    </div>
</div>

<!--등록 팝업 : s-->
<div id="popRegister" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">등록</strong>
            <button type="button" class="btn_close" onclick="layerHide('popRegister')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div class="file_form lg">
                <input type="file" id="attechedFile01" class="input_file" accept=".xls,.xlsx">
                <div class="file_tip">
                    <p>
                        파일을 선택하거나, Drag &amp; Drop 하세요.
                    </p>
                </div>
                <label for="attechedFile01" class="btn_file">
                    <span class="blind">파일 선택</span>
                </label>
                <div class="drop_zone">
                    <div class="area"></div>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popRegister')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>저장</span>
            </button>
        </div>
    </div>
</div>
<!--등록 팝업 : e-->

<!--학습 팝업 : s-->
<div id="popLearn" class="pop_layer">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_head">
            <strong class="pop_tit">파라미터 설정</strong>
            <button type="button" class="btn_close" onclick="layerHide('popLearn')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div class="div_write">
                <div class="tr">
                    <div class="th">
                        <strong>
                            <label for="epoch">Epoch</label>
                        </strong>
                        <div class="th_help_area">
                            <button type="button" class="btn_help">
                                <span class="blind">안내</span>
                            </button>
                            <div class="th_help">학습 데이터 셋을 학습하는 횟수 (1 ~ 100)</div>
                        </div>
                    </div>
                    <div class="td">
                        <div class="input">
                            <input type="text" id="epoch" placeholder="Epoch를 입력하세요." value="20(default)">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">
                        <strong>
                            <label for="learningRate">Learning Rate</label>
                        </strong>
                        <div class="th_help_area">
                            <button type="button" class="btn_help">
                                <span class="blind">안내</span>
                            </button>
                            <div class="th_help">학습률, 최적 값을 찾기 위한 기울기의 이동 정도 (1 ~ 10)</div>
                        </div>
                    </div>
                    <div class="td">
                        <div class="input">
                            <input type="text" id="learningRate" placeholder="Learning Rate를 입력하세요." value="0.02(default)">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">
                        <strong>
                            <label for="batchSize">Batch Size</label>
                        </strong>
                        <div class="th_help_area">
                            <button type="button" class="btn_help">
                                <span class="blind">안내</span>
                            </button>
                            <div class="th_help">학습 데이터셋 중 몇 개의 데이터를 묶어서 가중치 값을 갱신할 지 지정하는 단위 (1 ~ 16)</div>
                        </div>
                    </div>
                    <div class="td">
                        <div class="input">
                            <input type="text" id="batchSize" placeholder="Batch Size를 입력하세요." value="128(default)">
                            <button type="button" class="btn_del" tabindex="-1">
                                <span class="blind">삭제</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tr">
                    <div class="th">
                        <strong>정답셋</strong>
                    </div>
                    <div class="td">
                        <div class="file_form">
                            <input type="file" id="attechedFile02" class="input_file" accept=".xls,.xlsx">
                            <div class="file_tip">
                                <p>
                                    파일을 선택하거나, Drag &amp; Drop 하세요.
                                </p>
                            </div>
                            <label for="attechedFile02" class="btn_file">
                                <span class="blind">파일 선택</span>
                            </label>
                            <div class="drop_zone">
                                <div class="area"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('popLearn')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill">
                <span>학습실행</span>
            </button>
        </div>
    </div>
</div>
<!--학습 팝업 : e-->

<!--학습중 팝업 : s-->
<div id="popLearnDetail" class="pop_layer">
    <div class="dim"></div>
    <div class="popup lg">
        <div class="pop_head">
            <strong class="pop_tit">학습중</strong>
            <button type="button" class="btn_close" onclick="layerHide('popLearnDetail')">
                <span class="blind">닫기</span>
            </button>
        </div>
        <div class="pop_cont">
            <div id="chartdiv" style="height: 430px;"></div>
        </div>
    </div>
</div>
<!--학습중 팝업 : e-->

<!--얼럿 : s-->
<div id="alertWarning" class="system_alert">
    <div class="dim"></div>
    <div class="popup">
        <div class="pop_cont">
            <i class="ico ico_warning"></i>
            <strong class="pop_tit">삭제하시겠습니까?</strong>
        </div>
        <div class="pop_foot">
            <button type="button" class="btn line_cool_grey30" onclick="layerHide('alertWarning')">
                <span>취소</span>
            </button>
            <button type="button" class="btn fill" onclick="layerHide('alertWarning')">
                <span>확인</span>
            </button>
        </div>
    </div>
</div>
<!--얼럿 : e-->
</body>
</html>