<ul class="util">

</ul>
<div class="user_info">
    <p th:text="${loginDtm}">2024-05-02 (목) 14:23:33</p>
    <b class="tal" th:text="|${mngrNm}님|">관리자님</b>
    <ul>
        <li>
            <a href="/logout" data-title="로그아웃">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24" aria-hidden="true">
                    <path fill="#b33694" d="m12.59 13l-2.3 2.29a1 1 0 0 0 0 1.42a1 1 0 0 0 1.42 0l4-4a1 1 0 0 0 .21-.33a1 1 0 0 0 0-.76a1 1 0 0 0-.21-.33l-4-4a1 1 0 1 0-1.42 1.42l2.3 2.29H3a1 1 0 0 0 0 2ZM12 2a10 10 0 0 0-9 5.55a1 1 0 0 0 1.8.9A8 8 0 1 1 12 20a7.93 7.93 0 0 1-7.16-4.45a1 1 0 0 0-1.8.9A10 10 0 1 0 12 2Z"></path>
                </svg>
                <span class="blind">로그아웃</span>
            </a>
        </li>
    </ul>
</div>
