<th:block th:fragment="head">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title th:text="${pageTitle} + ' | IBK 예산관리시스템 자동지급결의 AI 시스템'"></title>
<meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
<meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
<meta property="og:image" content="/ClientUI/user/images/common/meta_logo.png" />
<link rel="shortcut icon" type="image/x-icon" href="/ClientUI/images/icon/favicon.ico" />

<link rel="stylesheet" href="/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

<link rel="stylesheet" href="/ClientUI/css/common.css"/>
<link rel="stylesheet" href="/ClientUI/css/style.css"/>

<script type="text/javascript" src="/ClientUI/plugins/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/jquery.nice-select.min.js"></script>

<script type="text/javascript" src="/ClientUI/js/file.js"></script>
<script type="text/javascript" src="/ClientUI/js/style.js"></script>
<script type="text/javascript" src="/ClientUI/js/common.js"></script>
</th:block>



<script type="text/javascript">
    /*TODO: 로그인*/
    /*(function($) {
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader("AJAX", true);
            },
            error: function(xhr, status, err) {
                if (xhr.status == 401) {
                    alert("인증에 실패 했습니다. 로그인 페이지로 이동합니다.");
                    $(".b-close").click();
                    location.href = "/j_spring_security_logout";
                } else if (xhr.status == 403) {
                    alert("세션이 만료가 되었습니다. 로그인 페이지로 이동합니다.");
                    $(".b-close").click();
                    location.href = "/j_spring_security_logout";
                }
            }
        });
    })(jQuery);*/
</script>
