<header id="header">
	<div class="contents">
		<h1 class="logo">
			<a href="/">
				<img src="/ClientUI/images/common/logo.svg" alt="maum MCC">
			</a>
		</h1>
		<div class="user_info">
        	<input type="hidden" id="sessionMemId" value="admin" />
        	<input type="hidden" id="sessionMemName" value="관리자" />		
			<a href="/soulGod/user/" class="user">
				<span class="first" th:text="${#strings.substring(#authentication.principal.memberInfo.memId, 0,1)}">m</span> <!--TODO : 아이디 첫 글자 노출-->
				<span>maummcc</span>
			</a>
			<a href="/logout" class="btn_logout">
				<span class="blind">로그아웃</span>
			</a>
		</div>
	</div>
</header>