<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta http-equiv="cache-control" content="no-cache" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>IBK</title>
<meta property="og:keywords" content="IBK" />
<meta property="og:description" content="IBK" />
<meta property="og:image" content="/ClientUI/user/images/common/meta_logo.png" />
<link rel="shortcut icon" type="image/x-icon" href="/ClientUI/images/icon/favicon.ico" />

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Icons" />
<!--<link rel="stylesheet" href="/ClientUI/plugins/fullPage.js-2.9.7/jquery.fullpage.css"/>-->
<link rel="stylesheet" href="/ClientUI/plugins/jqueryScrollbar/jquery.scrollbar.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/daterangepicker/daterangepicker.css"/>
<link rel="stylesheet" href="/webjars/video-js/7.1.0/video-js.css" />
<link rel="stylesheet" href="/ClientUI/plugins/dhtmlxSuite_v51/codebase/dhtmlx.css"/>
<link rel="stylesheet" href="/ClientUI/plugins/dhtmlxVault/codebase/vault.css"/>


<link rel="stylesheet" href="/ClientUI/css/editor.css"/>
<link rel="stylesheet" href="/ClientUI/css/style.css"/>
<link rel="stylesheet" href="/ClientUI/css/common.css"/>

<script type="text/javascript" src="/ClientUI/plugins/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/jquery.inputmask.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/jqueryScrollbar/jquery.scrollbar.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/jquery.nice-select.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/Ckeditor4/ckeditor.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/daterangepicker/moment.min.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/daterangepicker/daterangepicker.min.js"></script>

<script type="text/javascript" src="/ClientUI/plugins/dhtmlxSuite_v51/codebase/dhtmlx.js"></script>
<script type="text/javascript" src="/ClientUI/plugins/dhtmlxVault/codebase/vault.js"></script>

<script type="text/javascript" src="/ClientUI/js/file.js"></script>
<script type="text/javascript" src="/ClientUI/js/style.js"></script>
<script type="text/javascript" src="/ClientUI/js/common.js"></script>



<script type="text/javascript">
    /*TODO: 로그인*/
    /*(function($) {
        $.ajaxSetup({
            beforeSend: function(xhr) {
                xhr.setRequestHeader("AJAX", true);
            },
            error: function(xhr, status, err) {
                if (xhr.status == 401) {
                    alert("인증에 실패 했습니다. 로그인 페이지로 이동합니다.");
                    $(".b-close").click();
                    location.href = "/j_spring_security_logout";
                } else if (xhr.status == 403) {
                    alert("세션이 만료가 되었습니다. 로그인 페이지로 이동합니다.");
                    $(".b-close").click();
                    location.href = "/j_spring_security_logout";
                }
            }
        });
    })(jQuery);*/
</script>
