<aside id="aside">
    <nav>
        <ul class="nav">
            <li th:each="item: ${leftMenuList}"
                th:class="${item.menuColumn1}"
                th:classappend="${mc == item.menuColumn1 ? 'active' : ''}"
                th:with="children=${item.children}">
                <a href="javascript:void(0);" th:text="${item.menuName}"></a>

                <ul class="depth">
                    <li th:if="${children ne null}"
                        th:each="child: ${children}"
                        th:with="subChild=${child.children}"
                        th:classappend="${pageTitle == child.menuName ? 'active' : ''}">
                        <a th:href="${subChild eq null or subChild.size() eq 0 ? child.menuUrl : 'javascript:void(0);'}" th:text="${child.menuName}"></a>

                        <ul th:if="${subChild ne null and subChild.size() > 0}">
                            <li th:each="sub: ${subChild}"
                                th:classappend="${pageTitle == sub.menuName ? 'active' : ''}">
                                <a th:href="${sub.menuUrl}" th:text="${sub.menuName}"></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
            <!--<li class="ico_chart" th:classappend="${mc == 'report' ? 'active' : ''}">
                <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                <ul class="depth">
                    <li th:classappend="${pageTitle == 'BC카드 지급결의 내역 조회' ? 'active' : ''}">
                        <a href="/soulGod/report/card">BC카드 지급결의 내역 조회</a>
                    </li>
                    <li th:classappend="${pageTitle == '세금계산서 지급결의 내역 조회' ? 'active' : ''}">
                        <a href="/soulGod/report/taxInvoice">세금계산서 지급결의 내역 조회</a>
                    </li>
                    <li th:classappend="${pageTitle == '기간별 통계' ? 'active' : ''}">
                        <a href="/soulGod/report/statistic">기간별 통계</a>
                    </li>
                </ul>
            </li>
            <li class="ico_database" th:classappend="${mc == 'learn' ? 'active' : ''}">
                <a href="javascript:void(0);">학습 관리</a>
                <ul class="depth">
                    <li th:classappend="${pageTitle == '데이터 관리' ? 'active' : ''}">
                        <a href="/soulGod/learn/dataManage">데이터 관리</a>
                    </li>
                    <li th:classappend="${pageTitle == '모델 관리' ? 'active' : ''}">
                        <a href="/soulGod/learn/modelManage">모델 관리</a>
                    </li>
                    <li th:classappend="${pageTitle == '배포 관리' ? 'active' : ''}">
                        <a href="/soulGod/learn/deployManage">배포 관리</a>
                    </li>
                </ul>
            </li>
            <li class="ico_dns" th:classappend="${mc == 'system' ? 'active' : ''}">
                <a href="javascript:void(0);">시스템 상태</a>
                <ul class="depth">
                    <li th:classappend="${pageTitle == '모니터링' ? 'active' : ''}">
                        <a href="/soulGod/system/monitoring">모니터링</a>
                    </li>
                </ul>
            </li>
            <li class="ico_manage" th:classappend="${mc == 'admin' ? 'active' : ''}">
                <a href="javascript:void(0);">Admin</a>
                <ul class="depth">
                    <li th:classappend="${pageTitle == '부서 관리' || pageTitle == '사용자 관리' ? 'active' : ''}">
                        <a href="javascript:void(0);">조직 관리</a>
                        <ul>
                            <li th:classappend="${pageTitle == '부서 관리' ? 'active' : ''}">
                                <a href="/soulGod/admin/department">부서 관리</a>
                            </li>
                            <li th:classappend="${pageTitle == '사용자 관리' ? 'active' : ''}">
                                <a href="/soulGod/admin/user">사용자 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li th:classappend="${pageTitle == '권한 관리' ? 'active' : ''}">
                        <a href="/soulGod/admin/auth">권한 관리</a>
                    </li>
                    <li th:classappend="${pageTitle == '메뉴 관리' ? 'active' : ''}">
                        <a href="/soulGod/admin/menu">메뉴 관리</a>
                    </li>
                    <li th:classappend="${pageTitle == '검증 수준(Threshold) 설정' ? 'active' : ''}">
                        <a href="javascript:void(0);">검증 설정</a>
                        <ul>
                            <li th:classappend="${pageTitle == '검증 수준(Threshold) 설정' ? 'active' : ''}">
                                <a href="/soulGod/admin/fakeCheck">검증 수준(Threshold) 설정</a>
                            </li>
                        </ul>
                    </li>
                    &lt;!&ndash; li th:classappend="${pageTitle == '공통코드 관리' ? 'active' : ''}">
                        <a href="/soulGod/admin/commonCode">공통코드 관리</a>
                    </li&ndash;&gt;
                </ul>
            </li>-->
        </ul>
    </nav>
    <a href="javascript:;" class="btn_toggle_aside">
        <span class="blind">메뉴 접기</span>
    </a>
</aside>
