<div class="pagination">
    <th:block th:if="${params.paginationInfo.hasPreviousPage}">
        <button type="button" class="page_nav prev disabled"
                th:onclick="movePage([[${params.makeQueryString(params.paginationInfo.firstPage-1)}]], [[${params.paginationInfo.firstPage-1}]])">
            <span class="blind">이전</span>
        </button>
        <button type="button" th:onclick="movePage([[${params.makeQueryString(1)}]], 1)">
            1
        </button>
        <span>...</span>
    </th:block>
    <th:block th:each="num : ${#numbers.sequence(params.paginationInfo.firstPage, params.paginationInfo.lastPage)}">
        <th:block th:if="${params.currentPageNo == num}">
            <button type="button" class="active" th:onclick="movePage([[${params.makeQueryString(num)}]], [[${num}]])"
                    th:text="${num}"></button>
        </th:block>
        <th:block th:if="${params.currentPageNo != num}">
            <button th:if="${params.currentPageNo != num}" type="button"
                    th:onclick="movePage([[${params.makeQueryString(num)}]], [[${num}]])" th:text="${num}"></button>
        </th:block>
    </th:block>
    <th:block th:if="${params.paginationInfo.hasNextPage}">
        <span>...</span>
        <button type="button"
                th:onclick="movePage([[${params.makeQueryString(params.paginationInfo.totalPageCount)}]], [[${params.paginationInfo.totalPageCount}]])"
                th:text="${params.paginationInfo.totalPageCount}"></button>
        <button type="button" class="page_nav next"
                th:onclick="movePage([[${params.makeQueryString(params.paginationInfo.lastPage+1)}]], [[${params.paginationInfo.lastPage+1]])">
            <span class="blind">다음</span>
        </button>
    </th:block>
</div>

