<div class="pagination">
    <button type="button" class="page_nav prev disabled">
        <span class="blind">이전</span>
    </button>
    <button type="button">
        1
    </button>
    <span>...</span>
    <button type="button" class="active">
        3
    </button>
    <button type="button">
        4
    </button>
    <button type="button">
        5
    </button>
    <span>...</span>
    <button type="button">
        347
    </button>
    <button type="button" class="page_nav next">
        <span class="blind">다음</span>
    </button>
</div>