<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>모니터링 | IBK 예산관리시스템 자동지급결의 AI 시스템</title>
    <meta property="og:keywords" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:description" content="IBK 예산관리시스템 자동지급결의 AI 시스템" />
    <meta property="og:image" content="../../../static/ClientUI/user/images/common/meta_logo.png" />
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/ClientUI/images/icon/favicon.ico" />

    <link rel="stylesheet" href="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.min.css"/>

    <link rel="stylesheet" href="../../../static/ClientUI/css/common.css"/>
    <link rel="stylesheet" href="../../../static/ClientUI/css/style.css"/>

    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery-3.7.1.min.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/datetimepicker/jquery.datetimepicker.full.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/plugins/jquery.nice-select.min.js"></script>

    <script type="text/javascript" src="../../../static/ClientUI/js/file.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/style.js"></script>
    <script type="text/javascript" src="../../../static/ClientUI/js/common.js"></script>

    <style>
        .graph .chart {
            text-align: center;
        }
    </style>
</head>
<body>
<div id="wrap">
    <header id="header">
        <div class="contents">
            <h1 class="logo">
                <a href="../index.html">
                    <img src="../../../static/ClientUI/images/common/logo.svg" alt="maum MCC">
                </a>
            </h1>
            <div class="user_info">
                <a href="../user/index.html" class="user">
                    <span class="first">m</span> <!--TODO : 아이디 첫 글자 노출-->
                    <span>maummcc</span>
                </a>
                <a href="javascript:void(0);" class="btn_logout">
                    <span class="blind">로그아웃</span>
                </a>
            </div>
        </div>
    </header>

    <div id="container">
        <aside id="aside">
            <nav>
                <ul class="nav">
                    <li class="ico_chart">
                        <a href="javascript:void(0);">지급결의 AI 적용 결과 조회</a>
                        <ul class="depth">
                            <li>
                                <a href="../report/card.html">BC카드 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/taxInvoice.html">세금계산서 지급결의 내역 조회</a>
                            </li>
                            <li>
                                <a href="../report/statistic.html">기간별 통계</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_database">
                        <a href="javascript:void(0);">학습 관리</a>
                        <ul class="depth">
                            <li>
                                <a href="../learn/cardManage.html">BC카드 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/billManage.html">세금계산서 학습 데이터 등록</a>
                            </li>
                            <li>
                                <a href="../learn/templateManage.html">학습 템플릿 관리</a>
                            </li>
                            <li>
                                <a href="../learn/learningDataManage.html">학습 데이터 관리</a>
                            </li>
                            <li>
                                <a href="../learn/modelManage.html">모델 관리</a>
                            </li>
                            <li>
                                <a href="../learn/deployManage.html">배포 관리</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_dns active">
                        <a href="javascript:void(0);">시스템 상태</a>
                        <ul class="depth" style="display: block">
                            <li class="active">
                                <a href="../system/monitoring.html">모니터링</a>
                            </li>
                        </ul>
                    </li>
                    <li class="ico_manage">
                        <a href="javascript:void(0);">Admin</a>
                        <ul class="depth">
                            <li>
                                <a href="javascript:void(0);">조직 관리</a>
                                <ul>
                                    <li>
                                        <a href="../admin/department.html">부서 관리</a>
                                    </li>
                                    <li>
                                        <a href="../admin/user.html">사용자 관리</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="../admin/menu.html">메뉴 관리</a>
                            </li>
                            <li>
                                <a href="../admin/auth.html">권한 관리</a>
                            </li>
                            <li>
                                <a href="../admin/scheduler.html">학습 스케줄러 관리</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a href="javascript:;" class="btn_toggle_aside">
                <span class="blind">메뉴 접기</span>
            </a>
        </aside>

        <div class="contents">
            <div class="page_top">
                <div class="tit_area">
                    <h2 class="one_depth">시스템 상태</h2>
                    <h3 class="page_tit">모니터링</h3>
                </div>
            </div>

            <div class="box">
                <p>시스템 상태</p>
                <b class="fc_primary">정상</b>
                <!--<b class="fc_error">비정상</b>-->
            </div>

            <div class="graph_area">
                <div class="graph">
                    <h4 class="sub_tit" id="diskUse">디스크 사용량</h4>
                    <div class="chart" id="chartdiv">
                        <img src="../../../static/ClientUI/images/contents/graph02.png" alt="" style="max-width: 100%">
                    </div>
                </div>
                <div class="graph">
                    <h4 class="sub_tit">웹 어플리케이션 CPU 사용량</h4>
                    <div class="chart">
                        <img src="../../../static/ClientUI/images/contents/graph03.png" alt="" style="max-width: 100%">
                    </div>
                </div>
                <div class="graph">
                    <h4 class="sub_tit">JVM MEMORY</h4>
                    <div class="chart">
                        <img src="../../../static/ClientUI/images/contents/graph04.png" alt="" style="max-width: 100%">
                    </div>
                </div>
                <div class="graph">
                    <h4 class="sub_tit">업타임</h4>
                    <div id="processUptime">프로세스 구동중인 시간 : 00시간 01분 01초</div>
                    <table class="tbl_list mt15">
                        <caption>서비스 명, 서비스 상태로 구성</caption>
                        <colgroup>
                            <col style="width: 50%;">
                            <col style="width: 50%;">
                        </colgroup>
                        <thead>
                        <tr>
                            <th scope="col" class="tal">서비스 명</th>
                            <th scope="col">서비스 상태</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="tal">API서버 / AI엔진 :: BC카드</td>
                            <td>
                                <b id="systemStatusMcc1_1" class="fc_primary">확인중</b>
                                <!--<b class="fc_error">비정상</b>-->
                                /
                                <b id="systemStatusMcc1_2" class="fc_primary">확인중</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="tal">API서버 / AI엔진 :: 세금계산서</td>
                            <td>
                                <b id="systemStatusMcc2_1" class="fc_primary">확인중</b>
                                <!--<b class="fc_error">비정상</b>-->
                                /
                                <b id="systemStatusMcc2_2" class="fc_primary">확인중</b>
                            </td>
                        </tr>
                        <tr>
                            <td class="tal">WEB 서버</td>
                            <td>
                                <b id="systemStatusWeb" class="fc_primary">확인중</b>
                                <!--<b class="fc_error">비정상</b>-->
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>