<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mindslab.web.mapper.maria.MariaAdminDetectLevelMapper">
    
    <select id="getDetectionLevel" resultType="com.mindslab.web.vo.DetectionLevelVO">
		SELECT 
            <include refid="hc_detection_level_columns"><property name="alias" value="hdl."/></include>
        FROM 
        	HC_DETECTION_LEVEL AS hdl
        WHERE 
        	1=1
        	AND USE_STATUS = '0'
        ORDER BY LEVEL ASC
    </select>
   
    <select id="getDetectionLevelList" parameterType="com.mindslab.web.vo.DetectionLevelVO" resultType="com.mindslab.web.vo.DetectionLevelVO">
		SELECT 
            <include refid="hc_detection_level_columns"><property name="alias" value="hdl."/></include>
        FROM 
        	HC_DETECTION_LEVEL AS hdl
        WHERE 
        	1=1
        ORDER BY LEVEL ASC
    </select>
    
    <select id="getDetectionLevelHistoryList" parameterType="com.mindslab.web.vo.DetectionLevelHistoryVO" resultType="com.mindslab.web.vo.DetectionLevelHistoryVO">
		SELECT 
            <include refid="hc_detection_level_history_columns"><property name="alias" value="hdlh."/></include>
        FROM 
        	HC_DETECTION_LEVEL_HISTORY AS hdlh
        WHERE 
        	1=1
    </select>
    
    <update id="setDetectionLevel" parameterType="com.mindslab.web.vo.DetectionLevelVO">
		UPDATE 
        	HC_DETECTION_LEVEL
        SET 
        	USE_STATUS = #{useStatus}
        	, UPD_MEM_ID = #{updMemId}
        	, UPD_DATE = SYSDATE()
        WHERE 
        	1=1
        	AND SEQ = #{seq}
    </update>
    
    <update id="setDetectionLevelHistory" parameterType="com.mindslab.web.vo.DetectionLevelHistoryVO">
		INSERT INTO 
			HC_DETECTION_LEVEL_HISTORY
			(`LEVEL`
			, PREV_LEVEL
			, LEVEL_STRNG
			, PREV_LEVEL_STRNG
			, LEVEL_DESCRIPTION
			, PREV_LEVEL_DESCRIPTION
			, UPD_CLIENT_IP
			, LAST_MOD_MEM_ID
			, LAST_MOD_DATE)
		VALUES(
			#{level}
			, #{prevLevel}
			, #{levelStrng}
			, #{prevLevelStrng}
			, #{levelDescription}
			, #{prevLevelDescription}
			, #{updClientIp}
			, #{lastModMemId}
			, sysdate())

    </update>
    
    <sql id="hc_detection_level_columns">
		${alias}SEQ
		, ${alias}LEVEL
		, ${alias}LEVEL_STRNG
		, ${alias}LEVEL_DESCRIPTION
		, ${alias}USE_STATUS
		, ${alias}REG_MEM_ID
		, ${alias}REG_DATE
		, ${alias}UPD_MEM_ID
		, ${alias}UPD_DATE
		, ${alias}RM
    </sql>
    <sql id="hc_detection_level_history_columns">
	    SEQ
		, ${alias}LEVEL
		, ${alias}PREV_LEVEL
		, ${alias}LEVEL_STRNG
		, ${alias}PREV_LEVEL_STRNG
		, ${alias}LEVEL_DESCRIPTION
		, ${alias}PREV_LEVEL_DESCRIPTION
		, ${alias}UPD_CLIENT_IP
		, ${alias}LAST_MOD_MEM_ID
		, ${alias}LAST_MOD_DATE
    </sql>
    
</mapper>


	

